<div class="commit-wrapper">
    <div class="specializ-top commit">
        <p class="specializ-title">Cam kết</p>
        <span class="specializ-des lg:w-3/4 italic text-center"
            >Timona Academy tạo nền tảng kiến thức vững chắc và bệ phóng
            khởi nghiệp giúp học viên phát triển bản thân, xây dựng sự
            nghiệp, thành công trong tương lai!</span
        >
    </div>
    <div class="grid lg:grid-cols-3 grid-cols-2 gap-5">
        <div class="item-commit">
            <div class="item-icon">
                <img
                    src="../../../assets/images/homepages/homepage/icon Cam kết/1-kèm-1.png"
                    class="w-full h-full bg-indigo-900"
                    alt=""
                />
            </div>
            <div class="item-title-1">
                phương pháp đào tạo <br />
                chuẩn quốc tế <br class="lg:hidden" />
                1 kèm 1
            </div>
        </div>
        <div class="item-commit">
            <div class="item-icon">
                <img
                    src="../../../assets/images/homepages/homepage/icon Cam kết/vữ-tay-nghề.png"
                    class="w-full h-full bg-indigo-900"
                    alt=""
                />
            </div>
            <div class="item-title-1">
                ĐẢM BẢO <br />
                VỮNG TAY NGHỀ
            </div>
        </div>
        <div class="item-commit">
            <div class="item-icon">
                <img
                    src="../../../assets/images/homepages/homepage/icon Cam kết/toàn-quốc.png"
                    class="w-full h-full bg-indigo-900"
                    alt=""
                />
            </div>
            <div class="item-title-1">
                CHỨNG CHỈ NGHỀ<br />
                CÓ GIÁ TRỊ TOÀN QUỐC
            </div>
        </div>
        <div class="item-commit">
            <div class="item-icon">
                <img
                    src="../../../assets/images/homepages/homepage/icon Cam kết/hỗ-trợ-tư-vấn.png"
                    class="w-full h-full bg-indigo-900"
                    alt=""
                />
            </div>
            <div class="item-title-1">
                HỖ TRỢ TƯ
                VẤN  <br />SAU KHI HẾT KHÓA HỌC
            </div>
        </div>
        <div class="item-commit">
            <div class="item-icon">
                <img
                    src="../../../assets/images/homepages/homepage/icon Cam kết/Có-việc-làm-ngay-sau-khi-tốt-nghiệp.png"
                    class="w-full h-full bg-indigo-900"
                    alt=""
                />
            </div>
            <div class="item-title-1">
                HỖ TRỢ VIỆC LÀM <br />
                NGAY SAU KHI TỐT NGHIỆP
            </div>
        </div>
        <div class="item-commit">
            <div class="item-icon">
                <img
                    src="../../../assets/images/homepages/homepage/icon Cam kết/90-thực-hành-10-lý-thuyết.png"
                    class="w-full h-full bg-indigo-900"
                    alt=""
                />
            </div>
            <div class="item-title-1">
                90% THỰC HÀNH 10% LÝ THUYẾT<br />
                TRÊN MẪU THẬT MIỄN PHÍ
            </div>
        </div>
    </div>
</div>