<div class="lg:px-20 px-4">
    <div class="flex flex-col justify-center items-center">
        <p class="lg:text-5xl specializ-title font-bold text-white uppercase">Chuyên ngành đào tạo</p>
        <span class="item-des text-center text-white lg w-3/4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla delectus saepe ducimus, necessitatibus deserunt eos iusto minima voluptate doloribus quae, similique, hic corporis maiores magnam exercitationem reiciendis neque. Ex, perspiciatis?</span>
    </div>
    <div class="lg:grid grid-cols-3 gap-x-8 gap-y-4 pt-10 ">
        <div class="gallery-item">
            <div class="item-img "></div>
            <div class="item-info ">
                <div class="item-title lg:w-1/2">Phun xăm thẩm mỹ</div>
                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
                <div class="bg-white mx-14 rounded-lg lg:hidden">
                  <a href="#" class="!text-indigo-900">Xem thêm các khóa học khác >></a>
                </div>
              </div>
            <a class="hidden lg:block">Xem thêm >> </a>
        </div>

        <div class="gallery-item hidden">
            <div class="item-img"></div>
            <div class="item-info">
                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
           
              </div>
            <a href="#">Xem thêm >></a>
        </div>

        <div class="gallery-item hidden lg:block">
            <div class="item-img"></div>
            <div class="item-info">
                <div class="item-title">Phun xăm <br > thẩm mỹ</div>
                <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
            </div>
            <a class="#">Xem thêm >></a>
        </div>
       
        <div class="gallery-item hidden lg:block">
          <div class="item-img"></div>
          <div class="item-info">
              <div class="item-title">Phun xăm <br > thẩm mỹ</div>
              <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
          </div>
          <a class="#">Xem thêm >></a>
      </div>

      <div class="gallery-item hidden lg:block">
        <div class="item-img"></div>
        <div class="item-info">
            <div class="item-title">Phun xăm <br > thẩm mỹ</div>
            <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
        </div>
        <a class="#">Xem thêm >></a>
    </div>

    <div class="gallery-item hidden lg:block">
      <div class="item-img"></div>
      <div class="item-info">
          <div class="item-title">Phun xăm <br > thẩm mỹ</div>
          <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
      </div>
      <a class="#">Xem thêm >></a>
  </div>

  <div class="gallery-item hidden lg:block">
    <div class="item-img"></div>
    <div class="item-info">
        <div class="item-title">Phun xăm <br > thẩm mỹ</div>
        <span class="item-des">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit et qui ut libero odit quod ad velit eum autem praesentium laborum architecto ab dicta obcaecati, vitae voluptatum possimus consequuntur veniam?</span>
    </div>
    <a class="#">Xem thêm >></a>
   </div>
  
  </div>

  <div class="commit-wrapper">
    <div class="specializ-top">
        <p class="specializ-title">Cam kết</p>
        <span class="specializ-des lg:w-3/4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla delectus saepe ducimus, necessitatibus deserunt eos iusto minima voluptate doloribus quae, similique, hic corporis maiores magnam exercitationem reiciendis neque. Ex, perspiciatis?</span>
    </div>
    <div class="specializ-gallery">
        <div class="item-commit">
            <div class="item-icon">img</div>
            <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
        </div>
        <div class="item-commit">
            <div class="item-icon">img</div>
            <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
        </div>
        <div class="item-commit">
            <div class="item-icon">img</div>
            <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
        </div>
        <div class="item-commit">
            <div class="item-icon">img</div>
            <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
        </div>
        <div class="item-commit">
            <div class="item-icon">img</div>
            <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
        </div>
        <div class="item-commit">
            <div class="item-icon">img</div>
            <div class="item-title-1">phương pháp đào tạo chuẩn quốc tế 1 kèm 1</div>
        </div>
       
    </div>
</div>

<div class="lecturer-wrapper">
  <div class="specializ-top">
      <p class="specializ-title">Đội Ngũ giảng viên</p>
  </div>
  <div id="carouselExampleIndicatorss" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators !bottom-0">
      <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="0" class="active !w-2 !h-2 " style="border-radius: 50% !important; " aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="1" class="!w-2 !h-2 " style="border-radius: 50% !important; " aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="2" class="!w-2 !h-2 " style="border-radius: 50% !important; " aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner ">
      <div class="carousel-item active">
        <div class="lecturer-gallery pb-10 lg:mx-10  ">
            <div class="item-lecturer">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy1</span>
                    <div class="flex lg:block lg:pt-0 pt-2 justify-center items-center">
                      <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block"> Kiều Oanh</p>
                      <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị da</span>  
                    </div>
                    
                    <ul>
                        <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
            </div>
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
            
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
        
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="lecturer-gallery pb-10 lg:mx-10 ">
            <div class="item-lecturer">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy2</span>
                    <div class="flex lg:block lg:pt-0 pt-2 justify-center items-center">
                      <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block"> Kiều Oanh</p>
                      <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị da</span>  
                    </div>
                    
                    <ul>
                        <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
            </div>
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
            
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
        
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="lecturer-gallery pb-10 lg:mx-10">
            <div class="item-lecturer">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy3</span>
                    <div class="flex lg:block lg:pt-0 pt-2 justify-center items-center">
                      <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị <br class="hidden lg:block"> Kiều Oanh</p>
                      <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị da</span>  
                    </div>
                    
                    <ul>
                        <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
            </div>
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
            
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
        
            <div class="hidden lg:block"> 
              <div class="item-lecturer ">
                <div class="lecturer-img">img</div>
                <div class="lecturer-info">
                    <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
                    <p class="lecturer-name">Nguyễn Thị <br> Kiều Oanh</p>
                    <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                    <ul>
                        <li>15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
                        <li>Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài đứng lớp</li>
                    </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
   
  </div>

  
</div>


</div>
    
   
      



    

    

