<div class="pb-5 relative">
    <p class="text-2xl text-indigo-900 font-bold md:text-left text-center">
        Hoạt Động Nổi bật
    </p>
    <div
        class="absolute left-1/2 bottom-3 centerX h-px w-16 bg-indigo-900 md:hidden"
    ></div>
</div>
<div class="flex w-full pb-10">
    <div class="md:w-3/4 w-full flex flex-col md:pr-5">
        <div class="">
            <div class="relative w-full banner-img">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/2-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full md:block hidden"
                    alt=""
                />
                <img
                    src="../../../../../assets/images/Mobile/gochocvien/2GÓC-HỌC-VIỆN_MOBILE_WEBSITE-TIMONA.png"
                    class="w-full h-full md:hidden"
                />
            </div>

            <div class="flex flex-col justify-around lg:mx-0 px-3 md:px-0 mt-2">
                <h3
                    class="uppercase lg:text-3xl mb-2 relative font-black text-indigo-900 lg:text-left text-2xl leading-7"
                >
                    nghề spa - xu hướng nhất thời hay hướng đi bền vững
                </h3>
                <div
                    class="text-indigo-900 font-medium new-des leading-5 text-justify md:text-left"
                >
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quae ipsam nam molestias labore, quia blanditiis deserunt
                    possimus recusandae odit, tempore ea doloremque minima
                    repellat ipsa eum. Quod dicta ipsum corrupti! Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Nemo officiis
                    eligendi enim ex cum omnis eveniet. Atque soluta est, neque
                    voluptates explicabo illo, possimus alias modi, maiores
                    dolores totam vel!
                </div>

                <a routerLink="" class="text-indigo-900 !mb-0 pt-3 font-medium">
                    Xem thêm >></a
                >
            </div>
        </div>
        <div class="lg:pt-10 pt-5 relative px-3 md:px-0">
            <div class="grid md:grid-cols-2 grid-cols-1 md:gap-10 gap-5">
                <div class="cursor-pointer">
                    <div class="w-full bg-gray-200 mr-4">
                        <div class="">
                            <img
                                src="../../../../../assets/images/Desktop/gochocvien/2A-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                                class="h-full w-full"
                                alt=""
                            />
                        </div>
                    </div>
                    <div
                        class="w-full flex flex-col new-info justify-between pt-3 md:h-48"
                    >
                        <h3
                            class="md:text-lg text-indigo-900 font-black uppercase md:leading-5 leading-7 text-2xl text-justify text-md mb-2 md:mb-0"
                        >
                            Hành trình lan tỏa yêu thương trung thu trọn vẹn
                        </h3>
                        <span
                            class="pb-2 text-indigo-900 item-des leading-5 text-justify"
                            >Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Maiores temporibus unde tempora voluptatem
                            nisi reprehenderit deleniti delectus aliquid beatae
                            corrupti. Maiores temporibus unde tempora voluptatem
                            nisi reprehenderit deleniti delectus aliquid beatae
                            corrupti</span
                        >
                        <a
                            href="#"
                            class="text-indigo-900 pt-2 md:pt-0 new-link"
                            >Xem Thêm >></a
                        >
                    </div>
                </div>
                <div class="cursor-pointer">
                    <div class="w-full bg-gray-200 mr-4">
                        <div class="">
                            <img
                                src="../../../../../assets/images/Desktop/gochocvien/2b-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                                class="h-full w-full"
                                alt=""
                            />
                        </div>
                    </div>
                    <div
                        class="w-full flex flex-col new-info justify-between pt-3 md:h-48"
                    >
                        <h3
                            class="md:text-lg text-indigo-900 font-black uppercase md:leading-5 leading-7 text-2xl text-justify text-md mb-2 md:mb-0"
                        >
                            Wordshop chuyện nghề spa
                        </h3>
                        <div>
                            <p
                                class="pb-2 text-indigo-900 item-des leading-5 text-justify"
                            >
                                Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Maiores temporibus unde
                                tempora voluptatem nisi reprehenderit deleniti
                                delectus aliquid beatae corrupti. Maiores
                                temporibus unde tempora voluptatem nisi
                                reprehenderit deleniti delectus aliquid beatae
                                corrupti
                            </p>
                        </div>
                        <a
                            href="#"
                            class="text-indigo-900 pt-2 md:pt-0 new-link"
                            >Xem Thêm >></a
                        >
                    </div>
                </div>
            </div>

            <div class="md:pt-10 md:pb-0 pt-5 pb-5">
                <div class="grid md:grid-cols-2 grid-cols-1 md:gap-10 gap-5">
                    <div
                        class="flex md:flex-row flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="md:w-1/2 w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                    src="../../../../../assets/images/homepages/homepage/Thumb tin tức & sự kiện/massage-giam-cang-thang-stress.jpg"
                                    class="w-full  "
                                    alt=""
                                />
                               
                            </div>
                        </div>
                        <div
                            class="md:w-1/2 w-full flex flex-col new-info justify-center pt-3"
                        >
                            <h3
                                class=" text-md text-indigo-900 font-black uppercase text-justify md:leading-5 leading-7 mb-2 md:mb-0"
                            >
                                bạn đã biết những lợi ích thần kỳ của việc
                                massage chưa?
                            </h3>
                            <div>
                                <p
                                    class="pb-2 text-indigo-900 item-des md:hidden leading-5 text-justify"
                                >
                                    Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Maiores temporibus unde
                                    tempora voluptatem nisi reprehenderit
                                    deleniti delectus aliquid beatae corrupti.
                                    Maiores temporibus unde tempora voluptatem
                                    nisi reprehenderit deleniti delectus aliquid
                                    beatae corrupti
                                </p>
                            </div>
                            <a
                                href="#"
                                class="text-indigo-900 pt-2 md:pt-0 new-link md:hidden"
                                >Xem Thêm >></a
                            >
                        </div>
                    </div>
                    <div
                        class="flex md:flex-row flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="md:w-1/2 w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                src="../../../../../assets/images/homepages/homepage/Thumb tin tức & sự kiện/massage-giam-cang-thang-stress.jpg"
                                class="w-full  "
                                alt=""
                            />
                            </div>
                        </div>
                        <div
                            class="md:w-1/2 w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class=" text-md text-indigo-900 font-black uppercase text-justify md:leading-5 leading-7 mb-2 md:mb-0"
                            >
                                bạn đã biết những lợi ích thần kỳ của việc
                                massage chưa?
                            </p>
                            <span
                                class="pb-2 text-indigo-900 item-des md:hidden text-justify leading-5"
                                >Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Maiores temporibus unde
                                tempora voluptatem nisi reprehenderit deleniti
                                delectus aliquid beatae corrupti. Maiores
                                temporibus unde tempora voluptatem nisi
                                reprehenderit deleniti delectus aliquid beatae
                                corrupti</span
                            >
                            <a
                                href="#"
                                class="text-indigo-900 pt-2 md:pt-0 new-link md:hidden"
                                >Xem Thêm >></a
                            >
                        </div>
                    </div>
                    <div
                        class="flex md:flex-row flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="md:w-1/2 w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                    src="../../../../../assets/images/homepages/homepage/Thumb tin tức & sự kiện/massage-giam-cang-thang-stress.jpg"
                                    class="w-full  "
                                    alt=""
                                />
                            </div>
                        </div>
                        <div
                            class="md:w-1/2 w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class=" text-md text-indigo-900 font-black uppercase text-justify md:leading-5 leading-7 mb-2 md:mb-0"
                            >
                                bạn đã biết những lợi ích thần kỳ của việc
                                massage chưa?
                            </p>
                            <span
                                class="pb-2 text-indigo-900 item-des md:hidden text-justify leading-5"
                                >Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Maiores temporibus unde
                                tempora voluptatem nisi reprehenderit deleniti
                                delectus aliquid beatae corrupti. Maiores
                                temporibus unde tempora voluptatem nisi
                                reprehenderit deleniti delectus aliquid beatae
                                corrupti</span
                            >
                            <a
                                href="#"
                                class="text-indigo-900 pt-2 md:pt-0 new-link md:hidden"
                                >Xem Thêm >></a
                            >
                        </div>
                    </div>
                    <div
                        class="flex md:flex-row flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="md:w-1/2 w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                src="../../../../../assets/images/homepages/homepage/Thumb tin tức & sự kiện/massage-giam-cang-thang-stress.jpg"
                                class="w-full  "
                                alt=""
                            />
                            </div>
                        </div>
                        <div
                            class="md:w-1/2 w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class=" text-md text-indigo-900 font-black uppercase text-justify md:leading-5 leading-7 mb-2 md:mb-0"
                            >
                                bạn đã biết những lợi ích thần kỳ của việc
                                massage chưa?
                            </p>
                            <span
                                class="pb-2 text-indigo-900 item-des md:hidden text-justify leading-5"
                                >Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Maiores temporibus unde
                                tempora voluptatem nisi reprehenderit deleniti
                                delectus aliquid beatae corrupti. Maiores
                                temporibus unde tempora voluptatem nisi
                                reprehenderit deleniti delectus aliquid beatae
                                corrupti</span
                            >
                            <a
                                href="#"
                                class="text-indigo-900 pt-2 md:pt-0 new-link md:hidden"
                                >Xem Thêm >></a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-pagination></app-pagination> -->
        <div class="md:hidden pb-3">
            <div class="flex justify-center items-center relative py-3">
                <div class="bg-indigo-900 rounded-3xl p-2">
                    <a class="text-xl text-yellow-500 p-3 uppercase font-bold"
                        >lịch khai giảng</a
                    >
                </div>
                <div class="absolute w-full top-0 bg-gray-300 h-px"></div>
            </div>
            <app-form-corner></app-form-corner>
        </div>
    </div>
    <div class="w-1/4 rounded-xl hidden md:block">
        <div
            class="text-white bg-indigo-900 text-xl font-bold py-5 px-2 uppercase text-center rounded-t-xl"
        >
            danh sách khóa học
        </div>
        <app-courses></app-courses>
    </div>
</div>
