<div class="grid grid-cols-4 gaps-4 w-3/4">
    <div class="relative pl-4 ">
        <p class=" text-indigo-900 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium ">Nhíp nối mi
        </p>
        <div class="absolute rounded-full radius h-1 w-1  left-0  bg-indigo-900"></div>
      </div>
      <div class="relative pl-4 ">
        <p class=" text-indigo-900 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium ">Keo nối mi
        </p>
        <div class="absolute rounded-full radius h-1 w-1  left-0  bg-indigo-900"></div>
      </div>
      <div class="relative pl-4 ">
        <p class=" text-indigo-900 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium ">Chất tháo mi dạng keo hoặc sáp
        </p>
        <div class="absolute rounded-full radius h-1 w-1  left-0  bg-indigo-900"></div>
      </div>
      <div class="relative pl-4 ">
        <p class=" text-indigo-900 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium ">Mi giả
        </p>
        <div class="absolute rounded-full radius h-1 w-1  left-0  bg-indigo-900"></div>
      </div>
      <div class="relative pl-4 ">
        <p class=" text-indigo-900 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium ">Băng dán
        </p>
        <div class="absolute rounded-full radius h-1 w-1  left-0  bg-indigo-900"></div>
      </div>
      <div class="relative pl-4 ">
        <p class=" text-indigo-900 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium ">Chổi chải mi
        </p>
        <div class="absolute rounded-full radius h-1 w-1  left-0  bg-indigo-900"></div>
      </div>
      <div class="relative pl-4 ">
        <p class=" text-indigo-900 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium ">Quạt sấy
        </p>
        <div class="absolute rounded-full radius h-1 w-1  left-0  bg-indigo-900"></div>
      </div>
      <div class="relative pl-4 ">
        <p class=" text-indigo-900 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium ">Cốp đồ nghề nối mi
        </p>
        <div class="absolute rounded-full radius h-1 w-1  left-0  bg-indigo-900"></div>
      </div>
     
</div>