<div class="pt-4 w-full">
    <div class="flex justify-between lg:flex-row flex-col">
        <div
            class="lg:w-1/4 bg-indigo-900 h-auto rounded-2xl lg:ml-5 top-margin"
        >
            <div class="p-6">
                <h2 class="text-2xl uppercase text-yellow-500 text-center mb-0">
                    KHÓA CHĂM SÓC <br />
                    ĐIỀU TRỊ DA CHUYÊN SÂU
                </h2>

                <div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Toàn bộ kiến thức của khóa học chăm sóc, điều trị da
                            nâng ca
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Kiến thức làm kim điều trị da chuyên sâu
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Thành thạo phương pháp lăn kim điều trị da chuyên
                            sâu
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Lên phác đồ điều trị mụn, rỗ, nám, tàn nhang, lão
                            hóa…
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Quy trình chuẩn tắm trắng chuyên
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="lg:w-1/4 bg-indigo-900 h-auto rounded-2xl lg:ml-5 top-margin"
        >
            <div class="p-6">
                <h2 class="text-2xl uppercase text-yellow-500 text-center mb-0">
                    KHÓA CHĂM SÓC <br />
                    ĐIỀU TRỊ DA CHUYÊN SÂU
                </h2>

                <div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Toàn bộ kiến thức của khóa học chăm sóc, điều trị da
                            nâng ca
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Kiến thức làm kim điều trị da chuyên sâu
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Thành thạo phương pháp lăn kim điều trị da chuyên
                            sâu
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Lên phác đồ điều trị mụn, rỗ, nám, tàn nhang, lão
                            hóa…
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Quy trình chuẩn tắm trắng chuyên
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="lg:w-1/4 bg-indigo-900 h-auto rounded-2xl lg:ml-5 top-margin"
        >
            <div class="p-6">
                <h2 class="text-2xl uppercase text-yellow-500 text-center mb-0">
                    KHÓA CHĂM SÓC <br />
                    ĐIỀU TRỊ DA CHUYÊN SÂU
                </h2>

                <div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Toàn bộ kiến thức của khóa học chăm sóc, điều trị da
                            nâng ca
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Kiến thức làm kim điều trị da chuyên sâu
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Thành thạo phương pháp lăn kim điều trị da chuyên
                            sâu
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Lên phác đồ điều trị mụn, rỗ, nám, tàn nhang, lão
                            hóa…
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Quy trình chuẩn tắm trắng chuyên
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="lg:w-1/4 bg-indigo-900 h-auto rounded-2xl lg:ml-5 top-margin"
        >
            <div class="p-6">
                <h2 class="text-2xl uppercase text-yellow-500 text-center mb-0">
                    KHÓA CHĂM SÓC <br />
                    ĐIỀU TRỊ DA CHUYÊN SÂU
                </h2>

                <div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Toàn bộ kiến thức của khóa học chăm sóc, điều trị da
                            nâng ca
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Kiến thức làm kim điều trị da chuyên sâu
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Thành thạo phương pháp lăn kim điều trị da chuyên
                            sâu
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Lên phác đồ điều trị mụn, rỗ, nám, tàn nhang, lão
                            hóa…
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                    <div class="relative">
                        <p class="text-base text-white mb-0">
                            Quy trình chuẩn tắm trắng chuyên
                        </p>
                        <div
                            class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-white circle"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-4  gap-8">
    <div class="relative">
        <p class="text-base text-indigo-900 mb-0">
          Toàn bộ kiến thức của khóa học chăm sóc, điều trị da nâng ca
        </p>
        <div
          class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-intext-indigo-900 circle"
        ></div>
      </div>
      <div class="relative">
        <p class="text-base text-indigo-900 mb-0">
          Toàn bộ kiến thức của khóa học chăm sóc, điều trị da nâng ca
        </p>
        <div
          class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-indigo-900 circle"
        ></div>
      </div>
      <div class="relative">
        <p class="text-base text-indigo-900 mb-0">
          Toàn bộ kiến thức của khóa học chăm sóc, điều trị da nâng ca
        </p>
        <div
          class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-indigo-900 circle"
        ></div>
      </div>
      <div class="relative">
        <p class="text-base text-indigo-900 mb-0">
          Toàn bộ kiến thức của khóa học chăm sóc, điều trị da nâng ca
        </p>
        <div
          class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-indigo-900 circle"
        ></div>
      </div>
      <div class="relative">
        <p class="text-base text-indigo-900 mb-0">
          Toàn bộ kiến thức của khóa học chăm sóc, điều trị da nâng ca
        </p>
        <div
          class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-indigo-900 circle"
        ></div>
      </div>
      <div class="relative">
        <p class="text-base text-indigo-900 mb-0">
          Toàn bộ kiến thức của khóa học chăm sóc, điều trị da nâng ca
        </p>
        <div
          class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-indigo-900 circle"
        ></div>
      </div>
      <div class="relative">
        <p class="text-base text-indigo-900 mb-0">
          Toàn bộ kiến thức của khóa học chăm sóc, điều trị da nâng ca
        </p>
        <div
          class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-indigo-900 circle"
        ></div>
      </div>
      <div class="relative">
        <p class="text-base text-indigo-900 mb-0">
          Toàn bộ kiến thức của khóa học chăm sóc, điều trị da nâng ca
        </p>
        <div
          class="absolute w-1 h-1 rounded-full top-2.5 left-0 bg-indigo-900 circle"
        ></div>
      </div>
</div>