<div class="pb-5 relative">
    <p class="text-2xl text-indigo-900 font-bold md:text-left text-center">
        Video Nổi Bật
    </p>
    <div
        class="absolute left-1/2 bottom-3 centerX h-px w-16 bg-indigo-900 md:hidden"
    ></div>
</div>
<div class="flex w-full">
    <div class="md:w-3/4 w-full flex flex-col md:pr-5">
        <div class="">
            <div class="">
                <img
                    src="../../../assets/images/banner-new.png"
                    class="w-full h-96"
                    alt=""
                />
            </div>

            <div class="flex flex-col justify-around lg:mx-0">
                <p
                    class="uppercase lg:text-3xl mb-2 relative font-black text-indigo-900 lg:text-left pt-5 text-2xl leading-7"
                >
                    nghề spa - xu hướng nhất thời hay hướng đi bền vững
                </p>

                <a routerLink="" class="text-indigo-900 !mb-0 pt-3 font-medium">
                    Xem thêm >></a
                >
            </div>
        </div>
        <div class="pt-5 carousel-course md:hidden">
            <div
                class="text-white bg-indigo-900 text-2xl font-bold py-5 px-2 uppercase text-center rounded-t-xl"
            >
                danh sách khóa học
            </div>
         <app-carousel-course></app-carousel-course>
        </div>
        <div class="lg:pt-10 pt-5 relative">
            <div class="grid grid-cols-2 md:gap-10 gap-5">
                <div class="cursor-pointer">
                    <div class="w-full bg-gray-200 mr-4">
                        <div class="banner-img md:h-64">
                            <img
                                src="../../../assets/images/new-item.png"
                                class="h-full hidden lg:block"
                                alt=""
                            />
                            <img
                                src="../../../assets/images/new-itemmb.png"
                                class="h-full lg:hidden"
                                alt=""
                            />
                        </div>
                    </div>
                    <div
                        class="w-full flex flex-col new-info justify-between pt-3"
                    >
                        <p
                            class="md:text-lg text-indigo-900 font-black uppercase md:leading-5 leading-4 text-justify text-md"
                        >
                            bạn đã biết những lợi ích thần kỳ của việc massage
                            chưa?
                        </p>
                    </div>
                </div>
                <div class="cursor-pointer">
                    <div class="w-full bg-gray-200 mr-4">
                        <div class="banner-img md:h-64">
                            <img
                                src="../../../assets/images/new-item.png"
                                class="h-full hidden lg:block"
                                alt=""
                            />
                            <img
                                src="../../../assets/images/new-itemmb.png"
                                class="h-full lg:hidden"
                                alt=""
                            />
                        </div>
                    </div>
                    <div
                        class="w-full flex flex-col new-info justify-between pt-3"
                    >
                        <p
                            class="md:text-lg text-indigo-900 font-black uppercase md:leading-5 leading-4 text-justify text-md"
                        >
                            bạn đã biết những lợi ích thần kỳ của việc massage
                            chưa?
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="absolute h-px w-full bg-gray-300 top-0 left-0 md:hidden"
            ></div>
            <div class="md:pt-10 pt-5">
                <div class="grid md:grid-cols-3 grid-cols-2 gap-5">
                    <div
                        class="flex flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                    src="../../../assets/images/new-item.png"
                                    class="h-full hidden lg:block"
                                    alt=""
                                />
                                <img
                                    src="../../../assets/images/new-itemmb.png"
                                    class="h-full lg:hidden"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div
                            class="w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class=" text-sm text-indigo-900 font-black uppercase  md:leading-5 leading-4"
                            >
                                học phun xăm thẩm mỹ cùng chuyên gia
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                    src="../../../assets/images/new-item.png"
                                    class="h-full hidden lg:block"
                                    alt=""
                                />
                                <img
                                    src="../../../assets/images/new-itemmb.png"
                                    class="h-full lg:hidden"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div
                            class="w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class=" text-sm text-indigo-900 font-black uppercase  md:leading-5 leading-4"
                            >
                                học phun xăm thẩm mỹ cùng chuyên gia
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                    src="../../../assets/images/new-item.png"
                                    class="h-full hidden lg:block"
                                    alt=""
                                />
                                <img
                                    src="../../../assets/images/new-itemmb.png"
                                    class="h-full lg:hidden"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div
                            class="w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class=" text-sm text-indigo-900 font-black uppercase  md:leading-5 leading-4"
                            >
                                học phun xăm thẩm mỹ cùng chuyên gia
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                    src="../../../assets/images/new-item.png"
                                    class="h-full hidden lg:block"
                                    alt=""
                                />
                                <img
                                    src="../../../assets/images/new-itemmb.png"
                                    class="h-full lg:hidden"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div
                            class="w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class=" text-sm text-indigo-900 font-black uppercase  md:leading-5 leading-4"
                            >
                                học phun xăm thẩm mỹ cùng chuyên gia
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col justify-start new-item cursor-pointer"
                    >
                        <div class="w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                    src="../../../assets/images/new-item.png"
                                    class="h-full hidden lg:block"
                                    alt=""
                                />
                                <img
                                    src="../../../assets/images/new-itemmb.png"
                                    class="h-full lg:hidden"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div
                            class="w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class=" text-sm text-indigo-900 font-black uppercase  md:leading-5 leading-4"
                            >
                                học phun xăm thẩm mỹ cùng chuyên gia
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-pagination></app-pagination>
       
        <div class="md:hidden pb-3">
            <div class="flex justify-center items-center relative py-3">
                <div class="bg-indigo-900 rounded-3xl p-2">
                    <a class="text-xl text-yellow-500 p-3 uppercase font-bold"
                        >lịch khai giảng</a
                    >
                </div>
                <div class="absolute w-full top-0 bg-gray-300 h-px"></div>
            </div>
            <app-form-new></app-form-new>
        </div>
    </div>
    <div class="w-1/4 rounded-xl hidden md:block">
        <div
            class="text-white bg-indigo-900 text-xl font-bold py-5 px-2 uppercase text-center rounded-t-xl"
        >
            danh sách khóa học
        </div>
        <app-courses></app-courses>

    </div>
</div>
