<div class="pb-5 relative">
    <p class="text-2xl text-indigo-900 font-bold md:text-left text-center">
        Video Nổi Bật
    </p>
    <div
        class="absolute left-1/2 bottom-3 centerX h-px w-16 bg-indigo-900 md:hidden"
    ></div>
</div>
<div class="flex w-full">
    <div class="md:w-3/4 w-full flex flex-col md:pr-5 ">
        <div class="px-3 lg:px-0">
            <div class="md:hidden">
                <div class="">
                    <div class="video-container">
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/HjNODEFghK0"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
            <div class="pt-5 carousel-course md:hidden">
                <app-carousel-course></app-carousel-course>
            </div>
            <div class="lg:py-0 py-5 relative">
                <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                    <div
                        class="flex flex-col justify-start new-item cursor-pointer"
                        *ngFor="let item of youtubeLink"
                    >
                        <div class="w-full bg-gray-200 mr-4">
                            <div class="video-container">
                                <iframe
                                    width="560"
                                    height="315"
                                    [src]="item.link | customPipe"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                                ></iframe>
                            </div>
                        </div>
                        <div
                            class="w-full flex flex-col new-info justify-center pt-3 md:hidden"
                        >
                            <p
                                class="text-lg text-indigo-900 font-black  text-justify md:leading-5 leading-4"
                            >
                                {{ item.Tieude }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <app-pagination></app-pagination> -->
        </div>

        <div class="md:hidden pb-3">
            <div class="flex justify-center items-center relative py-3">
                <div class="bg-indigo-900 rounded-3xl p-2">
                    <a class="text-xl text-yellow-500 p-3 uppercase font-bold"
                        >lịch khai giảng</a
                    >
                </div>
                <div class="absolute w-full top-0 bg-gray-300 h-px"></div>
            </div>
            <app-form-new></app-form-new>
        </div>
    </div>
    <div class="w-1/4 rounded-xl hidden md:block">
        <div
            class="text-white bg-indigo-900 text-xl font-bold py-5 px-2 uppercase text-center rounded-t-xl"
        >
            danh sách khóa học
        </div>
        <app-courses></app-courses>
    </div>
</div>
