

.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
   
  }
  
  .example-sidenav {
    padding: 20px;
  }

  

.btn:focus{
    box-shadow: inherit
}
.dropdown-toggle::after{
    display: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
    transition: 0.4s;
}
.dropdown-menu{
    transition: 0.4s;
}



.dropdowna:hover:after {
  width: 100%;
}

.dropdown a {
  transition: all 0.4s;
}


.dropdown a:hover {

  transition: all 0.4s;
}

.navbar-links a{
    transition: all 0.4s;
}
.navbar-links a:hover{
    transition: all 0.4s;
}

.hover\:bg-gray-700:hover{
    color: #00256e !important;
background-color: rgba(253, 251, 251, 0.849);
opacity: 0.8;
}
.dropdown-item{
    color: #fff;
    transition: all 0.4s;
}
.dropdown-item:hover{
    transition: all 0.4s;
    opacity: 0.8;
    color: #00256e !important;
}
.dropdown-menu .active{
    color: #fff;
}
.dropdownMenu{
    background-color: #00256e;
    
}


.mobile-header a:hover{
    background-color: rgba(253, 251, 251, 0.849);
    color: #fff;
}