<div class="lg:max-w-7xl lg:mx-auto lg:px-8 lg:py-10">
    <div class="w-full h-1/2 flex flex-col hidden lg:block">
        <div class="pb-4 flex justify-between">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a
                            routerLink=""
                            class="inline-flex items-center font-medium text-indigo-900 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                        >
                            Home
                        </a>
                    </li>
                    <li>
                        <div class="text-indigo-900">
                            >>
                            <a
                                routerLink="/khoa-hoc"
                                class="ml-1 font-medium text-indigo-900 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
                                >Khóa Học</a
                            >
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="text-indigo-900">
                            >>
                            <span
                                class="ml-1 font-medium text-text-indigo-900 md:ml-2 dark:text-indigo-900"
                                >{{ theme.title }}</span
                            >
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class=" lg:pb-10  ">
        <p
            class="text-indigo-900 uppercase text-center text-xl lg:text-5xl text-2xl py-5"
        >
            {{ theme.title }}
        </p>

        <div [innerHTML]="theme.content" class="text-indigo-900"></div>
    </div>
</div>
