app-tintucdetail ul {
    padding-left: 40px;
    list-style: disc !important;
    list-style-type: disc !important ;
    app-tintucdetail li {
        margin-top: 8px;
        line-height: 1.25rem;
        text-align: justify;
    }
}
app-tintucdetail .image img {
    object-fit: contain;
    width: inherit;
    margin: 0 auto;
}
app-tintucdetail strong,
app-tintucdetail a {
    color: #00256e;
}
app-tintucdetail strong {
    font-weight: bold;
}
app-tintucdetail i {
    font-style: italic;
}
app-tintucdetail h3 {
    color: #00256e;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.35rem;

}
app-tintucdetail p {
    line-height: 1.25rem;
    text-align: justify;
}
