ul {
    padding-left: 40px;
    list-style: disc !important;
    list-style-type: disc !important ;
    li{
        margin-top: 8px;
    }
}
.image img{
    object-fit: contain;
    width: inherit;
   margin: 0 auto;

}