<!-- <div class="text-center lg:mx-96 pb-4 lg:pb-10">
    <div class="dropdown">
        <button
            class="btn btn-secondary bg-indigo-900 rounded-3xl dropdown-toggle relative text-lg text-yellow-500 uppercase"
            type="button"
            id="dropdownMenuButton1"
            style="width: 350px"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            xem nhanh nội dung
            <div
                class="absolute h-full bg-yellow-500 top-0"
                style="width: 2px; right: 45px"
            ></div>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong"
                    >Hoạt Động</a
                >
            </li>
            <li>
                <a
                    class="dropdown-item"
                    routerLink="/goc-hoc-vien/cam-nghi-hoc-vien"
                    >Cảm Nghĩ Học Viên</a
                >
            </li>
        </ul>
    </div>
</div> -->
<!-- 
    <div class="w-full h-1/2 flex flex-col hidden lg:block">
        <div class="pb-4 flex justify-between">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a
                            routerLink=""
                            class="inline-flex items-center font-medium text-indigo-900 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                        >
                            Home
                        </a>
                    </li>
                    <li>
                        <div class="text-indigo-900">
                            >>
                            <a
                                routerLink="/khoa-hoc"
                                class="ml-1 font-medium text-indigo-900 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
                                >Khóa Học</a
                            >
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="text-indigo-900">
                            >>
                            <span
                                class="ml-1 font-medium text-text-indigo-900 md:ml-2 dark:text-indigo-900"
                                >{{ theme.title }}</span
                            >
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div> -->

<div class="bg-indigo-900 lg:px-10 pb-5  ">
    <h3
        class="text-white uppercase text-center text-2xl lg:text-4xl py-5 md:px-0 px-3 lg:leading-10 leading-5"
    >
       {{theme.title}}
    </h3>
    <!-- <p class="text-white lg:italic text-justify leading-5">
        Spa thẩm mỹ hiện đang là một trong những ngành nghề hot nhất hiện nay.
        Với tốc độ phát triển mạnh mẽ của ngành công nghiệp làm đẹp nước ta,
        cùng với đó là nhu cầu và xu hướng làm đẹp tăng cao. Điều đó đã giúp cho
        việc kinh doanh Spa đem về mức doanh thu và nhiều lợi nhuận đáng kể cho
        chủ kinh doanh. Tuy nhiên, vẫn có những chủ kinh doanh Spa gặp thất bại
        vì nhiều lý do sau đây. Dưới đây là 4 sai lầm khiến việc kinh doanh Spa
        thất bại mà bạn cần lưu ý nếu có ý định mở Spa trong tương lai.
    </p> -->
    <div [innerHTML]="theme.des" class="text-white md:px-0 px-3 text-justify leading-5"></div>
</div>
<!-- <div class="pt-10">
    <h3 class="text-indigo-900 text-xl font-bold pb-5">1. Thiếu kinh nghiệm</h3>
    <p class="text-indigo-900 leading-5">
        Kinh nghiệm là một điều quý báu mà không phải ai cũng có được. Để có
        được kinh nghiệm đòi hỏi một người phải có sự trải nghiệm, có kiến
        thức,… Nếu quý vị đã có kinh nghiệm trong việc mở Spa thì sẽ có được
        những lợi thế hơn vì đã có được những trải nghiệm thực tế, nắm được
        những điều cần làm, nên làm để có thể vận hành Spa của mình cách tốt
        nhất.
    </p>
    <div class=" flex items-center">
        <img
            class="object-contain h-96"
            src="https://firebasestorage.googleapis.com/v0/b/timona-9c284.appspot.com/o/uploads%2Ftimona-academy-duoc-vinh-danh-thuong-hieu-2021.jpg?alt=media&amp;token=7df86b66-84a1-42d5-aa3c-76a87279b781"
        />
    </div>
    <p class="">
        Với những ai chỉ mới bắt đầu kinh doanh Spa lần đầu thì chưa thể có được
        cái gọi là kinh nghiệm mở Spa được. Và vì thiếu kinh nghiệm thực tế nên
        có thể dẫn đến việc kinh doanh Spa bị thất bại. Cụ thể như: không nắm
        bắt được xu hướng thị trường, không tìm được thiết kế - xây dựng Spa uy
        tín,… Vì thế, để việc kinh doanh Spa được thuận lợi, quý vị nên:
    </p>
    <ul class="md:ml-3 flex leading-5 mt-2">
        <li class="md:ml-3 flex leading-5">
            <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons"
                >circle</span
            >
            <span
                >Lắng nghe tư vấn từ những chuyên gia, trung tâm có kinh
                nghiệm.</span
            >
        </li>
        <li class="md:ml-3 flex leading-5">
            <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons"
                >circle</span
            >
            <span
                >Lắng nghe tư vấn từ những chuyên gia, trung tâm có kinh
                nghiệm.</span
            >
        </li>
        <li class="md:ml-3 flex leading-5">
            <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons"
                >circle</span
            >
            <span
                >Lắng nghe tư vấn từ những chuyên gia, trung tâm có kinh
                nghiệm.</span
            >
        </li>
        <li class="md:ml-3 flex leading-5">&nbsp;</li>
    </ul>
    <h3 class="text-xl text-indigo-900 font-bold pb-5">
        2. Thiếu quy trình vận hành
    </h3>
    <p>
        Thiếu quy trình vận hành Spa cũng là một trong những lý do dẫn đến việc
        kinh doanh Spa bị thất bại. Một quy trình vận hành tốt sẽ là tiền đề
        vững chắc để Spa có thể duy trì và phát triển trong tương lai. Nắm được
        quy trình vận hành tốt không chỉ giúp cho quá trình triển khai thực tế
        ít gặp phải va vấp và có thể tránh được nhiều thiếu sót. Một quy trình
        vận hành chuyên nghiệp không chỉ giúp bạn dễ dàng quản lý Spa của mình
        mà đây cũng là yếu tố quan trọng để từng con người trong Spa có thể
        nhanh chóng được phát triển. Đó là do vì sao khi có ý định mở Spa, bạn
        nên tham gia các khóa học về quản lý spa -
        <strong class="text-indigo-900 font-black"
            >chủ Spa chuyên nghiệp</strong
        >
        để nắm được quy trình vận hành mà các chuyên gia chia sẻ. Giúp bạn bắt
        đầu đi vào thực tế một cách dễ dàng hơn vì biết rõ mình phải làm gì.
    </p>
    <p class="md:ml-3 flex leading-5 mt-2">
        Một quy trình vận hành chuyên nghiệp không chỉ giúp bạn dễ dàng quản lý Spa của mình mà đây cũng là yếu tố quan trọng để từng con người trong Spa có thể nhanh chóng được phát triển. Đó là do vì sao khi có ý định mở Spa, bạn nên tham gia các khóa học về quản lý spa - <strong class="text-indigo-900 font-black">chủ Spa chuyên nghiệp</strong> để nắm được quy trình vận hành mà các chuyên gia chia sẻ. Giúp bạn bắt đầu đi vào thực tế một cách dễ dàng hơn vì biết rõ mình phải làm gì.
    </p>
</div> -->
<div [innerHTML]="theme.content1 |tintucdetail" class="text-indigo-900 md:px-0 px-3"></div>
<!-- <div class="pt-10">
    <h3 class="text-indigo-900 text-2xl font-bold pb-5">
        1. Thiếu kinh nghiệm
    </h3>
    <p class="text-indigo-900 leading-5 text-justify">
        Kinh nghiệm là một điều quý báu mà không phải ai cũng có được. Để có được kinh nghiệm đòi hỏi một người phải có sự trải nghiệm, có kiến thức,… Nếu quý vị đã có kinh nghiệm trong việc mở Spa thì sẽ có được những lợi thế hơn vì đã có được những trải nghiệm thực tế, nắm được những điều cần làm, nên làm để có thể vận hành Spa của mình cách tốt nhất.
    </p>
    <div class="flex items-center justify-center">
        <figure class="image">
            <img class="object-contain md:h-96" src="https://firebasestorage.googleapis.com/v0/b/timona-9c284.appspot.com/o/uploads%2Ftimona-academy-duoc-vinh-danh-thuong-hieu-2021.jpg?alt=media&amp;token=7df86b66-84a1-42d5-aa3c-76a87279b781">
        </figure>
    </div>
  
    <p class="">
        &nbsp;
    </p>
    <div>
        <p class="leading-5 text-justify">
            Với những ai chỉ mới bắt đầu kinh doanh Spa lần đầu thì chưa thể có được cái gọi là kinh nghiệm mở Spa được. Và vì thiếu kinh nghiệm thực tế nên có thể dẫn đến việc kinh doanh Spa bị thất bại. Cụ thể như: không nắm bắt được xu hướng thị trường, không tìm được thiết kế - xây dựng Spa uy tín,… Vì thế, để việc kinh doanh Spa được thuận lợi, quý vị nên:
        </p>
        <ul>
            <li class="md:ml-3 flex leading-5 mt-2">
                <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons">circle</span> <span>Lắng nghe tư vấn từ những chuyên gia, trung tâm có kinh nghiệm.</span>
            </li>
            <li class="md:ml-3 flex leading-5 mt-2">
                <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons">circle</span> <span>Lắng nghe tư vấn từ những chuyên gia, trung tâm có kinh nghiệm.</span>
            </li>
            <li class="md:ml-3 flex leading-5 mt-2">
                <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons">circle</span> <span>Lắng nghe tư vấn từ những chuyên gia, trung tâm có kinh nghiệm.</span>
            </li>
            <li class="md:ml-3 flex leading-5 mt-2">
                &nbsp;
            </li>
        </ul>
        <h3 class="text-2xl text-indigo-900 font-bold pb-5">
            2. Thiếu quy trình vận hành
        </h3>
        <p class="leading-5 text-justify">
            Thiếu quy trình vận hành Spa cũng là một trong những lý do dẫn đến việc kinh doanh Spa bị thất bại. Một quy trình vận hành tốt sẽ là tiền đề vững chắc để Spa có thể duy trì và phát triển trong tương lai. Nắm được quy trình vận hành tốt không chỉ giúp cho quá trình triển khai thực tế ít gặp phải va vấp và có thể tránh được nhiều thiếu sót.
        </p>
        <p>
            &nbsp;
        </p>
        <p class="leading-5 text-justify">
            Một quy trình vận hành chuyên nghiệp không chỉ giúp bạn dễ dàng quản lý Spa của mình mà đây cũng là yếu tố quan trọng để từng con người trong Spa có thể nhanh chóng được phát triển. Đó là do vì sao khi có ý định mở Spa, bạn nên tham gia các khóa học về quản lý spa - <strong class="text-indigo-900 font-black">chủ Spa chuyên nghiệp</strong> để nắm được quy trình vận hành mà các chuyên gia chia sẻ. Giúp bạn bắt đầu đi vào thực tế một cách dễ dàng hơn vì biết rõ mình phải làm gì.
        </p>
        <p class="leading-5 ">
            &nbsp;
        </p>
    </div>
    <div class="flex items-center justify-center">
        <figure class="image">
            <img class="object-contain md:h-96" src="https://firebasestorage.googleapis.com/v0/b/timona-9c284.appspot.com/o/uploads%2Ftimona-academy-duoc-vinh-danh-thuong-hieu-2021.jpg?alt=media&amp;token=7df86b66-84a1-42d5-aa3c-76a87279b781">
        </figure>
    </div>
    <div>
        <p>
            &nbsp;
        </p>
        <h3 class="text-2xl text-indigo-900 font-bold pb-5">
            3. Thiếu kế hoạch kinh doanh bài bản
        </h3>
        <p class="text-justify leading-5">
            Bất kỳ lĩnh vực ngành nghề nào cũng cần phải có những kế hoạch kinh doanh bài bản. Trong số đó, kế hoạch để marketing cho trung tâm Spa của mình là điều mà các doanh nghiệp mới thường chưa chú ý hay chưa tập trung đẩy mạnh.
        </p>
        <p class="text-justify leading-5">
            <br>
            Việc thiếu kế hoạch marketing tìm kiếm khách hàng có chiều sâu chính là một nguyên nhân dễ dẫn đến thất bại khi kinh doanh Spa. Thông thường, các trung tâm Spa mới chỉ tập trung giới thiệu thương hiệu và tìm kiếm khách hàng trên Facebook.
        </p>
        <p class="text-justify leading-5">
            <br>
            Tuy nhiên, có rất nhiều cách để marketing cho Spa của bạn hiệu quả hơn như các hình thức chạy marketing quảng cáo trên facebook, google, youtube,… Ngoài ra, bạn cũng nên nghĩ đến việc xây dựng một website chuẩn SEO cho Spa của mình. Cùng với đó là việc đẩy trang web của bạn lên top công cụ tìm kiếm sẽ giúp việc marketing diễn ra hiệu quả hơn.
        </p>
        <p class="text-justify leading-5">
            <br>
            Để đẩy mạnh marketing trong kinh doanh Spa, bạn cũng nên có những buổi tổ chức sự kiện để quảng bá thương hiệu. Các chương trình ưu đãi dành cho những khách hàng check in tại trung tâm,… Việc tương tác với khách hàng sẽ đem lại nhiều hiệu quả trong việc đưa hình ảnh công ty đến gần hơn với các khách hàng tiềm năng khác.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <br>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <h3 class="text-2xl text-indigo-900 font-bold pb-5">
            4. Thiếu bản sắc của riêng mình
        </h3>
        <p class="text-justify leading-5">
            Khi có ý định mở Spa, bạn nên có suy nghĩ về việc xây dựng bản sắc riêng cho trung tâm spa của mình. Ngày nay có rất nhiều trung tâm Spa chất lượng trên thị trường, thế nên khách hàng có rất nhiều lựa chọn và họ có thể lãng quên bạn nếu bạn không có gì thật sự nổi bật.
        </p>
        <p>
            &nbsp;
        </p>
    </div>
    <div class="flex items-center justify-center">
        <figure class="image">
            <img class="object-contain md:h-96" src="https://firebasestorage.googleapis.com/v0/b/timona-9c284.appspot.com/o/uploads%2Ftimona-academy-duoc-vinh-danh-thuong-hieu-2021.jpg?alt=media&amp;token=7df86b66-84a1-42d5-aa3c-76a87279b781">
        </figure>
    </div>
    <p>
        &nbsp;
    </p>
    <p class="text-justify leading-5">
        <span>Vì thế, hãy suy nghĩ về màu sắc riêng cho Spa của bạn để khách hàng có thể ấn tượng, yêu thích và có ý định quay lại Spa của bạn trong tương lai.</span>
    </p>
    <ul>
        <li class="md:ml-3 flex leading-5 mt-2">
            <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons">circle</span><span>Thiết kế, trang trí là cách để tạo nên nét riêng. Hãy để khách hàng cảm thấy thoải mái và thích thú khi đến với trung tâm Spa của bạn nhé.</span>
        </li>
        <li class="md:ml-3 flex leading-5 mt-2">
            <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons">circle</span> <span>Một lá thư nhỏ để cảm ơn khách hàng khi họ đã đến Spa của bạn cũng là một cách thu hút và làm hài lòng khách hàng của bạn.</span>
        </li>
        <li class="md:ml-3 flex leading-5 mt-2">
            <span class="text-xs mr-3 mt-1 text-indigo-900 material-icons">circle</span> <span>Sử dụng dòng mỹ phẩm chuyên biệt sẽ giúp Spa của bạn có được một nét riêng rất đặc trưng. Nếu khách hàng hài lòng với dòng mỹ phẩm đó, chắc chắn họ sẽ phải quay lại Spa của bạn.</span>
        </li>
        <li class="md:ml-3 flex leading-5 mt-2">
            &nbsp;
        </li>
    </ul>
    <p class="text-justify leading-5">
        Như vậy, nếu bạn đã có ý định mở Spa thì cần học hỏi, chuẩn bị và sẵn sàng đầu tư để có thể đạt kết quả tốt nhất. Tham gia các <strong class="text-indigo-900 font-black">khóa học đào tạo quản lý Spa chuyên nghiệp</strong> &nbsp;tại Timona Academy để có được một bắt đầu thuận lợi nhé. Liên hệ hotline: <strong class="text-indigo-900 font-black">1900 2109</strong> để nhận được sự tư vấn ngay hôm nay.
    </p>
</div> -->