

.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
   
  }
  
  .example-sidenav {
    padding: 20px;
  }

  

.btn:focus{
    box-shadow: inherit
}
.dropdown-toggle::after{
  color: #fff;
}

.dropdown:hover .dropdown-menu{
    display: block;
    transition: all 1s;
}




.dropdowna:hover:after {
  width: 100%;
  transition: all 0.4s;
}

.dropdown a {
  transition: all 0.4s;
}


.dropdown a:hover {

  transition: all 0.4s;
}

.navbar-links a{
    transition: all 0.4s;
}
.navbar-links a:hover{
    transition: all 0.4s;
}

.btn:hover a, .dropdown-toggle:hover:after {
    color: #f7d900 !important;
    background-color: inherit;
    opacity: 0.8;
    transition: all 0.4s;
}
.cont_icon_trg{
    transform: translateX(-50%);
    top: -15px;
}

.dropdown-item{
    color: rgb(83, 82, 82);
    transition: all 0.4s;
    padding: 10px 10px;
    border-radius: 10px;
}
.dropdown-item:hover{
    transition: all 0.4s;
    opacity: 0.8;
    color: #fff !important;
    background-color: #f7d900;
   
}
.dropdown-menu .active{
    color: #fff;
    transition: all 0.4s;
}
.dropdown-menu li{
    margin: 10px;
}
.item-link a{ 
    transition: all 0.4s;
}

.item-link>a:hover{
    color: #f7d900 !important;
    transition: all 0.4s;
}

.mobile-header a:hover{
    background-color: #f7d900;
    color: #fff;
    padding: 10px 10px;
}
.btn-secondary:hover{
  background-color: #00256e;
}