

.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  
  height: 100%;
 
}
.header{
  transform: translateY(-100%);
  transition: 1s;
}
.header-active{
  transform: translateY(0%);
  right: 0;
  top: 0;
  
  transition: 1s;
  position: fixed !important;
  width: 100%;
}
.example-sidenav {
  padding: 20px;
}

.backtotop{
  opacity: 0;
  transition: 0.5s;
  transform: translateY(50%);
}
.backtotop-active{
  opacity: 1;
  transition: 0.5s;
  transform: translateY(0%);

}



.btn:focus{
  box-shadow: inherit
}
.dropdown-toggle::after{
display: none;
}
.menu-active{
  color: #f7d900 !important;
}
.menu-item{
  color: white;
}
.menu-item:hover{
  color:#f7d900
}
.dropdown:hover .dropdown-menu{
  display: block;
  transition: all 1s;
}




.dropdowna:hover:after {
width: 100%;
transition: all 0.4s;
}

.dropdown a {
transition: all 0.4s;
}


.dropdown a:hover {

transition: all 0.4s;
}

.navbar-links a{
  transition: all 0.4s;
}
.navbar-links a:hover{
  transition: all 0.4s;
}

.btn:hover a, .dropdown-toggle:hover:after {
  color: #f7d900 !important;
  background-color: inherit;
  opacity: 0.8;
  transition: all 0.4s;
}
.cont_icon_trg{
  transform: translateX(-50%);
  top: -15px;
}

.dropdown-item{
  color: rgb(83, 82, 82);
  transition: all 0.4s;
  padding: 10px 10px;
  border-radius: 10px;
}
.dropdown-item:hover{
  transition: all 0.4s;
  opacity: 0.8;
  color: #fff !important;
  background-color: #f7d900;
 
}
.dropdown-menu .active{
  color: #fff;
  transition: all 0.4s;
}
.dropdown-menu li{
  margin: 10px;
}
.item-link a{ 
  transition: all 0.4s;
}

.item-link>a:hover{
  color: #f7d900 !important;
  transition: all 0.4s;
}

.mobile-header a:hover{
  background-color: #f7d900;
  color: #fff;
  padding: 10px 10px;
}
.btn-secondary:hover{
background-color: #00256e;
}
.mat-expansion-panel-header{
padding: 0 35px 0 0 !important;
}
.mat-expansion-panel-header:hover, .mat-expansion-panel-bod{
background: #00256e !important;
}
.mat-focus-indicato{
position: inherit !important;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
box-shadow: inherit !important;
}
.mat-expansion-panel-header.mat-expanded{
height: inherit;
}
.mat-expansion-panel-body{
padding: inherit;
}
.dropdown-toggle{
  padding-top: 0; padding-bottom: 0;
}
.dropdown{
  padding: 10px 0;
}
.dropdown-menu{
  display: none;
}
.dropdown:hover>.dropdown-menu {
	display: block ;
  margin: 0;
  } 
  @media only screen and (max-width: 762px){
    nav{
      position: fixed;
    }
   
  }