<section class="lg:max-w-7xl mx-auto lg:px-2 px-3 lg:px-6 lg:px-8 lg:pb-5 overflow-hidden">
    <div class="md:pt-5">
        <div class="pb-10 hidden md:block" *ngIf="danhmucs?.length > 0">
            <ul class="flex">
                <li class=" mr-5" *ngFor="let item of danhmucs[0].children"><a class="py-1 px-5  font-bold text-xl rounded-xl  new-text" routerLink="{{item.Slug}}" routerLinkActive="new-active">{{item.Tieude}}</a></li>
            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>