.new-text{
    color: #00256e;
}
.new-active {
    background-color: #00256e;
    color: white !important;
    padding: 0 10px;
}
ul{
    list-style: none !important;
    list-style-type: none !important;
}