<div class="mx-6 lg:mx-0">
    <div class="flex flex-col justify-center items-center">
        <p class="lg:text-5xl specializ-title font-bold text-white uppercase">
            Chuyên ngành đào tạo
        </p>
        <span
            class="item-des text-justify text-justify lg:text-center text-white lg:w-3/4 italic"
            >Nhằm đáp ứng nhu cầu làm đẹp ngày càng cao của xã hội, Timona
            Academy chú trọng đào tạo đa dạng và bài bản các chuyên ngành thẩm
            mỹ từ cơ bản đến chuyên sâu với giáo trình học độc quyền 1 kèm 1,
            phương pháp đào tạo theo tiêu chuẩn quốc tế.
        </span>
    </div>

    <div
        class="lg:grid md:grid lg:grid-cols-3 md:grid-cols-2 gap-x-20 gap-y-8 pt-4"
    >
        <div class="gallery-item">
            <a routerLink="/khoa-hoc/theme1">
                <div class="text-2xl relative">
                    <img
                        src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/Phun xăm thẩm mỹ.png"
                        class="w-full h-full item-img"
                    />
                    <div
                        class="absolute top-0 left-0 w-full h-full bg-black hover-img"
                    ></div>
                    <i class="absolute left-1/2 top-1/2 icon-hover"
                        ><img
                            class=""
                            src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/icon-view.svg"
                            alt=""
                    /></i>
                </div>
                <div class="item-info">
                    <div class="item-title">Phun xăm thẩm mỹ</div>
                    <span class="item-des text-justify font-medium" 
                    >Phun xăm thẩm mỹ được mệnh danh là nghề "hốt bạc" trong
                    thời đại làm đẹp lên ngôi như hiện nay. Với cơ hội nghề
                    nghiệp cao, thu nhập khủng lên tới 30 triệu đồng/ tháng,
                    tiết kiệm chi phí, thời gian học tập. Đây chắc chắn là
                    lựa chọn lý tưởng cho bạn trẻ ngoài con đường đại học,
                    cao đẳng. NHƯNG HỌC Ở ĐÂU để vững kiến thức, chắc tay
                    nghề, học xong là có đầy đủ kỹ năng để xin việc
                    ngay?</span
                >
                    <div class="md:hidden lg:hidden">
                        <a
                            href="#"
                            class="!text-indigo-900 button bg-white rounded-lg"
                            >Xem thêm các khóa học khác >></a
                        >
                    </div>
                </div>
                <a class="hidden md:block lg:block">Xem thêm >> </a>
            </a>
        </div>

        <a
            class="gallery-item hidden md:block lg:block"
            routerLink="/khoa-hoc/theme2"
        >
            <div class="text-2xl relative">
                <img
                    src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/Kỹ thuật viên chuyên nghiệp.png"
                    class="w-full h-full item-img"
                />
                <div
                    class="absolute top-0 left-0 w-full h-full bg-black hover-img"
                ></div>
                <i class="absolute left-1/2 top-1/2 icon-hover"
                    ><img
                        class=""
                        src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/icon-view.svg"
                        alt=""
                /></i>
            </div>
            <div class="item-info">
                <div class="item-title">KỸ THUẬT VIÊN SPA</div>
                <span class="item-des text-justify" 
                    >Dễ học, dễ tìm việc làm, không yêu cầu bằng cấp đầu vào,
                    thu nhập ổn định… chính là những yếu tố giúp nghề kỹ thuật
                    viên Spa trở thành xu hướng “hot” chiếm lĩnh thị trường làm
                    đẹp hiện nay. Không chỉ thu hút giới trẻ mà mọi đối tượng
                    nam nữ, kể cả những người ở độ tuổi trung niên cũng tham gia
                    khóa học. Đặc biệt, sự phát triển và cơ hội việc làm, thăng
                    tiến trong ngành spa luôn luôn được mở rộng theo nhu cầu làm
                    đẹp của con người.</span
                >
            </div>
            <a class="#">Xem thêm >></a>
        </a>

        <a class="gallery-item hidden lg:block" routerLink="/khoa-hoc/theme3">
            <div class="text-2xl relative">
                <img
                    src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/nối mi.png"
                    class="w-full h-full item-img"
                />
                <div
                    class="absolute top-0 left-0 w-full h-full bg-black hover-img"
                ></div>
                <i class="absolute left-1/2 top-1/2 icon-hover"
                    ><img
                        class=""
                        src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/icon-view.svg"
                        alt=""
                /></i>
            </div>
            <div class="item-info">
                <div class="item-title">NỐI MI CHUYÊN NGHIỆP</div>
                <span class="item-des text-justify" text-justify
                    >Nhu cầu làm đẹp trở thành tất yếu cũng là lúc người người
                    nhà nhà đổ xô đi học nối mi chuyên nghiệp. Nghề nối mi đã có
                    mặt ở rất nhiều quốc gia trên thế giới và phát triển mạnh mẽ
                    tại Hàn quốc, Nhật Bản, Mỹ, Pháp… Tại Việt Nam, trong một
                    vài năm trở lại đây, nghề này ngày càng khẳng định vị thế
                    trong lĩnh vực chăm sóc sắc đẹp. Sự phát triển của nghề nối
                    mi vừa mang tới cơ hội việc làm nhưng lại vừa là thách thức
                    về sự cạnh tranh khốc liệt, đòi hỏi những ai muốn theo đuổi
                    nghề này cần nỗ lực hết mình.</span
                >
            </div>
            <a class="#">Xem thêm >></a>
        </a>

        <a class="gallery-item hidden lg:block" routerLink="/khoa-hoc/theme2">
            <div class="text-2xl relative">
                <img
                    src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/Combo-chủ-spa.png"
                    class="w-full h-full item-img"
                />
                <div
                    class="absolute top-0 left-0 w-full h-full bg-black hover-img"
                ></div>
                <i class="absolute left-1/2 top-1/2 icon-hover"
                    ><img
                        class=""
                        src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/icon-view.svg"
                        alt=""
                /></i>
            </div>
            <div class="item-info">
                <div class="item-title">COMBO CHỦ SPA</div>
                <span class="item-des text-justify" 
                    >Mỗi năm có hơn 2.000 đơn vị spa từ quy mô nhỏ đến lớn được
                    mở ra trên toàn quốc. Để thành công, những chủ spa cần có
                    đầy đủ kiến thức, kỹ năng và tư duy lãnh đạo toàn diện mới
                    có thể gây dựng doanh nghiệp phát triển bền vững trên thị
                    trường. Với khóa học Chủ Spa chuyên nghiệp, học viên sẽ được
                    truyền dạy nền tảng kiến thức quản lý spa tốt nhất từ setup
                    máy móc thiết bị đến nhân sự, tài chính, chăm sóc khách hàng
                    cho đến xây dựng chiến dịch quảng cáo PR, marketing tiếp cận
                    khách hàng cho spa… Sau khi kết thúc khóa học, học viên sẽ
                    tự tin điều hành một cơ sở spa hiệu quả, mang lợi nhuận cho
                    doanh nghiệp.</span
                >
            </div>
            <a class="#">Xem thêm >></a>
        </a>

        <a class="gallery-item hidden lg:block" routerLink="/khoa-hoc/theme3">
            <div class="text-2xl relative">
                <img
                    src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/Master thẩm mỹ.png"
                    class="w-full h-full item-img"
                />
                <div
                    class="absolute top-0 left-0 w-full h-full bg-black hover-img"
                ></div>
                <i class="absolute left-1/2 top-1/2 icon-hover"
                    ><img
                        class=""
                        src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/icon-view.svg"
                        alt=""
                /></i>
            </div>
            <div class="item-info">
                <div class="item-title">master thẩm mỹ</div>
                <span class="item-des text-justify" 
                    >Học viên sẽ được đào tạo bài bản tất tần tật những kiến
                    thức, kinh nghiệm từ cơ bản đến nâng cao: Cách xây dựng phác
                    đồ điều trị tất cả bệnh lý về da như mụn, sẹo rỗ, nám, tàn
                    nhang... Ngoài ra, các bạn học viên còn được đào tạo phương
                    pháp điều trị da bằng những công nghệ hiện đại nhất hiện nay
                    như PRP, lăn kim, phi kim... Sau khi tốt nghiệp học viên sẽ
                    có đầy đủ kiến thức, kỹ năng để trở thành chuyên viên spa,
                    thẩm mỹ hàng đầu và có thể làm việc tại các spa, thẩm mỹ
                    viện lớn hoặc mở spa của riêng mình.</span
                >
            </div>
            <a class="#">Xem thêm >></a>
        </a>

        <a class="gallery-item hidden lg:block" routerLink="/khoa-hoc/theme1">
            <div class="text-2xl relative">
                <img
                    src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/gội-đầu-sinh-dưỡng-a.png"
                    class="w-full h-full item-img"
                />
                <div
                    class="absolute top-0 left-0 w-full h-full bg-black hover-img"
                ></div>
                <i class="absolute left-1/2 top-1/2 icon-hover"
                    ><img
                        class=""
                        src="../../../assets/images/homepages/homepage/Ngành ĐT (xong)/icon-view.svg"
                        alt=""
                /></i>
            </div>
            <div class="item-info">
                <div class="item-title">GỘI ĐẦU DƯỠNG SINH</div>
                <span class="item-des text-justify" 
                    >Nhịp sống hiện đại với nhiều áp lực, stress… nhiều người
                    tìm đến các liệu pháp chăm sóc, làm đẹp, đặc biệt là gội đầu
                    dưỡng sinh, thư giãn tại spa. Không chỉ tại Việt Nam, ngay
                    cả các quốc gia phát triển như Hàn Quốc, Mỹ… Spa, gội đầu
                    dưỡng sinh đang trở thành định hướng nghề nghiệp đầy tiềm
                    năng, tạo công ăn việc làm và thu nhập cao cho người lao
                    động. Tốt nghiệp khóa học gội đầu dưỡng sinh tại Timona
                    Academy, học viên hoàn toàn tự tin tìm kiếm cơ hội việc làm
                    tại các spa, thẩm mỹ viện lớn với mức lương khủng, thậm chí
                    có thể mở các dịch vụ làm đẹp, gội đầu dưỡng sinh của riêng
                    mình.</span
                >
            </div>
            <a class="#">Xem thêm >></a>
        </a>
    </div>

    <div class="commit-wrapper">
        <div class="specializ-top commit">
            <p class="specializ-title">Cam kết</p>
            <span class="specializ-des lg:w-3/4 italic text-justify"
                >Timona Academy tạo nền tảng kiến thức vững chắc và bệ phóng
                khởi nghiệp giúp học viên phát triển bản thân, xây dựng sự
                nghiệp, thành công trong tương lai!</span
            >
        </div>
        <div class="specializ-gallery">
            <div class="item-commit">
                <div class="item-icon">
                    <img
                        src="../../../assets/images/homepages/homepage/icon Cam kết/1-kèm-1.png"
                        class="w-full h-full bg-indigo-900"
                        alt=""
                    />
                </div>
                <div class="item-title-1">
                    phương pháp đào tạo <br />
                    chuẩn quốc tế <br class="lg:hidden" />
                    1 kèm 1
                </div>
            </div>
            <div class="item-commit">
                <div class="item-icon">
                    <img
                        src="../../../assets/images/homepages/homepage/icon Cam kết/vữ-tay-nghề.png"
                        class="w-full h-full bg-indigo-900"
                        alt=""
                    />
                </div>
                <div class="item-title-1">
                    ĐẢM BẢO <br />
                    VỮNG TAY NGHỀ
                </div>
            </div>
            <div class="item-commit">
                <div class="item-icon">
                    <img
                        src="../../../assets/images/homepages/homepage/icon Cam kết/toàn-quốc.png"
                        class="w-full h-full bg-indigo-900"
                        alt=""
                    />
                </div>
                <div class="item-title-1">
                    CHỨNG CHỈ NGHỀ<br />
                    CÓ GIÁ TRỊ TOÀN QUỐC
                </div>
            </div>
            <div class="item-commit">
                <div class="item-icon">
                    <img
                        src="../../../assets/images/homepages/homepage/icon Cam kết/hỗ-trợ-tư-vấn.png"
                        class="w-full h-full bg-indigo-900"
                        alt=""
                    />
                </div>
                <div class="item-title-1">
                    HỖ TRỢ TƯ
                    VẤN  <br />SAU KHI HẾT KHÓA HỌC
                </div>
            </div>
            <div class="item-commit">
                <div class="item-icon">
                    <img
                        src="../../../assets/images/homepages/homepage/icon Cam kết/Có-việc-làm-ngay-sau-khi-tốt-nghiệp.png"
                        class="w-full h-full bg-indigo-900"
                        alt=""
                    />
                </div>
                <div class="item-title-1">
                    HỖ TRỢ VIỆC LÀM <br />
                    NGAY SAU KHI TỐT NGHIỆP
                </div>
            </div>
            <div class="item-commit">
                <div class="item-icon">
                    <img
                        src="../../../assets/images/homepages/homepage/icon Cam kết/90-thực-hành-10-lý-thuyết.png"
                        class="w-full h-full bg-indigo-900"
                        alt=""
                    />
                </div>
                <div class="item-title-1">
                    90% THỰC HÀNH 10% LÝ THUYẾT<br />
                    TRÊN MẪU THẬT MIỄN PHÍ
                </div>
            </div>
        </div>
    </div>

    <div class="lecturer-wrapper">
        <div class="specializ-top lg:pt-10 pt-4">
            <p class="specializ-title">Đội Ngũ giảng viên</p>
        </div>
        <!-- <div id="carouselExampleIndicatordesktop" class="carousel slide hidden lg:block  desktop" data-bs-ride="carousel">
      <div class="carousel-indicators ">
        <button type="button" data-bs-target="#carouselExampleIndicatordesktop" data-bs-slide-to="0"
          class="active !w-2 !h-2 " style="border-radius: 50% !important; " aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicatordesktop" data-bs-slide-to="1" class="!w-2 !h-2 "
          style="border-radius: 50% !important; " aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicatordesktop" data-bs-slide-to="2" class="!w-2 !h-2 "
          style="border-radius: 50% !important; " aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner ">
        <div class="carousel-item active">
          
        </div>
        <div class="carousel-item">
         
        </div>
        <div class="carousel-item">
         
        </div>
      </div>
    </div> -->
        <swiper
            [pagination]="{
                dynamicBullets: true,
                clickable: true
            }"
            class="mySwiper hidden lg:block"
        >
            <ng-template swiperSlide
                ><div class="lecturer-gallery pb-10">
                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/GĐ--KIỀU-OANH.png"
                                    class="w-full z-10 h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>
                        <div class="lecturer-info">
                            <span class="lecturer-title"
                                >Giám đốc học viện Timona Acdemy</span
                            >
                            <div
                                class="flex lg:block lg:pt-0 pt-2 justify-center items-center"
                            >
                                <p class="lecturer-name flex-1 lg:flex-none">
                                    Nguyễn Thị Kiều Oanh
                                </p>
                                <span
                                    class="lecturer-specializ flex-1 lg:flex-none"
                                    >Trưởng bộ môn chăm sóc điều trị da</span
                                >
                            </div>

                            <ul>
                                <li class="lg:text-end">
                                    15 năm kinh nghiệm làm việc, giảng dạy trong
                                    ngành thẩm mỹ
                                </li>
                                <li class="lg:text-end">
                                    Chứng nhận nhiều khóa điều trị da liễu cho
                                    bác sĩ/ chuyên gia nước ngoài đứng lớp
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Hoàng-Anh.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="lecturer-title">Giảng viên</span>
                            <p class="lecturer-name">Tiền Ngọc Hoàng Anh</p>
                            <span class="lecturer-specializ"
                                >Trưởng bộ môn chăm sóc điều trị da</span
                            >
                            <ul>
                                <li>
                                    10 năm kinh nghiệm trong ngành chăm sóc điều
                                    trị da
                                </li>
                                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                                <li>
                                    Cố vấn chuyên môn tại hệ thống viện thẩm mỹ
                                    Quốc tế
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thúy-Hằng.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="lecturer-title">Giảng viên</span>
                            <p class="lecturer-name">NGUYỄN THỊ THÚY HẰNG</p>
                            <span class="lecturer-specializ"
                                >Phó bộ môn chăm sóc và điều trị da</span
                            >
                            <ul>
                                <li>
                                    12 năm kinh nghiệm làm việc và giảng dạy bộ
                                    môn chăm sóc, điều trị da
                                </li>
                                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                                <li>
                                    Từng đảm nhiệm vị trí trưởng bộ phận tại các
                                    thẩm mỹ viện uy tín Tp. HCM
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="hidden lg:block">
                        <div class="item-lecturer">
                            <div class="lecturer-img relative">
                                <div
                                    class="h-full absolute z-10"
                                    style="width: 150px"
                                >
                                    <img
                                        src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Kiều-Oanh.png"
                                        class="w-full h-full"
                                    />
                                </div>
                                <div class="border-shadow"></div>
                                <div class="shadow-bottom"></div>
                            </div>

                            <div class="lecturer-info">
                                <span class="lecturer-title">Giảng Viên</span>
                                <p class="lecturer-name">
                                    Nguyễn Thị Kiều Oanh
                                </p>
                                <span class="lecturer-specializ"
                                    >Trưởng bộ môn chăm sóc điều trị da</span
                                >
                                <ul>
                                    <li>
                                        09 năm kinh nghiệm làm việc và giảng dạy
                                        bộ môn chăm sóc, điều trị da
                                    </li>
                                    <li>Chứng chỉ nghiệp vụ sư phạm</li>
                                    <li>
                                        Từng đảm nhiệm vị trí trưởng phòng/ bộ
                                        phận tại các thẩm mỹ viện uy tín hàng
                                        đầu
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div></ng-template
            ><ng-template swiperSlide>
                <div class="lecturer-gallery pb-10">
                    <div>
                        <div class="item-lecturer">
                            <div class="lecturer-img relative">
                                <div
                                    class="h-full absolute z-10"
                                    style="width: 150px"
                                >
                                    <img
                                        src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thúy-Quyên.png"
                                        class="w-full h-full"
                                    />
                                </div>
                                <div class="border-shadow"></div>
                                <div class="shadow-bottom"></div>
                            </div>

                            <div class="lecturer-info">
                                <span class="lecturer-title">Giảng Viên</span>
                                <div
                                    class="flex lg:block lg:pt-0 pt-2 justify-center items-center"
                                >
                                    <p
                                        class="lecturer-name flex-1 lg:flex-none"
                                    >
                                        võ Thị THÚY QUYÊN
                                    </p>
                                    <span
                                        class="lecturer-specializ flex-1 lg:flex-none"
                                        >Trưởng bộ môn phun xăm thẩm mỹ</span
                                    >
                                </div>

                                <ul>
                                    <li class="lg:text-end">
                                        10 năm kinh nghiệm giảng dạy trong ngành
                                        phun xăm thẩm mỹ
                                    </li>

                                    <li>
                                        Giải nhất cuộc thi The best eyebrow
                                        tattoo Master Asia Awards 2016
                                    </li>
                                    <li>
                                        Giám khảo cuộc thi phun thêu quốc tế
                                        Thái Lan – Việt Nam từ 2016 - 2018
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Tú-Loan.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="lecturer-title">Giảng viên</span>
                            <p class="lecturer-name">NGUYỄN THỊ TÚ LOAN</p>
                            <span class="lecturer-specializ"
                                >Phó bộ môn phun xăm thẩm mỹ</span
                            >
                            <ul>
                                <li>
                                    10 năm kinh nghiệm giảng dạy trong ngành
                                    phun xăm thẩm mỹ
                                </li>
                                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                                <li>
                                    Giải nhất cuộc thi Master Global PMU 2019
                                    hạng mục Skill Líp PEN
                                </li>
                                <li>
                                    Chứng chỉ Vietnam PMU Championship 2020 &
                                    New Face PMU 2020
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Maria-Nguyễn.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="lecturer-title">Giảng viên</span>
                            <p class="lecturer-name">MARIA NGUYỄN</p>
                            <span class="lecturer-specializ"
                                >Giảng viên bộ môn phun xăm thẩm mỹ
                            </span>
                            <ul>
                                <li>
                                    12 năm kinh nghiệm làm việc và giảng dạy bộ
                                    môn chăm sóc, điều trị da
                                </li>
                                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                                <li>
                                    Từng đảm nhiệm vị trí trưởng bộ phận tại các
                                    thẩm mỹ viện uy tín Tp. HCM
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thu-Thủy.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="lecturer-title">Giảng viên</span>
                            <p class="lecturer-name">NGUYỄN THỊ THUY THỦY</p>
                            <span class="lecturer-specializ"
                                >Giảng viên bộ môn điều trị da & Massage Body
                            </span>
                            <ul>
                                <li>08 năm kinh nghiệm trong ngành thẩm mỹ</li>
                                <li>
                                    Tốt nghiệp ngành massage body tại Thai
                                    Massage School of Chiang Mai (Thái Lan)
                                </li>
                                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="lecturer-gallery pb-10">
                    <div>
                        <div class="item-lecturer">
                            <div class="lecturer-img relative">
                                <div
                                    class="h-full absolute z-10"
                                    style="width: 150px"
                                >
                                    <img
                                        src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thu-Hạnh.png"
                                        class="w-full h-full"
                                    />
                                </div>
                                <div class="border-shadow"></div>
                                <div class="shadow-bottom"></div>
                            </div>
                            <div class="lecturer-info">
                                <span class="lecturer-title">Giảng Viên</span>
                                <div
                                    class="flex lg:block lg:pt-0 pt-2 justify-center items-center"
                                >
                                    <p
                                        class="lecturer-name flex-1 lg:flex-none"
                                    >
                                        VÕ THỊ THU HẠNH
                                    </p>
                                    <span
                                        class="lecturer-specializ flex-1 lg:flex-none"
                                        >Giảng viên bộ môn chăm sóc và điều trị
                                        da
                                    </span>
                                </div>

                                <ul>
                                    <li class="lg:text-end">
                                        15 năm kinh nghiệm giảng dạy trong ngành
                                        phun xăm thẩm mỹ
                                    </li>
                                    <li class="lg:text-end">
                                        Từng tu nghiệp ngành làm đẹp tại Hàn
                                        Quốc
                                    </li>
                                    <li>
                                        Giảng viên tại nhiều trường đào tạo
                                        nghề: FPT Polo, Sài Gòn Sako
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Nguyễn-thị-Hằng.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="lecturer-title">Giảng viên</span>
                            <p class="lecturer-name">NGUYỄN THỊ HẰNG</p>
                            <span class="lecturer-specializ"
                                >Giảng viên bộ môn chăm sóc và điều trị da
                            </span>
                            <ul>
                                <li>
                                    6 năm kinh nghiệm làm việc và giảng dạy bộ
                                    môn chăm sóc, điều trị da
                                </li>
                                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                                <li>
                                    Đảm nhận nhiều vị trí quan trọng như trưởng
                                    bộ phận các chuỗi thẩm mỹ viện uy tín, quản
                                    lý nhiều cơ sở thẩm mỹ tại TP.HCM.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thị-Tuyết.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="lecturer-title">Giảng viên</span>
                            <p class="lecturer-name">NGÔ THỊ TUYẾT</p>
                            <span class="lecturer-specializ"
                                >Giảng viên bộ môn phun xăm
                            </span>
                            <ul>
                                <li>
                                    7 năm làm việc và giảng dạy chuyên ngành
                                    Phun xăm thẩm mỹ
                                </li>
                                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                                <li>
                                    Đạt nhiều thành tích trong các cuộc thi tay
                                    nghề quốc tế
                                </li>
                                <li>
                                    Xem việc giáo dục ngành thẩm mỹ như cách thể
                                    hiện đam mê của mình, cô luôn mong muốn gửi
                                    gắm đến học viên những kiến thức, kỹ thuật
                                    phun xăm hoàn hảo nhất
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="item-lecturer">
                        <div class="lecturer-img relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Anh-Thư.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="lecturer-title">Giảng Viên</span>
                            <p class="lecturer-name">TRẦN THỊ ANH THƯ</p>
                            <span class="lecturer-specializ"
                                >Giảng viên bộ môn điều trị da & Nối mi
                            </span>
                            <ul>
                                <li>
                                    06 năm kinh nghiệm làm việc và giảng dạy bộ
                                    môn nail, nối mi
                                </li>
                                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                            </ul>
                        </div>
                    </div>
                </div></ng-template
            >
        </swiper>

        <swiper
            [pagination]="{
                dynamicBullets: true,
                clickable: true
            }"
            class="mySwiper  lg:hidden"
        >
            <ng-template swiperSlide
                ><div class="item-lecturer pb-10 justify-between">
                    <div class="lecturer-img lecturer-img_mobile relative">
                        <div
                            class="h-full absolute z-10 bottom-0"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/GĐ--KIỀU-OANH.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="lecturer-title"
                            >Giám đốc học viện Timona Acdemy</span
                        >
                        <div class="flex py-2 flex-col">
                            <p class="lecturer-name mb-0 flex-1 lg:flex-none">
                                Nguyễn Thị <br class="hidden lg:block" />
                                Kiều Oanh
                            </p>
                            <span class="lecturer-specializ flex-1 lg:flex-none"
                                >Trưởng bộ môn chăm sóc điều trị da</span
                            >
                        </div>

                        <ul>
                            <li class="lg:text-end">
                                15 năm kinh nghiệm làm việc, giảng dạy trong
                                ngành thẩm mỹ
                            </li>
                            <li class="lg:text-end">
                                Chứng nhận nhiều khóa điều trị da liễu cho bác
                                sĩ/ chuyên gia nước ngoài đứng lớp
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide
                ><div class="item-lecturer pb-10 justify-between">
                    <div class="lecturer-img lecturer-img_mobile relative">
                        <div class="h-full absolute z-10" style="width: 150px">
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Hoàng-Anh.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="lecturer-title">Giảng viên</span>
                        <div class="flex flex-col py-2">
                            <p class="lecturer-name mb-0">
                                Tiền Ngọc Hoàng Anh
                            </p>
                            <span class="lecturer-specializ"
                                >Trưởng bộ môn chăm sóc điều trị da</span
                            >
                        </div>

                        <ul>
                            <li>
                                10 năm kinh nghiệm trong ngành chăm sóc điều trị
                                da
                            </li>
                            <li>Chứng chỉ nghiệp vụ sư phạm</li>
                            <li>
                                Cố vấn chuyên môn tại hệ thống viện thẩm mỹ Quốc
                                tế
                            </li>
                        </ul>
                    </div>
                </div></ng-template
            >
            <ng-template swiperSlide>
                <div class="item-lecturer pb-10 justify-between">
                    <div class="lecturer-img lecturer-img_mobile relative">
                        <div class="h-full absolute z-10" style="width: 150px">
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thúy-Hằng.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="lecturer-title">Giảng viên</span>
                        <div class="flex flex-col py-2">
                            <p class="lecturer-name mb-0">
                                NGUYỄN THỊ THÚY HẰNG
                            </p>
                            <span class="lecturer-specializ"
                                >Phó bộ môn chăm sóc và điều trị da</span
                            >
                        </div>

                        <ul>
                            <li>
                                12 năm kinh nghiệm làm việc và giảng dạy bộ môn
                                chăm sóc, điều trị da
                            </li>
                            <li>Chứng chỉ nghiệp vụ sư phạm</li>
                            <li>
                                Từng đảm nhiệm vị trí trưởng bộ phận tại các
                                thẩm mỹ viện uy tín Tp. HCM
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="item-lecturer pb-10 justify-between">
                    <div class="lecturer-img lecturer-img_mobile relative">
                        <div class="h-full absolute z-10" style="width: 150px">
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thúy-Quyên.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="lecturer-title">Giảng Viên</span>
                        <div class="flex flex-col py-2">
                            <p class="lecturer-name mb-0 flex-1 lg:flex-none">
                                võ Thị THÚY QUYÊN
                            </p>
                            <span class="lecturer-specializ flex-1 lg:flex-none"
                                >Trưởng bộ môn phun xăm thẩm mỹ</span
                            >
                        </div>

                        <ul>
                            <li class="lg:text-end">
                                10 năm kinh nghiệm giảng dạy trong ngành phun
                                xăm thẩm mỹ
                            </li>
                            <li class="lg:text-end">
                                Chứng chỉ nghiệp vụ sư phạm
                            </li>
                            <li>
                                Giải nhất cuộc thi The best eyebrow tattoo
                                Master Asia Awards 2016
                            </li>
                            <li>
                                Giám khảo cuộc thi phun thêu quốc tế Thái Lan –
                                Việt Nam từ 2016 - 2018
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <ng-template slideshow>
                <div class="item-lecturer">
                    <div class="lecturer-img lecturer-img_mobile relative">
                        <div class="h-full absolute z-10" style="width: 150px">
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Kiều-Oanh.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="lecturer-title">Giảng Viên</span>
                        <div class="flex flex-col py-2">
                            <p class="lecturer-name mb-0">
                                Nguyễn Thị Kiều Oanh
                            </p>
                            <span class="lecturer-specializ"
                                >Trưởng bộ môn chăm sóc điều trị da</span
                            >
                        </div>

                        <ul>
                            <li>
                                09 năm kinh nghiệm làm việc và giảng dạy bộ môn
                                chăm sóc, điều trị da
                            </li>
                            <li>Chứng chỉ nghiệp vụ sư phạm</li>
                            <li>
                                Từng đảm nhiệm vị trí trưởng phòng/ bộ phận tại
                                các thẩm mỹ viện uy tín hàng đầu
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>
