<div>
    <div class="form-sale w-full relative hidden lg:block lg:max-w-6xl lg:mx-auto ">
        <div class="text-5xl text-white absolute left-0 w-full box-shadow ">
            <img
                src="../../../assets/images/homepages/homepage/Đăng ký kháo học/Dangkykhoahoc.png"
                class="w-full h-full top-0 left"
                alt=""
            />
        </div>
        <div class="form-wrapper rounded-2xl w-full ">
                <form class="form-submit relative w-full">
                   <div class="absolute right-20 top-1/2" style="transform: translateY(-50%)"> 
                    <p class="text-white text-center mx-3 pb-2 leading-5 ">
                        Vui lòng để lại thông tin ở bên dưới, bộ phận tuyển sinh
                        sẽ liên hệ tư vấn<br />
                        MIỄN PHÍ cho bạn sau ít phút.
                    </p>

                    <div class="flex justify-between pb-3">
                        <input
                            type="text"
                            id="username-success"
                            class="border border-none bg-white text-black-900 placeholder-black-700 mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                            placeholder="HỌ TÊN"
                        />
                        <input
                            type="text"
                            id="username-success"
                            class="border border-none bg-white text-black-900 placeholder-black-700 ml-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                            placeholder="SỐ ĐIỆN THOẠI"
                        />
                    </div>

                    <div class="flex justify-between mt-3 pb-2">
                        <input
                            type="text"
                            id="username-success"
                            class="border border-none bg-white text-black-900 placeholder-black-700 mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                            placeholder="MÃ GIỚI THIỆU"
                        />

                        <select
                            id="countries"
                            class="g-green-50 border border-none text-black-900 placeholder-black-700 rounded-lg focus:ring-black-500 focus:border-black-500 ml-3 block p-1.5 dark:bg-black-100 dark:border-black-400"
                        >
                            <option>KHÓA HỌC</option>
                            <option class="" *ngFor="let item of courses">
                                {{ item.title }}
                            </option>
                        </select>
                    </div>
                    <div class="flex justify-between mt-3 pb-2">
                        <select
                            id="countries"
                            class="g-green-50 border border-none text-black-900 placeholder-black-700 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                        >
                            <option class="">CHỌN ĐỊA ĐIỂM</option>
                            <option class="">TP.HCM</option>
                            <option class="">NHA TRANG</option>
                            <option class="">ĐÀ NẴNG</option>
                        </select>
                        <button class="">
                            đăng kí ngay
                        </button>
                    </div>

                   
                   </div>
                  
                </form>
        </div>
    </div>

    <div class="formsale-mobile rounded-lg lg:hidden relative mb-10">
        <div class="absolute top-0 z-0 w-full h-full">
            <img
                src="../../../../../assets/images/homepages/homepage/Đăng ký kháo học/form-mb.jpg"
                class="w-full h-full"
                alt=""
            />
        </div>
        <form class="form-submit flex flex-col pb-8 justify-center items-center absolute">
            <p class="text-white text-center px-3 leading-5">
                Vui lòng để lại thông tin ở bên dưới, bộ phận tuyển sinh <br /> sẽ liên
                hệ tư vấn MIỄN PHÍ cho bạn sau ít phút.
            </p>
            <input
                type="text"
                id="username-success"
                class="border bg-white border-none text-black-900 placeholder-black-700 rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="HỌ TÊN"
            />
            <input
                type="text"
                id="username-success"
                class="border bg-white border-none text-black-900 placeholder-black-700 rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="SỐ ĐIỆN THOẠI"
            />
            <input
                type="text"
                id="username-success"
                class="border border-none bg-white text-black-900 placeholder-black-700 rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="MÃ GIỚI HIỆU"
            />

            <select
                id="countries"
                class="g-green-50 border border-none text-black-900 placeholder-black-700 rounded-lg focus:ring-black-500 focus:border-black-500 mx-2 mt-4 block p-1.5 dark:bg-black-100 dark:border-black-400"
            >
                <option class="text-black-700">KHÓA HỌC</option>
                <option class="text-black-700" *ngFor="let item of courses">
                    {{ item.title }}
                </option>
            </select>

            <select
                id="countries"
                class="g-green-50 border border-none text-black-900 placeholder-black-700 rounded-lg focus:ring-black-500 focus:border-black-500 mx-2 mt-4 block p-1.5 dark:bg-black-100 dark:border-black-400"
            >
                <option class="text-black-700">CHỌN ĐỊA ĐIỂM</option>
                <option class="text-black-700">TP.HCM</option>
                <option class="text-black-700">NHA TRANG</option>
                <option class="text-black-700">ĐÀ NẴNG</option>
            </select>

            <button class="text-center !w-full mx-32 p-3 rounded-lg flex items-center justify-center">
                đăng kí ngay
            </button>
        </form>
    </div>
</div>
