<div>
    <div
      class="form-sale relative hidden lg:block lg:max-w-7xl lg:mx-auto lg:px-8"
    >
      <div class="text-5xl text-white absolute left-0 w-full">
        <img
          src="../../../assets/images/homepages/homepage/Đăng ký kháo học/Dangkykhoahoc.png"
          class="w-full h-full top-0 left"
          alt=""
        />
      </div>
      <div class="form-wrapper rounded-2xl">
        <div class=" ml-10 ">
          <form class="form-submit relative ">
            <div class="flex justify-between pb-3">
              <input
                type="text"
                id="username-success"
                class="border border-none bg-white text-black-900 placeholder-black-700  mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="HỌ TÊN"
              />
              <input
                type="text"
                id="username-success"
                class="border border-none bg-white text-black-900 placeholder-black-700  ml-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="SỐ ĐIỆN THOẠI"
              />
            </div>

            <div class="flex justify-between mt-3 pb-2">
              <input
                type="text"
                id="username-success"
                class="border border-none bg-white text-black-900 placeholder-black-700  mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="MÃ GIỚI THIỆU"
              />

              <select
                id="countries"
                class="g-green-50 border border-none text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 focus:border-black-500 ml-3 block p-1.5 dark:bg-black-100 dark:border-black-400"
              >
                <option>KHÓA HỌC</option>
              </select>
            </div>

            <button class="absolute bottom-0">đăng kí ngay</button>
          </form>
        </div>
      </div>
    </div>

    <div class="formsale-mobile bg-indigo-900 rounded-lg lg:hidden">
      <div class="flex justify-center items-center pt-5 text-white text-5xl">
        480*500
      </div>
      <form class="form-submit pb-8 justify-center items-center">
        <input
          type="text"
          id="username-success"
          class=" border bg-white  border-none text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="HỌ TÊN"
        />
        <input
          type="text"
          id="username-success"
          class=" border bg-white  border-none text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="SỐ ĐIỆN THOẠI"
        />
        <input
          type="text"
          id="username-success"
          class=" border border-none bg-white  text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="MÃ GIỚI HIỆU"
        />

        <select
          id="countries"
          class="g-green-50 border border-none text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 focus:border-black-500 mx-2 mt-4 block p-1.5 dark:bg-black-100 dark:border-black-400"
        >
          <option class="text-black-700">KHÓA HỌC</option>
        </select>

        <button class="text-center !w-full mx-32 rounded-lg">
          đăng kí ngay
        </button>
      </form>
    </div>
</div>
