<div class="">
    <div class="w-full bg-red-100 relative" style="height: 300px">
        <img
            src="../../../../../assets/images/Desktop/gochocvien/1-LAYOUT_GOCHOCVIEN_DESKTOP.jpg"
            alt=""
            class="absolute left-0 h-full hidden md:block"
        />
        <img
            src="../../../../../assets/images/Mobile/gochocvien/4-GÓC-HỌC-VIỆN_MOBILE_WEBSITE-TIMONA.png"
            alt=""
            class="absolute left-0 h-full md:hidden"
        />
    </div>
</div>
<div class="py-10 lg:px-0 px-3">
    <div
        class="grid md:grid-cols-4 grid-cols-1 gap-5"
        *ngIf="danhmucs?.length > 0"
    >
        <a
            routerLink="{{ item.Slug }}"
            class="text-center block"
            *ngFor="let item of danhmucs[0].children.reverse()"
        >
            <div class="">
                <img src="{{ item.Image }}" class="w-full h-full" alt="" />
            </div>
            <p
                class="text-2xl uppercase text-indigo-900 pt-3 pb-2 mb-0 font-bold"
            >
                {{ item.Tieude }}
            </p>
            <div [innerHTML]="item.Mota" class="text-indigo-900 font-medium text-lg md:text-base"></div>
        </a>
    </div>
    <div class="md:hidden">
        <div class="flex justify-center items-center relative py-5">
            <div class="bg-indigo-900 rounded-3xl p-2">
                <a class="text-xl text-yellow-500 p-3 uppercase font-bold"
                    >lịch khai giảng</a
                >
            </div>
            <div class="absolute w-full top-0 bg-gray-300 h-px"></div>
        </div>
        <app-form-corner></app-form-corner>
    </div>
</div>
