<section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8 bg-red     -100">

    

    <div class="text-center mt-10 mx-96 ">
        <div class="dropdown">
            <button
                class="btn btn-secondary bg-indigo-900 rounded-3xl px-5 dropdown-toggle relative  text-2xl text-yellow-500 uppercase"
                type="button" id="dropdownMenuButton1" style="width: 500px;" data-bs-toggle="dropdown" aria-expanded="false">
                
                hỏi đáp cùng timona Academy
                <div class="absolute h-full bg-yellow-500 top-0 " style="width: 2px; right: 40px;"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                
                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong">Hoạt Động</a></li>
                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/cam-nghi-hoc-vien">Cảm Nghĩ Học Viên</a></li>
            </ul>
        </div>

    </div>

    <div class="lg:pt-10 w-full h-1/2 flex flex-col  hidden lg:block">
        <div class="pb-5">
            <div class="text-base text-indigo-900">Home >> Góc Học Viên >> Hỏi Đáp Cùng Timona Academy</div>
        </div>
    </div>

    <div class="">
        <div class="w-full bg-red-100 relative" style="height: 300px;">
            <img src="../../../assets/images/lienhe.png " class="absolute left-0 h-full"/>
            <div
                class="absolute text-indigo-900 font-black text-5xl uppercase left-1/2 z-10 top-1/2 contact-center hidden lg:block center-img">
                <p class="text-5xl">Giải Đáp</p>
                <p class="text-xl">Phản phản hồi tất cả thắc mắc của học viên</p>
            </div>
            <div class="absolute  bg-gray-100 right-0 w-1/4 right-0 h-full contact-center z-2 hidden lg:block img">
            </div>
        </div>
    </div>

    <div class="pt-10">
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn đăng ký học phun xăm thì có cần năng khiếu không?</h2>
            <p class="">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos temporibus at suscipit eveniet
                tempore eum fugiat reprehenderit dignissimos consequatur soluta repellat adipisci neque, aperiam
                voluptas et modi molestiae explicabo hic? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde
                et fugiat labore commodi repudiandae magnam veritatis non soluta, ea rerum earum quis est reprehenderit
                corporis cupiditate voluptatem totam eius! Officiis.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Học nghề Spa thu nhập có ổn định không?Em thích học nghề Spa nhưng sợ không có việc thì sao ạ?</h2>
            <p class="">Chào bạn, mình là Thu Hằng hiện đang là giảng viên tại học viện đào tạo đào tạo thẩm mỹ chuyên nghiệp Timona Academy. Hiện nay nghề Spa đang có nhu cầu tuyển dụng cao gấp 10 lần khối ngành kinh tế, việc thất nghiệp là hoàn toàn không thể. Chưa kể với hệ thống Spa đối tác lớn và uy tin, sau khi tốt nghiệp tại học viện Timona Academy bạn còn được cam kết hỗ trợ 100% việc làm. Giờ thì bạn có thể hoàn toàn yên tâm để theo đuổi nghề spa mà không lo thất nghiệp nữa nhé!</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Học nghề Spa thu nhập có ổn định không?</h2>
            <p class="">Chào bạn, mình là Tuyết hiện đang là giảng viên tại học viện đào tạo đào tạo thẩm mỹ chuyên nghiệp Timona Academy, mình xin giải đáp câu hỏi của bạn như sau: Nghề Spa được đánh giá là ngành nghề có mức thu nhập tốt nhất thị trường hiện tại và tương lai bạn nhé. Đối với các bạn học viên mới ra trường mức lương cố định mỗi tháng sẽ giao động từ 8 đến 12 triệu (mức lương bao gồm lương cứng, hoa hồng, tips…) Còn những bạn đã có tay nghề tốt thì mức lương sẽ giao động từ 10 đến 20 triệu. Đây là mức thu nhập cố định của 1 kỹ thuật viên chuyên nghiệp. Ngoài ra, các bạn còn có thể nhận thêm khách hàng chăm sóc da tại nhà là bạn bè, người thân… để tăng mức thu nhập cực tốt nha.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em là nam giới có học được nghề Spa hay không?</h2>
            <p class="">Chào bạn, mình là Tiến hiện đang là giảng viên nam tại học viện đào tạo đào tạo thẩm mỹ chuyên nghiệp Timona Academy. Câu trả lời tất nhiên là được rồi bạn nhé. Hiện nay 30% học viên tại Timona Academy là nam giới, rất nhiều bạn học viên nam rất giỏi chỉ cần học thời gian ngắn thôi đã thành thạo tay nghề. Không có bất cứ giới hạn hay quy định nào không cho nam giới theo đuổi đam mê,đừng để giới tính ngăn cản đam mê của mình, chỉ cần được làm công việc yêu thích bạn sẽ ngày càng hạnh phúc với lựa chọn phải không nào.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Mỗi lớp học kỹ thuật viên có bao nhiêu người ạ? Em lo đông quá em không theo kịp.</h2>
            <p class="">Chào bạn, mình là Hoàng Anh hiện đang là giảng viên trưởng tại học viện đào tạo đào tạo thẩm mỹ chuyên nghiệp Timona Academy. Hiện nay mỗi khóa học tại Timona Academy chỉ dao động từ 10 đến 15 học viên. Bởi Timona hiểu được rằng lớp học vừa đủ học viên thì đội ngũ giảng viên sẽ dễ dàng theo dõi, hướng dẫn và 1 kèm 1 với tất cả học viên. Vì vậy, bạn có thể hoàn toàn yên tâm về tay nghề của mình ngay sau khi tốt nghiệp, Timona Academy luôn cam kết 100% chất lượng đầu ra của học viên bạn nhé.</p>
        </div>
        <div class="flex flex-col pt-3">
            <h2 class="text-base text-indigo-900 mb-2">Em muốn học nghề Spa nhưng không biết bắt đầu từ đâu, giờ em nên chọn học gì trước ạ?</h2>
            <p class="">Xin chào bạn, mình tên là Loan hiện đang là giảng viên bộ môn Spa tại học viện đào tạo thẩm mỹ Quốc Tế Timona Academy. Mình xin giải đáp câu hỏi của bạn như sau: Đối với nghề Spa hay bất cứ ngành nghề nào bạn cũng cần bắt đầu với nền tảng kiến thức cơ bản, vững chắc. Nếu bạn thực sự yêu thích ngành Spa, thẩm mỹ mình khuyên rằng bạn nên bắt đầu bằng khóa kỹ thuật viên Spa chuyên nghiệp tại Timona Academy để có đầy đủ kiến thức, kỹ năng để trở thành 1 chuyên viên thẩm mỹ thực thụ. Nếu bạn vẫn còn lo lắng mình có phù hợp với nghề hay không hãy đăng ký ngay khóa học thử miễn phí tại Timona Academy để trải nghiệm trước khi lựa chọn nhé!</p>
        </div>
       

    </div>

    <div class="form-sale  hidden lg:block">
        <div class="form-wrapper">
            <div class="form-left">

                <div class="form-left-total">
                    <div class="text-5xl text-yellow-500 uppercase title">tư vấn miễn phí</div>
                </div>
            </div>
            <div class="form-right">
                <form class="flex flex-col relative pb-5">
                    <div class="flex">
                        <input type="text" id="username-success"
                            class="bg-green-50 w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mr-3  mt-1 focus:border-black-500 block  p-1.5 dark:bg-black-100 dark:border-black-400"
                            placeholder="HỌ TÊN">
                        <input type="text" id="username-success"
                            class="bg-green-50 w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 ml-3 mt-1 focus:border-black-500 block  p-1.5 dark:bg-black-100 dark:border-black-400"
                            placeholder="SỐ ĐIỆN THOẠI">

                    </div>

                    <div class="form-group w-full pt-4">

                        <textarea
                            class="form-control textarea-form font-black text-gray-100 rounded-xl lg:text-sm text-xs "
                            id="exampleFormControlTextarea1" placeholder="NHẬP NỘI DUNG CẦN TƯ VẤN" rows="3"></textarea>
                    </div>

                    <button class="bg-yellow-500 text-indigo-900 uppercase px-3 rounded-lg font-black py-2 absolute bottom-0">gửi đăng ký</button>
                </form>
            </div>
        </div>
    </div>


</section>