<section class="lg:max-w-6xl mx-auto lg:px-2 lg:px-6 lg:px-8 overflow-hidden">
    

    <div class="md:pt-10">
        <div class="w-full">
            <img
                src="../../../assets/images/homepages/courses/CHUYEN-NGANH-DAO-TAO.png"
                alt=""
                class="w-full h-full hidden md:block"
            />
            <img
                src="../../../../../assets/images/Mobile/khoahoc/KHOÁ-HỌC_MOBILE_WEBSITE-TIMONA.png"
                alt=""
                class="w-full h-full md:hidden"
            />
        </div>
    </div>
    <div class="px-3 md:px-0">
        <div *ngFor="let item of danhmuc">
            <!-- <div > -->

            <div class="pt-10">
                <div class="flex items-center justify-between">
                    <span
                        class="text-xl block text-indigo-900 uppercase font-bold relative"
                    >
                        {{ item.Tieude }}
                </span>
                    <div class="md:w-9/12  h-px bg-gray-500"></div>
                </div>
            </div>
            <div class="grid md:grid-cols-3 grid-cols-1 gap-8">
                <div *ngFor="let theme of item.courses">
                    <div class="relative border-bottom" style="height: 410px">
                        <a
                            routerLink="{{ theme.slug }}"
                            style="width: 30%"
                            class=""
                        >
                            <div class="cursor-pointer h-48">
                                <img
                                    src="{{ theme.thumbimage }}"
                                    class="h-full rounded-md"
                                    alt=""
                                />
                            </div>
                            <div
                                class="text-xl uppercase text-yellow-500 pt-2 mb-0 pt-5 font-bold three-dot"
                            >
                                <div [innerHTML]="theme.title"></div>
                            </div>
                            <span class="text-gray-500 des pt-4"
                                ><div [innerHTML]="theme.des"></div>
                            </span>
                            <span
                                class="p-2 bg-yellow-500 text-white rounded-lg absolute bottom-5 left-0 items-center"
                                >Tìm hiểu thêm >>></span
                            >
                        </a>
                    </div>
                </div>

                <!-- <div *ngFor="let theme of themes">
                <div
                    class="relative border-bottom h-96"
                    *ngIf="theme.idDM == item.id"
                >
                    <a
                        routerLink="{{ theme.slug }}"
                        style="width: 30%"
                        class=""
                    >
                        <div class="cursor-pointer" style="height: 200px">
                            <img
                                src="{{ theme.thumbimage }}"
                                class="h-full rounded-md"
                                alt=""
                            />
                        </div>
                        <h2
                            class="text-2xl uppercase text-yellow-500 pt-3 pb-1 mb-0 font-black"
                        >
                            <div [innerHTML]="theme.title"></div>
                        </h2>
                        <span class="text-indigo-900 font-bold des"
                            ><div [innerHTML]="theme.des"></div
                        ></span>
                        <span
                            class="p-2 bg-yellow-500 text-white rounded-lg absolute bottom-5 left-0 items-center"
                            >Tìm hiểu thêm >>></span
                        >
                    </a>
                </div>
            </div> -->
            </div>
        </div>
    </div>

    <div class="pt-10 mb-10">
        <app-form1></app-form1>
    </div>
</section>
