<div class="">
    <div class="w-full bg-red-100 relative">
        <img
            src="../../../../../assets/images/Desktop/gochocvien/3-LAYOUT_GOCHOCVIEN_DESKTOP.png"
            alt=""
            class="w-full h-full hidden md:block"
        />
        <img
            src="../../../../../assets/images/Mobile/gochocvien/3GÓC-HỌC-VIỆN_MOBILE_WEBSITE-TIMONA.png"
            class="w-full h-full md:hidden"
        />
    </div>
</div>

<div class="px-3 md:px-0">
    <div class="pt-10">
        <div class="relative w-full flex items-end">
            <p class="text-2xl font-bold text-indigo-900 w-32">Hình Ảnh</p>
            <div class="h-px w-full bg-gray-300"></div>
        </div>
        <div class="pt-5 md:grid grid-cols-3 grid-cols-1 gap-10">
            <div class="w-full relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3A-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>
            <div class="w-full h-48 relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3b-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>
            <div class="w-full h-48 relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3C-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>
            <div class="w-full relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3A-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>
            <div class="w-full h-48 relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3b-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>
            <div class="w-full h-48 relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3C-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>

            <div class="w-full relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3A-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>
            <div class="w-full h-48 relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3b-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>
            <div class="w-full h-48 relative pt-5 md:pt-0">
                <img
                    src="../../../../../assets/images/Desktop/gochocvien/3C-LAYOUT_GOCHOCVIEN_DESKTOP.png"
                    class="w-full h-full rounded-xl"
                />
                <div class="absolute right-5 top-1/2 centerY-item w-3/5">
                    <p class="text-2xl text-white font-bold">
                        Bạn Thịnh - Khóa K54
                    </p>
                    <p class="pt-2 text-md text-white text-justify">
                        "Cảm ơn Timona, ngoài được học chuyên môn tôi còn được
                        kỹ năng, tư duy và thái độ để trờ thành một chuyên viên
                        thẩm mỹ chuyên nghiệp."
                    </p>
                </div>
            </div>
        </div>
        <app-pagination></app-pagination>
    </div>
    <div class="">
        <div class="relative w-full flex items-end">
            <p class="text-2xl font-bold text-indigo-900 w-28">Video</p>
            <div class="h-px w-full bg-gray-300"></div>
        </div>
        <div class="pt-5 md:grid grid-cols-3 grid-cols-1 gap-10">
            <div class="w-full relative pt-5 md:pt-0">
                <div class="video-container">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/_Lt66ROpzAY"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
            <div class="w-full relative pt-5 md:pt-0">
                <div class="video-container">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/_Lt66ROpzAY"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
            <div class="w-full relative pt-5 md:pt-0">
                <div class="video-container">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/_Lt66ROpzAY"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
            <div class="w-full relative pt-5 md:pt-0">
                <div class="video-container">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/_Lt66ROpzAY"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
            <div class="w-full relative pt-5 md:pt-0">
                <div class="video-container">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/_Lt66ROpzAY"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
            <div class="w-full relative pt-5 md:pt-0">
                <div class="video-container">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/_Lt66ROpzAY"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
        <app-pagination></app-pagination>
    </div>
</div>

<div class="md:hidden pb-3 pt-5 mt-5">
    <div class="flex justify-center items-center relative pb-5">
        <div class="bg-indigo-900 rounded-3xl p-2">
            <a class="text-xl text-yellow-500 p-3 uppercase font-bold"
                >lịch khai giảng</a
            >
        </div>
    </div>
    <app-form-corner></app-form-corner>
</div>
