<swiper
    [slidesPerView]="3"
    [spaceBetween]="30"
    [freeMode]="true"
    [pagination]="{
      clickable: true
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide> <div class="new-img">
        <img
          src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
          alt=""
          class="w-full h-full object-contain"
        />
      </div></ng-template
    >
    <ng-template swiperSlide> <div class="new-img">
        <img
          src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
          alt=""
          class="w-full h-full object-contain"
        />
      </div></ng-template
    >
    <ng-template swiperSlide> <div class="new-img">
        <img
          src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
          alt=""
          class="w-full h-full object-contain"
        />
      </div></ng-template
    >
    <ng-template swiperSlide> <div class="new-img">
        <img
          src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
          alt=""
          class="w-full h-full object-contain"
        />
      </div></ng-template
    >
    <ng-template swiperSlide> <div class="new-img">
        <img
          src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
          alt=""
          class="w-full h-full object-contain"
        />
      </div></ng-template
    >
    <ng-template swiperSlide> <div class="new-img">
        <img
          src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
          alt=""
          class="w-full h-full object-contain"
        />
      </div></ng-template
    >
  </swiper>