<div class="lg:max-w-7xl lg:mx-auto sm:px-6 lg:px-8">
  <div class="text-center mt-10 lg:mx-96 pb-4 lg:pb-0">
    <div class="dropdown">
      <button
        class="btn btn-secondary bg-indigo-900 rounded-3xl dropdown-toggle relative text-2xl text-yellow-500 uppercase"
        type="button"
        id="dropdownMenuButton1"
        style="width: 350px"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        xem nhanh nội dung
        <div
          class="absolute h-full bg-yellow-500 top-0"
          style="width: 2px; right: 45px"
        ></div>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong"
            >Hoạt Động</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="/goc-hoc-vien/cam-nghi-hoc-vien"
            >Cảm Nghĩ Học Viên</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="w-full h-1/2 flex flex-col hidden lg:block">
    <div class="pb-4 flex justify-between">
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a
              routerLink=""
              class="inline-flex items-center text-sm font-medium text-indigo-900 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
            >
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center text-indigo-900">
              >>
              <a
                routerLink=""
                class="ml-1 text-sm font-medium text-indigo-900 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
                >Khóa Học</a
              >
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center text-indigo-900">
              >>
              <span
                class="ml-1 text-sm font-medium text-text-indigo-900 md:ml-2 dark:text-indigo-900"
                >Phun xăm Thẩm Mỹ</span
              >
            </div>
          </li>
        </ol>
      </nav>
      <button type="button" (click)="goBack()">go back</button>
    </div>
  </div>

  <div class="bg-indigo-900 lg:px-10 lg:pb-10 wrapper padding-bottom" >
    <p class="text-white uppercase text-center text-xl lg:text-4xl pt-3">
    {{theme.title}}
    </p>
    <p class="lg:text-base text-sm text-white intro-description lg:italic text-justify">
     {{theme.des}}
    </p>
  </div>

  

  <div class="wrapper">
    <div class="pt-4">
      <h2 class="text-indigo-900 uppercase text-xl">
        HIỂU VỀ KHÓA ĐÀO TẠO PHUN XĂM CHUYÊN NGHIỆP
      </h2>
      <div class="flex justify-center items-center">
        <div class="flex justify-center items-center w-full youtube-video">
          <iframe
            width="515"
            height="300"
            src="https://www.youtube.com/embed/Y-KmAE7HOy4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
      <div class="text-indigo-900 text-sm text-justify lg:pt-3 font-black">
        Phun thêu thẩm mỹ hay còn gọi là dịch vụ trang điểm bán vĩnh viễn đang
        rất thịnh hành trên thị trường làm đẹp hiện nay. Phương pháp giúp thay
        đổi ngoại hình mày, môi, mí nhanh chóng mà không xâm lấn, an toàn và
        hiệu quả với chi phí thấp, thời gian sử dụng lâu dài.
        <br />
        Các kỹ thuật viên sẽ sử dụng máy với đầu kim siêu nhỏ để đưa mực vào
        dưới lớp thượng bì và “vẽ”. Nhờ đó cải thiện khuyết điểm như môi thâm,
        mí mắt không rõ nét, chân mày nhạt nhòa, thiếu đầu cụt đuôi… giúp khuôn
        mặt trông hài hòa và có điểm nhấn hơn.
        <br />
        Nhằm đáp ứng đa dạng nhu cầu làm đẹp của khách hàng, phun xăm thẩm mỹ
        phát triển với 3 dịch vụ chính:
        <br />
        Phun xăm, điêu khắc lông mày xuất hiện sớm nhất và vẫn tiếp tục phát
        triển cho đến ngày nay. Ứng dụng cơ chế phun phủ mực hoặc điêu khắc từng
        sợi lên lông mày, chỉ sau khoảng 60 phút bạn đã sở hữu cặp chân mày sắc
        nét, tự nhiên.
        <br />
        Phun xăm mí giúp tiết kiệm thời gian kẻ eyeliner rắc rối, tạo hiệu ứng
        đôi mắt to tròn, có hồn và đuôi mắt sắc nét hơn.

        <br />
        Phun môi giúp loại bỏ tình trạng thâm tái hoặc nhợt nhạt, tạo cho chị em
        đôi môi tươi tắn, hồng hào và căng bóng.
        <br />
        Khi tham gia các lớp dạy phun xăm, bạn cần trang bị đầy đủ dụng cụ, máy
        móc hỗ trợ hiện đại nhất để đáp ứng được những yêu cầu khắt khe về kỹ
        thuật. Trong đó máy móc và mực phun xăm là những phụ kiện không thể
        thiếu trong quá trình đào tạo học viên phun xăm thẩm mỹ. Ngoài ra, còn
        có các dụng cụ hỗ trợ khác cần phải có như: chì kẻ mày, thước tỉ lệ
        vàng, dao cạo lông mày, bông tẩy trang, nước tẩy trang, tăm bông, kem ủ
        tê, nhẫn lấy mực, kem che khuyết điểm, khay inox,…
        <br />
        Hiện nay, các lớp dạy phun xăm tại Timona Academy đều trang bị hết dụng
        cụ cơ bản cho học viên khi nhập học. Do đó, học viên chỉ cần chuẩn bị
        tâm lý và tới lớp học mà thôi. Dụng cụ, máy móc, phụ kiện phun xăm dẫu
        có quan trọng nhưng không phải là tất cả, nó cũng chỉ chiếm một phần
        trong một ca phun xăm thật trên cơ thể người. Bởi thực hiện phun xăm là
        cả một nghệ thuật và các Artist là những người nghệ sĩ, nhất thiết bạn
        cần phải đặt cái tâm và trách nhiệm lên mỗi việc bạn làm. Phải luôn trau
        dồi kỹ năng, chuyên môn và kiến thức để giúp bản thân nâng cao được
        trình độ và khả năng sáng tạo tuyệt vời của bản thân.
      </div>
    </div>

    <div class="pt-4">
      <h2 class="text-indigo-900 uppercase text-xl mb-0">Cơ Hội nghề nghiệp</h2>
      <div class="text-indigo-900 text-sm text-justify lg:pt-3 font-black">
        Đây là một trong những điều cần quan tâm khi bạn muốn tham gia khóa đào tạo học viên phun xăm thẩm mỹ cũng như có ý định theo đuổi nghề nghiệp này. Hiện nay và trong tương lai, phun xăm thẩm mỹ vẫn là ngành cực kỳ ‘hot” và luôn đứng top đầu danh sách những nghề lương cao, ổn định mà bạn nên lựa chọn. Bởi nhu cầu làm đẹp ngày càng cao của con người kéo theo lượng khách hàng đông đảo sử dụng dịch vụ này liên tục tăng mạnh và nhu cầu về nhân lực cực kỳ lớn. Điều này đồng nghĩa, khi là một kỹ thuật viên phun xăm chuyên nghiệp, bạn sẽ không lo thất nghiệp sau khi ra trường.


      </div>

      <div class="w-full pt-3 lg:hidden" style="height: 200px">
        <img
          src="../../../assets/images/course-phunxammb.png"
          class=""
          alt=""
        />
      </div>

      <div class="lg:hidden">
        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase text-xl mb-0">
            CƠ HỘI VIỆC LÀM
          </h2>
          <div class="text-indigo-900 text-sm text-justify lg:pt-3 font-black">
            Đây là một trong những điều cần quan tâm khi bạn muốn tham gia khóa đào tạo học viên phun xăm thẩm mỹ cũng như có ý định theo đuổi nghề nghiệp này. Hiện nay và trong tương lai, phun xăm thẩm mỹ vẫn là ngành cực kỳ ‘hot” và luôn đứng top đầu danh sách những nghề lương cao, ổn định mà bạn nên lựa chọn. Bởi nhu cầu làm đẹp ngày càng cao của con người kéo theo lượng khách hàng đông đảo sử dụng dịch vụ này liên tục tăng mạnh và nhu cầu về nhân lực cực kỳ lớn. Điều này đồng nghĩa, khi là một kỹ thuật viên phun xăm chuyên nghiệp, bạn sẽ không lo thất nghiệp sau khi ra trường.

          </div>
        </div>

        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase text-xl mb-0">
            LỘ TRÌNH THĂNG TIẾN
          </h2>
          <div class="text-indigo-900 text-sm text-justify lg:pt-3 font-black">
            Sau khi hoàn tất các lớp học phun xăm thẩm mỹ, bạn sẽ không dừng lại ở vị trí kỹ thuật viên mà có thể thăng tiến lên nhiều vị trí khác như: trưởng kỹ thuật viên, quản lý kỹ thuật viên. Thậm chí nếu có tiềm lực kinh tế, bạn hoàn toàn có thể mở tiệm kinh doanh riêng.
            Do đó, nghề phun xăm cũng giống như các ngành nghề làm đẹp khác, có rất nhiều vị trí để bạn tiến tới. Quan trọng là ở bạn có chịu nỗ lực, ý chí cầu toàn trong công việc và cố gắng vượt qua khó khăn để đạt tới vị trí mà bản thân mong muốn hay không?
            
          </div>
        </div>

        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase text-xl mb-0">
            MỨC LƯƠNG KỸ THUẬT VIÊN
          </h2>
          <div class="text-indigo-900 text-sm text-justify lg:pt-3 font-black">
            Với nhu cầu làm đẹp tăng cao như hiện nay thì nghề phun xăm thẩm mỹ “hái ra tiền” không có gì là lạ. Mức thu nhập có thể lên tới 20tr/tháng tùy vào năng lực, sự tăng tiến theo kinh nghiệm và thời gian làm nghề. Đối với những bạn lựa chọn đầu tư mở tiệm, thu nhập ổn định ở mức 8 con số mỗi tháng là chuyện bình thường.
          </div>
        </div>
      </div>

      <div class="hidden lg:block">
        <div class="grid grid-cols-3 gap-4 pt-3">
          <div class="relative bg-gray-100 boder-bottom" style="height: 500px">
            <div class="bg-red-100 w-full absolute top-0" style="height: 300px">
              <img
                src="../../../assets/images/theme1-cohoi.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="w-full absolute bottom-0 bg boder-bottom">
              <div class="px-5 flex justify-center flex-col items-center pt-32">
                <h2 class="uppercase text-xl text-yellow-500 mb-0">
                  Cơ hội việc làm
                </h2>
                <p class="text-white text-sm text-justify">
                    Đây là một trong những điều cần quan tâm khi bạn muốn tham gia khóa đào tạo học viên phun xăm thẩm mỹ cũng như có ý định theo đuổi nghề nghiệp này. Hiện nay và trong tương lai, phun xăm thẩm mỹ vẫn là ngành cực kỳ ‘hot” và luôn đứng top đầu danh sách những nghề lương cao, ổn định mà bạn nên lựa chọn. Bởi nhu cầu làm đẹp ngày càng cao của con người kéo theo lượng khách hàng đông đảo sử dụng dịch vụ này liên tục tăng mạnh và nhu cầu về nhân lực cực kỳ lớn. Điều này đồng nghĩa, khi là một kỹ thuật viên phun xăm chuyên nghiệp, bạn sẽ không lo thất nghiệp sau khi ra trường.

                </p>
              </div>
            </div>
          </div>

          <div class="relative bg-gray-100 boder-bottom" style="height: 500px">
            <div class="bg-red-100 w-full absolute top-0" style="height: 300px">
              <img
                src="../../../assets/images/theme1-cohoi.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="w-full absolute bottom-0 boder-bottom bg">
              <div class="px-5 flex justify-center flex-col items-center pt-32">
                <h2 class="uppercase text-xl text-yellow-500 mb-0">
                    LỘ TRÌNH THĂNG TIẾN

                </h2>
                <p class="text-white text-sm text-justify">
                    Sau khi hoàn tất các lớp học phun xăm thẩm mỹ, bạn sẽ không dừng lại ở vị trí kỹ thuật viên mà có thể thăng tiến lên nhiều vị trí khác như: trưởng kỹ thuật viên, quản lý kỹ thuật viên. Thậm chí nếu có tiềm lực kinh tế, bạn hoàn toàn có thể mở tiệm kinh doanh riêng.
                    Do đó, nghề phun xăm cũng giống như các ngành nghề làm đẹp khác, có rất nhiều vị trí để bạn tiến tới. Quan trọng là ở bạn có chịu nỗ lực, ý chí cầu toàn trong công việc và cố gắng vượt qua khó khăn để đạt tới vị trí mà bản thân mong muốn hay không?
                    
                </p>
              </div>
            </div>
          </div>

          <div class="relative bg-gray-100 boder-bottom" style="height: 500px">
            <div class="bg-red-100 w-full absolute top-0" style="height: 300px">
              <img
                src="../../../assets/images/theme1-cohoi.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="w-full absolute bottom-0 bg boder-bottom">
              <div class="px-5 flex justify-center flex-col items-center pt-32">
                <h2 class="uppercase text-xl text-yellow-500 text-center mb-0">
                    MỨC LƯƠNG KỸ THUẬT VIÊN

                </h2>
                <p class="text-white text-sm text-justify">
                    Với nhu cầu làm đẹp tăng cao như hiện nay thì nghề phun xăm thẩm mỹ “hái ra tiền” không có gì là lạ. Mức thu nhập có thể lên tới 20tr/tháng tùy vào năng lực, sự tăng tiến theo kinh nghiệm và thời gian làm nghề. Đối với những bạn lựa chọn đầu tư mở tiệm, thu nhập ổn định ở mức 8 con số mỗi tháng là chuyện bình thường.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-4">
      <h2 class="text-indigo-900 uppercase text-xl mb-0">
        chi tiết khóa học phun xăm chuyên nghiệp
      </h2>

      <div class="text-indigo-900 text-sm text-justify pt-3 font-black">
        Khi đăng ký khóa học điêu khắc chân mày nói riêng và khóa phun xăm chuyên nghiệp nói chung tại Timona Academy, bạn sẽ được học theo một khung chương trình đào tạo bài bản theo tiêu chuẩn quốc tế với những xu hướng thời thượng cùng đội ngũ giảng viên thuộc hàng “nghệ nhân phun xăm”.
            <br>
        Lộ trình logic theo các cấp độ học viên sẽ tiến bộ từ từ, trực tiếp giảng viên kèm cặp 1:1, thực hành lên mẫu thật liên tục, học đến đâu chắc đến đó. Việc này sẽ giúp học viên dễ dàng và nhanh chóng tiếp thu các kỹ thuật mới và lên nhanh tay nghề.
        
      </div>
      <div class="pt-4 w-full">
        <div class="flex justify-between lg:flex-row flex-col">
          <div class="lg:w-1/2 bg-indigo-900 h-auto rounded-2xl lg:mr-5">
            <div class="p-6">
              <h2 class="text-2xl uppercase text-white text-center mb-0">
                khóa phun xăm thẩm mỹ <br />
                nâng cao
              </h2>
              <div>
                <div class="relative">
                  <p class="text-base text-white mb-0 uppercase">
                    Giới thiệu dụng cụ và kiến thức an toàn phun xăm:
                  </p>
                  <div
                    class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"
                  ></div>
                </div>
                <ul class="text-white">
                  <li>Cấu trúc da chuyên sâu trong phun xăm</li>
                  <li>Ủ tê đúng cách, xử lý tình huống phát sinh</li>
                  <li>Hướng dẫn sử dụng thiết bị và pha màu hiện đại</li>
                  <li>Xác định cấu trúc mặt định hình mày, môi phù hợp</li>
                  <li>Cập nhật trọn bộ kỹ thuật phun xăm hiện đại</li>
                  <li>Kỹ thuật khắc phục phun xăm hư, lỗi</li>
                </ul>
              </div>

              <div class="pt-3">
                <div class="relative">
                  <p class="text-base text-white mb-0">
                    KỸ THUẬT PHUN CHâN MÀY
                  </p>
                  <div
                    class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"
                  ></div>
                </div>
                <ul class="text-white">
                  <li>Hướng dẫn vẽ chân mày phong thủy, vẽ chì nét</li>
                  <li>Kỹ thuật phun Shading hiệu ứng bút chỉ 3D</li>
                  <li>Xử lý chân mày hỏng, trổ xanh, trổ đỏ</li>
                  
                </ul>
              </div>

              <div class="pt-3">
                <div class="relative">
                  <p class="text-base text-white mb-0">
                    KỸ THUẬT PHUN MÍ
                  </p>
                  <div
                    class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"
                  ></div>
                </div>

                <ul class="text-white">
                  <li>Phun mí nước (phun mí tự nhiên nhất)</li>
                  <li>Phun mí đuôi cá siêu nét</li>
                </ul>
              </div>

              <div class="pt-3">
                <div class="relative">
                  <p class="text-base text-white mb-0">
                    KỸ THUẬT PHUN MÔI
                  </p>
                  <div
                    class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"
                  ></div>
                </div>

                <ul class="text-white">
                  <li>Phun môi không sưng, không đau</li>
                  <li>Phun môi pha lê, Collagen, tế bào gốc</li>
                  <li>Phun môi xí muội</li>
                  <li>Kỹ thuật xử lý môi thâm</li>
                </ul>
              </div>

            </div>
          </div>
          <div
            class="lg:w-1/2 bg-indigo-900 h-auto rounded-2xl lg:ml-5 top-margin"
          >
            <div class="p-6">
              <h2 class="text-2xl uppercase text-yellow-500 text-center mb-0">
                khóa phun xăm thẩm mỹ <br />
                Chuyên sâu
              </h2>
              <p class="text-white">
                Được học toàn bộ kiến thức khóa nâng cao kết hợp kiến thức chuyên sâu như:
              </p>
              <div>
                <div class="relative">
                  <p class="text-base text-white mb-0">
                    PHUN MÀY
                  </p>
                  <div
                    class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"
                  ></div>
                </div>
                <ul class="text-white">
                  <li>Kỹ thuật Microblading 3D, Hairstroke nam, nữ</li>
                  <li>cấu trúc da chuyên sâu trong phun xăm</li>
                </ul>
              </div>

              <div class="pt-3">
                <div class="relative">
                  <p class="text-base text-white mb-0">
                    PHUN MÔI
                  </p>
                  <div
                    class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"
                  ></div>
                </div>
                <ul class="text-white">
                  <li>Xử lý thâm loang, lẹm viền, hạ màu, nâng tông
                </li>
                  <li>Phun xử lý môi thâm cho nam giới</li>
                </ul>
              </div>

              <div class="pt-3">
                <div class="relative">
                  <p class="text-base text-white mb-0">
                    PHUN MÍ
                  </p>
                  <div
                    class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"
                  ></div>
                </div>
                <ul class="text-white">
                  <li>Phun mí bướm Châu Âu</li>
                  <li>Phun mí mở tròng</li>
                </ul>
              </div>

              <div class="pt-3">
                <div class="relative">
                  <p class="text-base text-white mb-0">
                    PHUN HỒNG NHŨ HOA
                  </p>
                  <div
                    class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"
                  ></div>
                </div>
                <ul class="text-white">
                  <li>Xử lý thâm nhũ hoa, khắc phục lỗi khi phun</li>
                  <li>Cách pha màu chuẩn tỉ lệ, đi lên tông nhũ</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <p class="text-indigo-900 py-3">
            Ngoài ra, bạn còn được học kỹ thuật phun nốt ruồi phong thủy, kỹ thuật removal xóa sửa không dùng laser mini tattoo.

        </p>

        <div class="flex justify-center items-center relative pb-3">
          <div class="bg-indigo-900 rounded-3xl p-2">
            <a class="text-xl text-yellow-500 p-3">Đăng ký tư vấn ngay</a>
          </div>
          <div
            class="absolute w-full bottom-0 bg-indigo-900"
            style="height: 1px"
          ></div>
        </div>

        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase tex mb-2 lg:block hidden">
            học ngành này cần những gì?
          </h2>
          <div class="w-full" style="height: 300px">
            <img
              src="../../../assets/images/lienhe.png "
              alt=""
              class="w-full h-full lg:block hidden"
            />
            <img
              src="../../../assets/images/banner-phunxam.png "
              class="w-full h-full lg:hidden"
              alt=""
            />
          </div>
          <h2 class="text-indigo-900 uppercase tex mb-2 lg:hidden">
            học ngành này cần những gì?
          </h2>
          <p class="text-indigo-900 text-justify font-black">
            Với mức cạnh tranh của nghề phun xăm thẩm mỹ rất lớn, vì vậy, đòi hỏi người học phải thật sự có tay nghề vững chắc, luôn cập nhật những thông tin, xu hướng và công nghệ máy móc mới nhất. Chỉ có vậy, bạn mới có thể cạnh tranh và kiếm được thu nhập khủng cho bản thân.
          </p>
        </div>

        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase tex mb-2">
            Học ngành này bao lâu?

          </h2>
          <div class="w-full hidden lg:block" style="height: 300px">
            <img src="../../../assets/images/lienhe.png " alt="" />
          </div>
          <p class="text-indigo-900 text-justify font-black">
            Hiện nay, thời gian của một khóa học phun xăm thẩm mỹ tùy thuộc vào mức độ chuyên sâu của từng khóa. Thông thường, để hoàn thành một khóa học phun xăm đầy đủ trung bình bạn sẽ mất một khoảng 2,5 – 3 tháng. Học viện Timona Academy cũng là một số ít đơn vị đào tạo thẩm mỹ cho phép học viên học cho tới khi đáp ứng đủ điều kiện hành nghề. Do đó, thời gian học xăm mất khoảng bao lâu có thể dài hoặc ngắn hơn tùy thuộc vào sự tiến bộ của từng học viên.

          </p>
        </div>

        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase tex mb-2">
            Học phun xăm ra làm gì?
          </h2>
          <div class="w-full hidden lg:block" style="height: 300px">
            <img src="../../../assets/images/lienhe.png " alt="" />
          </div>
          <p class="text-indigo-900 text-justify font-black">
            Học phun xăm ở Timona Academy, bạn hoàn toàn tự tin để trở thành: Thợ phun xăm chuyên nghiệp, Nhân viên tư vấn tại các Spa - thẩm mỹ viện lớn. Cao hơn, bạn có thể trở thành các Master chuyên nghiệp và sở hữu cơ sở kinh doanh riêng khi đủ trình độ và khả năng tài chính.
          </p>
        </div>
        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase tex mb-2">
            KỸ NĂNG ĐẠT ĐƯỢC SAU KHÓA HỌC
          </h2>
          <div class="w-full hidden lg:block" style="height: 300px">
            <img src="../../../assets/images/lienhe.png " alt="" />
          </div>

          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Nắm được tiềm năng và định hướng nghề phun xăm thẩm mỹ
            </p>
            <div
              class="lg:absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>
          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Nắm được các dụng cụ và các sản phẩm sử dụng trong phun xăm
            </p>
            <div
              class="absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>
          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Nhận biết dáng mày, kiểu mắt, môi trước khi phun xăm
            </p>
            <div
              class="absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>
          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Thực hành thành thạo công thức tỷ lệ vàng trong phun xăm
            </p>
            <div
              class="absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>
          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Nắm vững quy trình chuẩn trước, trong và sau khi phun xăm
            </p>
            <div
              class="absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>
          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Phun mày, môi, mí và thuần thục các dụng cụ ứng dụng trong phun xăm
            </p>
            <div
              class="absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>

          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Những bí quyết giảm đau trong phun xăm, mix màu mực cực chuẩn
            </p>
            <div
              class="absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>

          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Kỹ thuật và phương pháp xử lý phun xăm hỏng

            </p>
            <div
              class="absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>

          <div class="relative lg:pl-4">
            <p class="text-indigo-900 lg:ml-2 font-black">
                Quy trình chăm sóc trước và sau khi phun xăm
            </p>
            <div
              class="absolute hidden lg:block rounded-full radius h-1 w-1 left-0 bg-indigo-900"
            ></div>
          </div>

          <div class="flex justify-center items-center relative py-3">
            <div class="bg-indigo-900 rounded-3xl p-2">
              <a class="text-xl text-yellow-500 p-3"
                >Liên hệ nhận lịch khai giảng ngay</a
              >
            </div>
            <div
              class="absolute hidden lg:block w-full bottom-0 bg-indigo-900"
              style="height: 1px"
            ></div>
          </div>
        </div>

        <div class="pt-4 hidden lg:block">
          <h2 class="text-indigo-900 uppercase tex mb-2">
            học ngành này cần những gì?
          </h2>
          <p class="text-indigo-900 text-justify font-black">
            Với nhiều năm kinh nghiệm trong đào tạo ngành thẩm mỹ, Timona Academy tự hào là đơn vị uy tín, có mạng lưới liên kết rộng khắp Việt Nam. Đảm bảo quyền lợi cho học viên, 100% học viên có việc làm sau khi tốt nghiệp. 
            <br />
            Hướng đến môi trường học tập sang trọng, chuẩn spa, thẩm mỹ. Phòng lý thuyết và thực hành riêng biệt, tài trợ miễn phí toàn bộ máy móc, trang thiết bị hiện đại. Hỗ trợ ký túc xá với giường tầng thân thiện, máy lạnh điều hòa, đầy đủ tiện nghi… tạo điều kiện thuận lợi tối đa cho các bạn học viên ở xa. Cũng như mang lại sự yên tâm cho các bậc phụ huynh về quá trình học của con mình.

            <br />
            Giảng viên là các bác sĩ, chuyên gia đầu ngành đến từ các bệnh viện, thẩm mỹ viện lớn, có nghiệp vụ sư phạm, chỉ dạy học viên tận tình, chu đáo. Timona Academy cam kết chất lượng tay nghề học viên, đào tạo MIỄN PHÍ 100% nếu học viên chưa thành thạo tay nghề.
            <br />
            Trọn bộ giáo trình đào tạo được nghiên cứu, phát triển bởi đội ngũ bác sĩ, chuyên gia trong và ngoài nước. Timona Academy luôn khảo sát, cập nhật những công nghệ, phương pháp thẩm mỹ mới nhất hiện nay giúp học viên bắt kịp xu hướng để chinh phục thị trường làm đẹp.
          </p>
        </div>

        <div class="mt-4 bg-yellow-500 rounded-2xl mx-4 hidden lg:block">
          <div class="mx-4 py-2 grid grid-cols-3 gap-4">
            <div
              class="text-xl font-black text-text-indigo-900 uppercase text-center"
            >
              thạo nghề <br />
              chỉ sau 2-3 tháng
            </div>

            <div
              class="text-xl font-black text-text-indigo-900 uppercase text-center"
            >
              cam kết 100% <br />
              Hỗ trợ việc làm
            </div>

            <div
              class="text-xl font-black text-text-indigo-900 uppercase text-center"
            >
              thu nhập <br />
              10 - 20 triệu/ tháng
            </div>
          </div>
        </div>

        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase mb-0 hidden lg:block">
            5. HỌC VIÊN ĐÁNH GIÁ VỀ LỚP DẠY PHUN XĂM TẠI TIMONA ACADEMY

          </h2>
          <div class="flex justify-between lg:flex-row flex-col-reverse">
            <div class="lg:w-3/5 mt-2">
              <h2 class="text-indigo-900 uppercase mb-0 lg:hidden">
                5. HỌC VIÊN ĐÁNH GIÁ VỀ LỚP DẠY PHUN XĂM TẠI TIMONA ACADEMY

              </h2>
              <p class="text-indigo-900 text-justify font-black">
                Với sự đầu tư nghiêm túc về chất lượng – Uy tín trong đào tạo, Timona Academy nhận được nhiều phản hồi tốt từ học viên cũng như quý phụ huynh, đối tác. Đặc biệt trước những nỗ lực không ngừng nghỉ nhằm nâng cao chất lượng đào tạo, tăng cường mạng lưới liên kết đối tác rộng khắp, đảm bảo đúng cam kết việc làm ổn định cho học viên sau tốt nghiệp, Timona Academy vinh dự nhận được giải thưởng “Thương hiệu tiêu biểu châu Á – Thái Bình Dương 2021.”
              </p>
            </div>
            <div class="lg:w-2/5 flex justify-end">
              <div class="flex justify-center items-center w-full">
                <iframe
                  width="450"
                  height="315"
                  src="https://www.youtube.com/embed/pjgElO5jKOs"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <div class="form-sale hidden lg:block">
            <div class="form-wrapper">
              <div class="form-left">
                <div class="form-left-total">
                  <div class="text-5xl text-yellow-500 uppercase title">
                    tư vấn miễn phí
                  </div>
                </div>
              </div>
              <div class="form-right">
                <form class="flex flex-col relative pb-5">
                  <div class="flex">
                    <input
                      type="text"
                      id="username-success"
                      class="w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mr-3 mt-1 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                      placeholder="HỌ TÊN"
                    />
                    <input
                      type="text"
                      id="username-success"
                      class="w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 ml-3 mt-1 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                      placeholder="SỐ ĐIỆN THOẠI"
                    />
                  </div>

                  <div class="form-group w-full pt-4">
                    <textarea
                      class="form-control textarea-form font-black text-gray-100 rounded-xl lg:text-sm text-xs"
                      id="exampleFormControlTextarea1"
                      placeholder="NHẬP NỘI DUNG CẦN TƯ VẤN"
                      rows="3"
                    ></textarea>
                  </div>

                  <button
                    class="bg-yellow-500 text-indigo-900 uppercase px-3 rounded-lg font-black py-2 absolute bottom-0"
                  >
                    gửi đăng ký
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
