.fuse-mat-emphasized-affix {
    border: 1px solid rgb(82, 79, 79);
    border-radius: 5px;
}
// .image img{
//     object-fit: contain;
//     margin: 0 auto;
//     height: 380px;
// }
// @media screen and (max-width: 768px) {
//     .image img {
//         object-fit: contain;
//         margin: 0 auto;
//         height: auto;
//     }
// }
.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
  line-height: 1.25rem;
}
.ck.ck-content ol {
  /* Default user agent stylesheet, you can change it to your needs. */
  padding-left: 40px;
}
.ck.ck-content strong, a{
  color: #00256e;
}
.ck.ck-content strong{
  font-weight: bold;
}
.ck.ck-content i{
  font-style: italic;
}
a{
  color: #00256e;
}
h3{
  color: #00256e;
  font-weight: bold;
  font-size: 1.25rem;

}
p{
  color: #00256e;
  line-height: 1.25rem;
}