.item-lecturer{
    display: flex;
}
.lecturer-img{
    height: 280px;
   width: 150px;
    
   
}

.lecturer-title{
   
}
.lecturer-name{
    font-size: 20px;
    font-weight: bold;
    color: #f7d900;
    padding: 10px 0;
    letter-spacing: 0.2px;
    text-transform: uppercase;    
    
}
.lecturer-specializ{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25rem;
}
.lecturer-info ul{
    padding-top: 10px;
}
.lecturer-info ul li{
    list-style: none;
    color: #fff;
    font-size: 0.875rem;
    padding-top: 5px;
    padding-bottom: 2px;
    line-height: 1rem;

}
.lecturer-info ul li::before {
    content: "\2022";
    color: #fff;
    font-weight: bold;
    display: inline-block; 
    width: 0.5rem;
    margin-left: -7px;
    
}
.banner-img{
    width: 100%;
    height: 250px;
}

.wrapper{
    padding: 1.25rem 5rem !important;
}
.border-shadow {
    width: 70px;
    height: 60%;
    z-index: 0;
    left: 40px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    background-color: rgb(0 56 190);
    box-shadow: 8px -18px 35px 16px rgba(0,85,237,0.66);
  -webkit-box-shadow: 8px -18px 35px 16px rgba(0,85,237,0.66);
  -moz-box-shadow: 8px -18px 35px 16px rgba(0,85,237,0.66);
    bottom: 0;
    position: absolute;
  }
  .shadow-bottom{
    bottom: 0;
    left: 15px;
    height: 1px;
    opacity: 1;
    position: absolute;
    width: 130px;
    margin: 0 auto;
    border-radius: 40%;
    z-index: 20;
    background-color: #1e1b1b;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px -7px 41px 10px #000000;
    -webkit-box-shadow: 3px -7px 41px 10px #000000;
    -moz-box-shadow: 3px -7px 41px 10px #000000;
  }
@media screen and (max-width: 768px){
    .banner-img{
        height: 250px;
        width: 100%;
    }
    .container-lecturer{
        padding: 0.75rem;
    }
    .text{
    column-count: 1;
    column-gap: 0;
    }
    .wrapper{
        padding: 1rem  !important;
    }
    .lecturer-info{
        width: 190px;
        padding-left: 10px;
    }
    .item-lecturer{
        height: 350px;
    }
    .lecturer-specializ{
        padding-top: 10px;
    }

}