<div class="lg:max-w-7xl lg:mx-auto sm:px-6 lg:px-8 lg:pt-10">
  <div class="lg:p-6 container bg-indigo-900 lg:rounded-3xl wrapper">
    <div class="">
      <p class="lg:text-4xl text-2xl uppercase text-center text-white">
        Đội ngũ giảng viên
      </p>
      <p class="text-white text-center italic">
        Trải qua hơn 7 năm hình thành và phát triển, Timona Academy từng bước
        khẳng định vị thế thông qua uy tín về chất lượng đào tạo, cam kết luôn
        theo sát nhu cầu thực tế của xã hội, đem đến đội ngũ nhân lực cao đáp
        ứng nhu cầu của ngành làm đẹp, góp phần phát triển đất nước.
      </p>
    </div>
    <div class="flex items-center justify-center">
      <div class="banner-img">
        <img
          src="../../../assets/images/homepages/lecturer/01.png"
          alt=""
          class="w-full h-full hidden lg:block"
        />
        <img
          src="../../../assets/images/homepages/lecturer/01.png"
          alt=""
          class="w-full h-full lg:hidden"
        />
      </div>
    </div>
    <div class="flex justify-between py-3 relative">
      <div class="">
        <p class="text-white text-base text text-justify">
          Để bồi dưỡng nhân lực chất lượng, Timona quy tụ đội ngũ giảng viên là
          các bác sĩ, chuyên gia có trình độ cao, hơn 15 năm kinh nghiệm, luôn
          tâm huyết với nghề. Ngoài kiến thức và kỹ năng trong nghề, mỗi giảng
          viên phải trải qua quá trình “thực chiến” tại các cơ sở thẩm mỹ để có
          thể hiểu biết chuyên sâu về ngành phụ trách đào tạo. Luôn học hỏi, nỗ
          lực và cập nhật những kiến thức làm đẹp để bắt kịp xu hướng thẩm mỹ
          hiện đại cam kết mang đến cho học viên những kiến thức, kinh nghiệm
          thực tế. Phần lớn đội ngũ giảng viên Timona giảng dạy theo đúng chuyên
          ngành đã được đào tạo và luôn sẵn sàng đồng hành cùng học viên trong
          quá trình học tập cũng như tiếp cận với môi trường làm việc thực tế và
          trong quá trình thực địa tại cơ sở. Với thế mạnh đội ngũ giảng viên có
          năng lực chuyên môn, khả năng sư phạm tốt và luôn cập nhật kiến thức
          mới, Timona luôn tạo mối quan hệ thầy - trò tương tác hai chiều. Các
          thầy cô luôn tận tâm, nhiệt tình giúp đỡ học viên để có thể trang bị
          thêm kiến thức lẫn kinh nghiệm. Chính vì thế, học viên Timona có nhiều
          thuận lợi trong quá trình tiếp cận những kỹ năng nghề nghiệp tốt nhất
          cũng như thu hút được sự chú ý của các nhà tuyển dụng.
        </p>
      </div>

      <div class="absolute bg-white bottom-0 w-full" style="height: 1px"></div>
    </div>

    <div class="pt-10">
      <div class="flex justify-center items-center pb-5">
        <div class="item-lecturer lg:w-1/2">
          <div class="lecturer-img relative">
            <div class="h-full absolute z-10" style="width: 150px;">
              <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/GĐ--KIỀU-OANH.png"  class="w-ful z-10 h-full bg-" style="background-color:transparent;"/>
            </div>
            <div class="border-shadow"></div>
            <div class="shadow-bottom"></div>
          </div>
          <div class="lecturer-info">
            <span class="lecturer-title">Giám đốc học viện Timona Acdemy</span>
            <div class="flex lg:block lg:pt-0 pt-2 flex-col">
              <p class="lecturer-name flex-1 lg:flex-none">Nguyễn Thị  Kiều Oanh</p>
              <span class="lecturer-specializ flex-1 lg:flex-none">Trưởng bộ môn chăm sóc điều trị da</span>
            </div>

            <ul>
              <li class="lg:text-end">15 năm kinh nghiệm làm việc, giảng dạy trong ngành thẩm mỹ</li>
              <li class="lg:text-end">Chứng nhận nhiều khóa điều trị da liễu cho bác sĩ/ chuyên gia nước ngoài
                đứng
                lớp</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="">
        <div class="flex justify-between flex-col lg:flex-row pb-1 lg:py-5">
          <div class="item-lecturer lg:w-1/2 ">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Hoàng-Anh.png"  class="w-ful h-full"/>
              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
            
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng viên</span>
              <p class="lecturer-name">Tiền Ngọc  Hoàng Anh</p>
              <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
              <ul>
                <li>10 năm kinh nghiệm trong ngành chăm sóc điều trị da</li>
                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                <li>Cố vấn chuyên môn tại hệ thống viện thẩm mỹ Quốc tế</li>
              </ul>
            </div>
          </div>
          <div class="item-lecturer lg:w-1/2">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thúy-Hằng.png"  class="w-ful h-full"/>
              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
          
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng viên</span>
              <p class="lecturer-name">NGUYỄN THỊ  THÚY HẰNG</p>
              <span class="lecturer-specializ">Phó bộ môn chăm sóc và điều trị da</span>
              <ul>
                <li>12 năm kinh nghiệm làm việc và giảng dạy bộ môn chăm sóc, điều trị da</li>
                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                <li>Từng đảm nhiệm vị trí trưởng bộ phận tại các thẩm mỹ viện uy tín Tp. HCM</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="">
        <div class="flex justify-between flex-col lg:flex-row pb-1 lg:py-5">
          <div class="hidden lg:block lg:w-1/2 ">
            <div class="item-lecturer ">
              <div class="lecturer-img relative">
                <div class="h-full absolute z-10" style="width: 150px;">
                  <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Kiều-Oanh.png"  class="w-ful h-full"/>
                </div>
                <div class="border-shadow"></div>
                <div class="shadow-bottom"></div>
              </div>
              
              <div class="lecturer-info">
                <span class="lecturer-title">Giảng Viên</span>
                <p class="lecturer-name">Nguyễn Thị  Kiều Oanh</p>
                <span class="lecturer-specializ">Trưởng bộ môn chăm sóc điều trị da</span>
                <ul>
                  <li>09 năm kinh nghiệm làm việc và giảng dạy bộ môn chăm sóc, điều trị da</li>
                  <li>Chứng chỉ nghiệp vụ sư phạm</li>
                  <li>Từng đảm nhiệm vị trí trưởng phòng/ bộ phận tại các thẩm mỹ viện uy tín hàng đầu</li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="item-lecturer lg:w-1/2 ">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thu-Thủy.png"  class="w-ful h-full"/>
              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
           
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng viên</span>
              <p class="lecturer-name">NGUYỄN THỊ  THUY THỦY</p>
              <span class="lecturer-specializ">Giảng viên bộ môn điều trị da & Massage Body
              </span>
              <ul>
                <li>08 năm kinh nghiệm trong ngành thẩm mỹ</li>
                <li>Tốt nghiệp ngành massage body tại Thai Massage School of Chiang Mai (Thái Lan)</li>
                <li>Chứng chỉ nghiệp vụ sư phạm</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden lg:block">
        <div class="flex justify-between flex-col lg:flex-row pb-1 lg:py-5">
          <div class="item-lecturer lg:w-1/2 ">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Tú-Loan.png"  class="w-ful h-full"/>
              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
            
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng viên</span>
              <p class="lecturer-name">NGUYỄN THỊ  TÚ LOAN</p>
              <span class="lecturer-specializ">Phó bộ môn phun xăm thẩm mỹ</span>
              <ul>
                <li>10 năm kinh nghiệm giảng dạy trong ngành phun xăm thẩm mỹ</li>
                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                <li>Giải nhất cuộc thi Master Global PMU 2019 hạng mục Skill Líp PEN</li>
                <li>Chứng chỉ Vietnam PMU Championship 2020 & New Face PMU 2020</li>
              </ul>
            </div>
          </div>
          <div class="item-lecturer lg:w-1/2 ">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Maria-Nguyễn.png"  class="w-ful h-full"/>
              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
           
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng viên</span>
              <p class="lecturer-name">MARIA NGUYỄN</p>
              <span class="lecturer-specializ">Giảng viên bộ môn phun xăm thẩm mỹ </span>
              <ul>
                <li>12 năm kinh nghiệm làm việc và giảng dạy bộ môn chăm sóc, điều trị da</li>
                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                <li>Từng đảm nhiệm vị trí trưởng bộ phận tại các thẩm mỹ viện uy tín Tp. HCM</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      

      <div class="hidden lg:block">
        <div class="flex justify-between flex-col lg:flex-row pb-1 lg:py-5">
          
          <div class="item-lecturer lg:w-1/2 ">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Nguyễn-thị-Hằng.png"  class="w-ful h-full"/>

              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
           
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng viên</span>
              <p class="lecturer-name">NGUYỄN THỊ HẰNG</p>
              <span class="lecturer-specializ">Giảng viên bộ môn chăm sóc và điều trị da
              </span>
              <ul>
                <li>6 năm kinh nghiệm làm việc và giảng dạy bộ môn chăm sóc, điều trị da
                </li>
                <li>Chứng chỉ nghiệp vụ sư phạm</li>
                <li>Đảm nhận nhiều vị trí quan trọng như trưởng bộ phận các chuỗi thẩm mỹ viện uy tín, quản lý nhiều
                  cơ sở thẩm mỹ tại TP.HCM.</li>
              </ul>
            </div>
          </div>
          <div class="item-lecturer lg:w-1/2 ">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Anh-Thư.png"  class="w-ful h-full"/>

              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
           
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng Viên</span>
              <p class="lecturer-name">TRẦN THỊ ANH THƯ</p>
              <span class="lecturer-specializ">Giảng viên bộ môn điều trị da & Nối mi </span>
              <ul>
                <li>06 năm kinh nghiệm làm việc và giảng dạy bộ môn nail, nối mi</li>
                <li>Chứng chỉ nghiệp vụ sư phạm</li>
               
              </ul>
            </div>
          </div>
         
        </div>
      </div>
      <div class="hidden lg:block">
        <div class="flex justify-between flex-col lg:flex-row pb-1 lg:py-5">
          <div class="item-lecturer lg:w-1/2 ">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thị-Tuyết.png"  class="w-ful h-full" style="width: 150px"/>

              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
           
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng viên</span>
              <p class="lecturer-name">NGÔ THỊ TUYẾT</p>
              <span class="lecturer-specializ">Giảng viên bộ môn phun xăm </span>
              <ul>
                <li>7 năm làm việc và giảng dạy chuyên ngành Phun xăm thẩm mỹ
                </li>
                <li>Chứng chỉ nghiệp vụ sư phạm
                </li>
                <li>Đạt nhiều thành tích trong các cuộc thi tay nghề quốc tế
                </li>
                <li>Xem việc giáo dục ngành thẩm mỹ như cách thể hiện đam mê của mình, cô luôn mong muốn gửi gắm đến
                  học viên những kiến thức, kỹ thuật phun xăm hoàn hảo nhất</li>
              </ul>
            </div>
          </div>
          <div class="item-lecturer lg:w-1/2 ">
            <div class="lecturer-img relative">
              <div class="h-full absolute z-10" style="width: 150px;">
                <img src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Anh-Thư.png"  class="w-ful h-full"/>

              </div>
              <div class="border-shadow"></div>
              <div class="shadow-bottom"></div>
            </div>
           
            <div class="lecturer-info">
              <span class="lecturer-title">Giảng Viên</span>
              <p class="lecturer-name">TRẦN THỊ ANH THƯ</p>
              <span class="lecturer-specializ">Giảng viên bộ môn điều trị da & Nối mi </span>
              <ul>
                <li>06 năm kinh nghiệm làm việc và giảng dạy bộ môn nail, nối mi</li>
                <li>Chứng chỉ nghiệp vụ sư phạm</li>
               
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-4">
        <p class="text-white text-center italic">
          “Bằng chính sự nỗ lực và khả năng cam kết thực hiện, Timona Academy tự hào là đơn vị đào tạo nguồn nhân lực chất lượng cao, giải quyết tối ưu vấn đề việc làm cho thị trường lao động ngành chăm sóc sắc đẹp.” 
        </p>
      </div>
    </div>
  </div>
</div>
