<div class="lg:max-w-6xl lg:mx-auto lg:px-8 lg:py-10">
    <div class="text-center lg:mx-96 pb-4 lg:pb-10 relative">
        <div class="dropdown">
            <button
                class="btn btn-secondary bg-indigo-900 rounded-3xl dropdown-toggle relative text-xl text-yellow-500 uppercase"
                type="button"
                id="dropdownMenuButton1"
                style="width: 350px"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                (click)="xemnhanhnoidung()"
            >
                xem nhanh nội dung
                <div
                    class="absolute h-full bg-yellow-500 top-0"
                    style="width: 2px; right: 45px"
                ></div>
            </button>
            <ul class="dropdown-menu absolute  left-0 w-full" aria-labelledby="dropdownMenuButton1">
                <li *ngFor="let item of xemNhanhNoiDung; let i = index" (click)="chonXemNoiDung(item, i)">
                    <a
                        class="dropdown-item three-dot"
                        >{{item.innerText}}</a
                    >
                </li>
                
            </ul>
        </div>
    </div>

    <div class="w-full h-1/2 flex flex-col hidden lg:block">
        <div class="pb-4 flex justify-between">
            <nav class="flex" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                    <li class="inline-flex items-center">
                        <a
                            routerLink=""
                            class="inline-flex items-center font-medium text-indigo-900 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
                        >
                            Home
                        </a>
                    </li>
                    <li>
                        <div class="text-indigo-900">
                            >>
                            <a
                                routerLink="/khoa-hoc"
                                class="ml-1 font-medium text-indigo-900 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
                                >Khóa Học</a
                            >
                        </div>
                    </li>
                    <li aria-current="page">
                        <div class="text-indigo-900">
                            >>
                            <span
                                class="ml-1 font-medium text-text-indigo-900 md:ml-2 dark:text-indigo-900"
                                >{{ theme?.title }}</span
                            >
                        </div>
                    </li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="bg-indigo-900 lg:px-10 lg:pb-10 wrapper padding-bottom">
        <h3
            class="text-white uppercase text-center text-2xl lg:text-4xl  py-5"
        >
            {{ theme.title }}
        </h3>
      
        <div [innerHTML]="theme.des" class="text-white leading-5 text-justify"></div>
    </div>

    <div class="">
        <div [innerHTML]="theme?.content1 | theme1"></div>

        <div class="md:pt-10 pt-5  theme-cohoi md:px-0 px-3" *ngIf="isCarousel1">
            <p
                class="text-indigo-900 uppercase text-xl mb-0 font-bold leading-5 md:text-left text-center"
            >
                {{ theme?.slide1?.titleCarousel }}
            </p>
            <div [innerHTML]="theme?.slide1?.desCarousel | theme1"></div>
            <swiper
                [config]="config"
                [pagination]="{
                    clickable: true
                }"
                class="mySwiper pb-10 md:pb-0 "
            >
                <ng-template
                    swiperSlide
                    *ngFor="let item of theme?.listslide1 | keyvalue"
                >
                    <div [innerHTML]="item.value"></div>
                </ng-template>
            </swiper>
        </div>

        <div class="md:pt-10 pt-5 md:px-0 px-3 theme-cohoi" *ngIf="isCarousel2">
            <h3
                class="text-indigo-900 uppercase text-xl text-center md:text-left mb-0 font-black"
            >
                {{ theme?.slide2?.titleCarousel }}
            </h3>

            <div [innerHTML]="theme?.slide2?.desCarousel | theme1"></div>
            <div class="w-full">
                <div class="md:px-10">
                    <swiper
                        [config]="config1"
                        [pagination]="{
                            clickable: true
                        }"
                        class="mySwiper pb-10"
                    >
                        <ng-template
                            swiperSlide
                            *ngFor="let item of theme?.listslide2 | keyvalue"
                        >
                            <div [innerHTML]="item.value | theme1"></div>
                        </ng-template>
                    </swiper>
                </div>
            </div>
        </div>
        <div *ngIf="theme.content2 != ''">
            <div class="flex justify-center items-center relative my-5">
                <div class="bg-indigo-900 rounded-3xl p-2">
                    <a class="text-lg text-yellow-500 p-3"
                        >Đăng ký tư vấn ngay</a
                    >
                </div>
            </div>
            <div [innerHTML]="theme?.content2 | theme1"></div>
        </div>
    </div>
</div>
<div class="mb-10 mt-10 md:mt-0">
    <app-form1></app-form1>
</div>
