

@media only screen and (max-width: 762px){
    

   

    .new-social{
        flex-wrap: wrap;
        justify-content: space-evenly !important;
        margin: 0 6px;
        align-items: center;
    }
    
    .intro-left__top{
        text-align: center;
    }
    .newpaper-title{
        font-size: 1.5rem !important;
        margin: 0 50px;
    }

    .address-item{
        font-size: 12px !important;
    }
    .storie-img{
        width: 200px;
    }
    .expert-wrapper{
        padding: inherit !important;
      
    }
    .expert-boder-question{
        width: 100%;
    }
  }

.specializ{
    width: 100%;
    height: 100%;
    background-color: rgb(8, 8, 109);
    border-radius: 30px;
}
.specializ-wrapper{
    padding: 0 100px 50px 100px;
}
.specializ-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.specializ-title{
    font-size: 40px;
    
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: bold;   
}
.specializ-des{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-transform: initial;
    text-align: center;
    padding: 30px 0 40px 0;
}
.specializ-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 40px;
    gap: 10px;
}


.statistical {

    width: 100%;
    height: 80px;
    background-color:  #f7d900;
}
.statistical-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
.statistical-item{
    display: flex;
}
.statistical-item_img{
    width: 50px;
    height: 50px;
}
.statistical-item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    
}
.statistical-item_title{
    font-size: 30px;
    margin-bottom: 0px;
    color: rgb(8, 8, 109);
    font-weight: 800;
    
    letter-spacing: 1px;
    text-transform: uppercase;
}
.statistical_des{
    font-size: 16px;
    color: rgb(8, 8, 109);
    font-weight: bold;
    text-transform: uppercase;
}






.newspaper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    }
    .newpaper-title{
    text-align: center;
    font-size: 35px;
    color: rgb(8, 8, 109);
    text-transform: uppercase;
    }
    .new-social{
    display: flex;
   
    justify-content: space-around;
    
    }
    .new-img{
        width: 100%;
        height: 70px;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    