<div class="homepage overflow-hidden">
  <div>
    <app-new-event></app-new-event>
    <app-intro></app-intro>
  </div>

  <div class="lg:max-w-7xl lg:mx-auto lg:px-8">
    <section class="w-full h-full bg-indigo-900 border-top lg:px-20">
      <app-specialzed></app-specialzed>
    </section>

    <div class="statistical hidden lg:block pb-12 lg:px-20">
      <div class="statistical-wrapper">
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/6-cơ-sở.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">06</h2>
            <span class="statistical_des">CƠ SỞ</span>
          </div>
        </div>

        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/20.000-học-viên.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">20.000+</h2>
            <span class="statistical_des">Học viên mỗi năm</span>
          </div>
        </div>
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/100-có-việc-làm.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">100%</h2>
            <span class="statistical_des">Có việc làm</span>
          </div>
        </div>
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/10tr-lương-khỏi-điểm.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title flex items-center">
              10 <strong class="">TRIỆU</strong>
            </h2>
            <span class="statistical_des">Lương khởi điểm</span>
          </div>
        </div>
      </div>
    </div>

    <section
      class="w-full h-full bg-indigo-900 border-bottom pb-12 pb-12 lg:px-20"
    >
      <div class="stories hidden lg:block">
        <div class="specializ-top">
          <h2 class="specializ-title text-white">Câu chuyện học viên</h2>
        </div>
        <swiper [navigation]="true" class="mySwiper">
          <ng-template swiperSlide><div class="stories-wrapper">
            <div class="story-left">
              <iframe
                width="100%"
                height="315"
                class="yotube-video"
                src="https://www.youtube.com/embed/pjgElO5jKOs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="item-lecturer story-right">
              <div class="lecturer-info story-info">
                <span class="text-white text-xl">Học viên</span>
                <h2 class="text-yellow-500 text-xl">Chị Nga</h2>
                <span class="text-lg text-white"
                  >Học viên ngoại khóa K47</span
                >
                <span class="text-white"
                  >“Mình từng kinh doanh online nhưng thu nhập thấp, bấp
                  bênh nên quyết định thay đổi hướng đi. Mình chọn Tinona để
                  học nghề và giờ đã có thể tự mở được Spa cho mình.”</span
                >
              </div>
            </div>
          </div></ng-template>
          <ng-template swiperSlide><div class="stories-wrapper">
            <div class="story-left">
              <iframe
                width="100%"
                height="315"
                class="yotube-video"
                src="https://www.youtube.com/embed/pjgElO5jKOs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="item-lecturer story-right">
              <div class="lecturer-info story-info">
                <span class="text-white text-xl">Học viên</span>
                <h2 class="text-yellow-500 text-xl">Chị Nga</h2>
                <span class="text-lg text-white"
                  >Học viên ngoại khóa K47</span
                >
                <span class="text-white"
                  >“Mình từng kinh doanh online nhưng thu nhập thấp, bấp
                  bênh nên quyết định thay đổi hướng đi. Mình chọn Tinona để
                  học nghề và giờ đã có thể tự mở được Spa cho mình.”</span
                >
              </div>
            </div>
          </div></ng-template>
          <ng-template swiperSlide><div class="stories-wrapper">
            <div class="story-left">
              <iframe
                width="100%"
                height="315"
                class="yotube-video"
                src="https://www.youtube.com/embed/pjgElO5jKOs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="item-lecturer story-right">
              <div class="lecturer-info story-info">
                <span class="text-white text-xl">Học viên</span>
                <h2 class="text-yellow-500 text-xl">Chị Nga</h2>
                <span class="text-lg text-white"
                  >Học viên ngoại khóa K47</span
                >
                <span class="text-white"
                  >“Mình từng kinh doanh online nhưng thu nhập thấp, bấp
                  bênh nên quyết định thay đổi hướng đi. Mình chọn Tinona để
                  học nghề và giờ đã có thể tự mở được Spa cho mình.”</span
                >
              </div>
            </div>
          </div></ng-template>
        </swiper>
        
      </div>

      <div class="stories-mobile stories bg-indigo-900 pt-4 lg:hidden">
        <div class="specializ-top">
          <h2 class="specializ-title text-white">Câu chuyện học viên</h2>
          <p class="text-center text-white  !mx-6">
            Hơn 10.000 học viên hài lòng và thành công khi chọn Timona Academy
          </p>
        </div>


        <swiper [pagination]="{
          dynamicBullets: true,
          clickable: true
      }" class="mySwiper">
          <ng-template swiperSlide>
            <div
                class="bg-cyan-900 mb-10 rounded-lg mx-4 flex justify-center items-center h-72 relative"
                
              >
                <div class="absolute left-0 bottom-0">
                  <div class="storie-img">
                    <img src="../../../assets/images/storymb.png" alt="" />
                  </div>
                </div>
                <div class="flex flex-col absolute left-1/2">
                  <span class="text-xl text-white">Học viên</span>
                  <p class="text-yellow-500 !border-r-0 !m-0 uppercase text-xl">chị nga</p>
                  <span class="text-white"
                    >Học viên ngoại khóa K47</span
                  >
                  <span class="text-white"
                    >“Mình từng kinh doanh online nhưng thu nhập thấp, bấp bênh
                    nên quyết định thay đổi hướng đi. Mình chọn Tinona để học
                    nghề và giờ đã có thể tự mở được Spa cho mình.”</span
                  >
                </div>
              </div>
        </ng-template>
          <ng-template swiperSlide>
            <div
            class="bg-cyan-900 mb-10 rounded-lg mx-4 flex justify-center items-center h-72 relative"
            
          >
            <div class="absolute left-0 bottom-0">
              <div class="storie-img">
                <img src="../../../assets/images/storymb.png" alt="" />
              </div>
            </div>
            <div class="flex flex-col absolute left-1/2">
              <span class="lecturer-title">Học viên</span>
              <p class="lecturer-name !border-r-0 !m-0">chị nga</p>
              <span class="lecturer-specializ"
                >Học viên ngoại khóa K47</span
              >
              <span class="story-des"
                >“Mình từng kinh doanh online nhưng thu nhập thấp, bấp bênh
                nên quyết định thay đổi hướng đi. Mình chọn Tinona để học
                nghề và giờ đã có thể tự mở được Spa cho mình.”</span
              >
            </div>
          </div>
          </ng-template>
          <ng-template swiperSlide>
            <div
            class="bg-cyan-900 mb-10 rounded-lg mx-4 flex justify-center items-center h-72 relative"
            
          >
            <div class="absolute left-0 bottom-0">
              <div class="storie-img">
                <img src="../../../assets/images/storymb.png" alt="" />
              </div>
            </div>
            <div class="flex flex-col absolute left-1/2">
              <span class="lecturer-title">Học viên</span>
              <p class="lecturer-name !border-r-0 !m-0">chị nga</p>
              <span class="lecturer-specializ"
                >Học viên ngoại khóa K47</span
              >
              <span class="story-des"
                >“Mình từng kinh doanh online nhưng thu nhập thấp, bấp bênh
                nên quyết định thay đổi hướng đi. Mình chọn Tinona để học
                nghề và giờ đã có thể tự mở được Spa cho mình.”</span
              >
            </div>
          </div>
          </ng-template>
        </swiper>
      </div>

      <div class="experts pt-4 lg:pt-0">
        <div class="specializ-top">
          <h2
            class="specializ-title !pt-0 text-center expert-title text-yellow-500"
          >
            học nghề cùng chuyên gia
          </h2>
        </div>

        <div class="lg:block hidden">
          

          <swiper [navigation]="true" class="mySwiper">
            <ng-template swiperSlide>
              <div class="expert-wrapper">
                <div class="">
                  <div class="expert-video">
                    <div class="relative"  (click)="showVideo()">
                      <div class="expert-boder {{hidden}} ">
                        <div class="expert-boder-left">
                          <div class="expert-boder-img">
                            <img
                              src="../../../assets/images/homepages/homepage/logo/timona-logo.png"
                              class="h-full w-ful bg-indigo-900 object-contain"
                              alt=""
                            />
                          </div>
                          <div class="expert-boder-question text-yellow-500">
                            master thẩm mỹ khó hay dễ
                          </div>
                        </div>
                        <div class="expert-boder-right">
                          <img
                            src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/master-thẩm-mỹ.png"
                            class="h-full w-ful bg-indigo-900"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="video-yotube {{active}}">
                        
                        <iframe width="425" height="250" src="https://www.youtube.com/embed/HjNODEFghK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <i class="button-play cursor-pointer {{hidden}}" ><img class="w-full h-full" src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/play-button.jpg" alt=""></i>


                    </div>

                    <span class="expert-question text-yellow-500"
                      >master thẩm mỹ - khó hay dễ?</span
                    >
                  </div>
                </div>
                <div class="">
                  <div class="expert-video">
                    <div class="relative " (click)="showVideo1()">
                      <div class="expert-boder border-reverse {{hidden1}}" >
                        <div class="expert-boder-left left-reverse">
                          <div class="expert-boder-img img-reverse">
                            <img
                              src="../../../assets/images/homepages/homepage/logo/timona-logo.png"
                              class="h-full w-ful bg-indigo-900 object-contain"
                              alt=""
                            />
                          </div>
                          <div class="expert-boder-question text-yellow-500">
                            <div class="mb-2">cách thức</div>

                            <strong class="text-strong text-yellow-500">
                              tạo niềm tin</strong
                            >
                            <div class="mt-2">nơi khách hàng</div>
                          </div>
                        </div>
                        <div class="expert-boder-right right-reverse">
                          <img
                            src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/niềm-tin-khách-hàng.png"
                            class="h-full w-ful bg-indigo-900"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="{{active1}} ">
                        <iframe width="425" height="250" src="https://www.youtube.com/embed/RmVt5J4b1Ag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>

                      <i class="button-play cursor-pointer {{hidden1}}" 
                        ><img
                          class="w-full h-full"
                          src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/play-button.jpg"
                          alt=""
                      /></i>
                    </div>
                    <span
                      class="expert-question text-yellow-500 text-yellow-500"
                      >cách thức tạo niềm tin nơi khách hàng</span
                    >
                  </div>
                </div>
              </div>
              </ng-template>
            <ng-template swiperSlide>
              
              <div class="expert-wrapper">
                <div class="">
                  <div class="expert-video">
                    <div class="relative"  (click)="showVideo()">
                      <div class="expert-boder {{hidden}} ">
                        <div class="expert-boder-left">
                          <div class="expert-boder-img">
                            <img
                              src="../../../assets/images/homepages/homepage/logo/timona-logo.png"
                              class="h-full w-ful bg-indigo-900 object-contain"
                              alt=""
                            />
                          </div>
                          <div class="expert-boder-question text-yellow-500">
                            master thẩm mỹ khó hay dễ
                          </div>
                        </div>
                        <div class="expert-boder-right">
                          <img
                            src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/master-thẩm-mỹ.png"
                            class="h-full w-ful bg-indigo-900"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="video-yotube {{active}}">
                        
                        <iframe width="425" height="250" src="https://www.youtube.com/embed/HjNODEFghK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <i class="button-play cursor-pointer {{hidden}}" ><img class="w-full h-full" src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/play-button.jpg" alt=""></i>


                    </div>

                    <span class="expert-question text-yellow-500"
                      >master thẩm mỹ - khó hay dễ?</span
                    >
                  </div>
                </div>
                <div class="">
                  <div class="expert-video">
                    <div class="relative " (click)="showVideo1()">
                      <div class="expert-boder border-reverse {{hidden1}}" >
                        <div class="expert-boder-left left-reverse">
                          <div class="expert-boder-img img-reverse">
                            <img
                              src="../../../assets/images/homepages/homepage/logo/timona-logo.png"
                              class="h-full w-ful bg-indigo-900 object-contain"
                              alt=""
                            />
                          </div>
                          <div class="expert-boder-question text-yellow-500">
                            <div class="mb-2">cách thức</div>

                            <strong class="text-strong text-yellow-500">
                              tạo niềm tin</strong
                            >
                            <div class="mt-2">nơi khách hàng</div>
                          </div>
                        </div>
                        <div class="expert-boder-right right-reverse">
                          <img
                            src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/niềm-tin-khách-hàng.png"
                            class="h-full w-ful bg-indigo-900"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="{{active1}} ">
                        <iframe width="425" height="250" src="https://www.youtube.com/embed/RmVt5J4b1Ag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>

                      <i class="button-play cursor-pointer {{hidden1}}" 
                        ><img
                          class="w-full h-full"
                          src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/play-button.jpg"
                          alt=""
                      /></i>
                    </div>
                    <span
                      class="expert-question text-yellow-500 text-yellow-500"
                      >cách thức tạo niềm tin nơi khách hàng</span
                    >
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="expert-wrapper">
                <div class="">
                  <div class="expert-video">
                    <div class="relative"  (click)="showVideo()">
                      <div class="expert-boder {{hidden}} ">
                        <div class="expert-boder-left">
                          <div class="expert-boder-img">
                            <img
                              src="../../../assets/images/homepages/homepage/logo/timona-logo.png"
                              class="h-full w-ful bg-indigo-900 object-contain"
                              alt=""
                            />
                          </div>
                          <div class="expert-boder-question text-yellow-500">
                            master thẩm mỹ khó hay dễ
                          </div>
                        </div>
                        <div class="expert-boder-right">
                          <img
                            src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/master-thẩm-mỹ.png"
                            class="h-full w-ful bg-indigo-900"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="video-yotube {{active}}">
                        
                        <iframe width="425" height="250" src="https://www.youtube.com/embed/HjNODEFghK0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      <i class="button-play cursor-pointer {{hidden}}" ><img class="w-full h-full" src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/play-button.jpg" alt=""></i>


                    </div>

                    <span class="expert-question text-yellow-500"
                      >master thẩm mỹ - khó hay dễ?</span
                    >
                  </div>
                </div>
                <div class="">
                  <div class="expert-video">
                    <div class="relative " (click)="showVideo1()">
                      <div class="expert-boder border-reverse {{hidden1}}" >
                        <div class="expert-boder-left left-reverse">
                          <div class="expert-boder-img img-reverse">
                            <img
                              src="../../../assets/images/homepages/homepage/logo/timona-logo.png"
                              class="h-full w-ful bg-indigo-900 object-contain"
                              alt=""
                            />
                          </div>
                          <div class="expert-boder-question text-yellow-500">
                            <div class="mb-2">cách thức</div>

                            <strong class="text-strong text-yellow-500">
                              tạo niềm tin</strong
                            >
                            <div class="mt-2">nơi khách hàng</div>
                          </div>
                        </div>
                        <div class="expert-boder-right right-reverse">
                          <img
                            src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/niềm-tin-khách-hàng.png"
                            class="h-full w-ful bg-indigo-900"
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="{{active1}} ">
                        <iframe width="425" height="250" src="https://www.youtube.com/embed/RmVt5J4b1Ag" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>

                      <i class="button-play cursor-pointer {{hidden1}}" 
                        ><img
                          class="w-full h-full"
                          src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/play-button.jpg"
                          alt=""
                      /></i>
                    </div>
                    <span
                      class="expert-question text-yellow-500 text-yellow-500"
                      >cách thức tạo niềm tin nơi khách hàng</span
                    >
                  </div>
                </div>
              </div>
          </ng-template>
          </swiper>
        </div>

        <div class="lg:hidden mx-3">
      
          <swiper [pagination]="{
            dynamicBullets: true,
            clickable: true
        }" class="mySwiper">
            <ng-template swiperSlide>
              <div>
                <div
                class="expert-mobiles pb-5 w-full lg:hidden"
                style="height: 300"
              >
                <div class="relative h-full">
                  <div class="mb-5">
                    <iframe
                      width="100%"
                      height="250"
                      src="https://www.youtube.com/embed/HjNODEFghK0"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
              <div
              class="expert-boder-question !w-full text-center font-black text-yellow-500"
            >
              master thẩm mỹ khó hay dễ
            </div>
              </div>
           
          
          </ng-template>
            <ng-template swiperSlide>
              <div>
                <div
                class="expert-mobiles pb-5 w-full lg:hidden"
                style="height: 300"
              >
                <div class="relative h-full">
                  <div class="mb-5">
                    <iframe
                      width="100%"
                      height="250"
                      src="https://www.youtube.com/embed/RmVt5J4b1Ag"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
              <div
              class="expert-boder-question !w-full text-center font-black text-yellow-500"
            >
              master thẩm mỹ khó hay dễ
            </div>
              </div>
              
            </ng-template>
            <ng-template swiperSlide>
              <div>
                <div
                class="expert-mobiles pb-5 w-full lg:hidden"
                style="height: 300"
              >
                <div class="relative h-full">
                  <div class="mb-5">
                    <iframe
                      width="100%"
                      height="250"
                      src="https://www.youtube.com/embed/D7nrbiprVOQ"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
              <div
              class="expert-boder-question !w-full text-center font-black text-yellow-500"
            >
              master thẩm mỹ khó hay dễ
            </div>
              </div>
              
            </ng-template>
            <ng-template swiperSlide>
              <div>
                <div
                class="expert-mobiles pb-5 w-full lg:hidden"
                style="height: 300"
              >
                <div class="relative h-full">
                  <div class="mb-5">
                    <iframe
                      width="100%"
                      height="250"
                      src="https://www.youtube.com/embed/Nj2RxBPvRaI"
                      title="YouTube video player"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                  </div>
                </div>
              </div>
              <div
              class="expert-boder-question !w-full text-center font-black text-yellow-500"
            >
              master thẩm mỹ khó hay dễ
            </div>
              </div>
            
            </ng-template>
          </swiper>
        </div>
      </div>
    </section>
  </div>

  <section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8 pt-10 lg:hidden">
    <div class="lg:pt-10 w-full h-1/2 flex flex-col lg:flex-row">
      <div class="flex-1 bg-gray-200 lg:mr-4 hidden">
        <div style="width: 200px; height: 400px"></div>
      </div>
      <div class="flex-1 right new lg:hidden">
        <h2
          class="uppercase lg:pl-2 mb-2 relative text-indigo-900 text-center lg:text-left pt:10 text-xl"
        >
          Tin tức - sự kiện
        </h2>
        <div class="pt-4 flex justify-start new-item">
          <div class="lg:w-1/2 bg-gray-200 mx-3">
            <div class="" style="height: 370px">
              <img
                src="../../../assets/images/Mobile/vinhdanhthuonghieu.jpg"
                class="h-full"
                alt=""
              />
            </div>
          </div>
          <div class="flex flex-col new-info mt-4 mx-4">
            <p class=" text-indigo-900 font-black new-title">
              Tinoma Academy được vinh danh thương hiệu tiêu biểu Châu Á thái
              bình dương
            </p>
            <span class="pb-2  text-indigo-900 new-des"
              >Với sự đầu tư nghiêm túc về chất lượng đào tạo, Timona
              Academy vinh dự nhận được giải thưởng “Thương hiệu tiêu biểu châu Á - Thái Bình Dương 2021”.</span
            >

            <div
              class="text-indigo-900  top-3 font-black new-link hidden lg:block"
            >
              <a href="#" class=" hidden lg:block">Tìm hiểu thêm >></a>
            </div>
            <div
              class="text-indigo-900  top-3 text-center font-black new-link pt-2   lg:hidden"
            >
              <a href="#" class=" text-white bg-indigo-900  rounded-lg p-2"
                >Xem thêm các thông tin khác >></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="lg:px-28">
    <div class="newspaper">
      <h2 class="newpaper-title">Báo chí nói gì về timona academy</h2>
      <div class="new-social">
        <div class="new-img">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
            alt=""
            class="w-full h-full object-contain"
          />
        </div>
        <div class="new-img">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/tuoitre.png"
            alt=""
            class="w-full h-full object-contain"
          />
        </div>
        <div class="new-img">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/Yeah1.png"
            alt=""
            class="w-full h-full object-contain"
          />
        </div>
        <div class="new-img" style="height: 50px">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/eva.vn.png"
            alt=""
            class="w-full h-full object-contain"
          />
        </div>
        <div class="new-img">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/ngoisao.png"
            alt=""
            class="w-full h-full object-contain"
          />
        </div>
        <div class="new-img" style="height: 50px">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/dulichtoday.png"
            alt=""
            class="w-full h-full object-contain"
          />
        </div>
      </div>
    </div>

    <div
      class="form-sale relative hidden lg:block lg:max-w-7xl lg:mx-auto lg:px-8"
    >
      <div class="text-5xl text-white absolute left-0 w-full">
        <img
          src="../../../assets/images/homepages/homepage/Đăng ký kháo học/Dangkykhoahoc.png"
          class="w-full h-full top-0 left"
          alt=""
        />
      </div>
      <div class="form-wrapper rounded-2xl">
        <div class="form-right ml-10 ">
          <form class="form-submit relative ">
            <div class="flex justify-between pb-3">
              <input
                type="text"
                id="username-success"
                class="border border-none bg-white text-black-900 placeholder-black-700  mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="HỌ TÊN"
              />
              <input
                type="text"
                id="username-success"
                class="border border-none bg-white text-black-900 placeholder-black-700  ml-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="SỐ ĐIỆN THOẠI"
              />
            </div>

            <div class="flex justify-between mt-3 pb-2">
              <input
                type="text"
                id="username-success"
                class="border border-none bg-white text-black-900 placeholder-black-700  mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="MÃ GIỚI THIỆU"
              />

              <select
                id="countries"
                class="g-green-50 border border-none text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 focus:border-black-500 ml-3 block p-1.5 dark:bg-black-100 dark:border-black-400"
              >
                <option>KHÓA HỌC</option>
              </select>
            </div>

            <button class="absolute bottom-0">đăng kí ngay</button>
          </form>
        </div>
      </div>
    </div>

    <div class="formsale-mobile bg-indigo-900 rounded-lg lg:hidden">
      <div class="flex justify-center items-center pt-5 text-white text-5xl">
        480*500
      </div>
      <form class="form-submit pb-8 justify-center items-center">
        <input
          type="text"
          id="username-success"
          class=" border bg-white  border-none text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="HỌ TÊN"
        />
        <input
          type="text"
          id="username-success"
          class=" border bg-white  border-none text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="SỐ ĐIỆN THOẠI"
        />
        <input
          type="text"
          id="username-success"
          class=" border border-none bg-white  text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="MÃ GIỚI HIỆU"
        />

        <select
          id="countries"
          class="g-green-50 border border-none text-black-900 placeholder-black-700  rounded-lg focus:ring-black-500 focus:border-black-500 mx-2 mt-4 block p-1.5 dark:bg-black-100 dark:border-black-400"
        >
          <option class="text-black-700">KHÓA HỌC</option>
        </select>

        <button class="text-center !w-full mx-32 rounded-lg">
          đăng kí ngay
        </button>
      </form>
    </div>
  </div>
</div>
