<div class="homepage overflow-hidden relative">
  <div>
    <app-new-event></app-new-event>
    <app-intro></app-intro>
  </div>

  <div class="lg:max-w-7xl lg:mx-auto lg:px-8">
    <section class="w-full h-full bg-indigo-900 border-top lg:px-20">
      <div class="mx-6 lg:mx-0">
        <app-specialzed></app-specialzed>
        <app-commit></app-commit>
        <app-lecturer></app-lecturer>
      </div>
    </section>

    <div class="statistical hidden lg:block pb-12 lg:px-20">
      <div class="statistical-wrapper">
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/6-cơ-sở.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">06</h2>
            <span class="statistical_des">CƠ SỞ</span>
          </div>
        </div>

        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/20.000-học-viên.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">20.000+</h2>
            <span class="statistical_des">Học viên mỗi năm</span>
          </div>
        </div>
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/100-có-việc-làm.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">100%</h2>
            <span class="statistical_des">Có việc làm</span>
          </div>
        </div>
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/10tr-lương-khỏi-điểm.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title flex items-center">
              10 <strong class="">TRIỆU</strong>
            </h2>
            <span class="statistical_des">Lương khởi điểm</span>
          </div>
        </div>
      </div>
    </div>

    <section
      class="w-full h-full bg-indigo-900 border-bottom pb-12  lg:px-10"
    >
    
      <app-story></app-story>

      
     <app-expert></app-expert>
    </section>
  </div>

  <section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8 pt-10 lg:hidden">
    <div class="lg:pt-10 w-full h-1/2 flex flex-col ">
      
      <div class=" right new lg:hidden">
        <h2
          class="uppercase lg:pl-2 mb-2 relative text-indigo-900 text-center lg:text-left pt:10 text-xl"
        >
          Tin tức - sự kiện
        </h2>
        <div class="pt-4 flex justify-start flex-col new-item">
          <div class="lg:w-1/2 bg-gray-200 mx-3">
            <div class="" style="height: 370px">
              <img
                src="../../../assets/images/Mobile/vinhdanhthuonghieu.jpg"
                class="h-full"
                alt=""
              />
            </div>
          </div>
          <div class="flex flex-col new-info mt-4 mx-4">
            <p class=" text-indigo-900 font-black new-title">
              Thương hiệu tiêu biểu Châu Á – Thái Bình Dương
            </p>
            <span class="pb-2  text-indigo-900 new-des"
              >Với sự đầu tư nghiêm túc về chất lượng đào tạo, Timona
              Academy vinh dự nhận được giải thưởng “Thương hiệu tiêu biểu châu Á - Thái Bình Dương 2021”.</span
            >

            <div
              class="text-indigo-900  top-3 font-black new-link hidden lg:block"
            >
              <a href="#" class=" hidden lg:block">Tìm hiểu thêm >></a>
            </div>
            <div
              class="text-indigo-900  top-3 text-center font-black new-link pt-2   lg:hidden"
            >
              <a href="#" class=" text-white bg-indigo-900  rounded-lg p-2"
                >Xem thêm các thông tin khác >></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="lg:max-w-7xl lg:mx-auto lg:px-8 py-10 ">
    
      <h2 class="newpaper-title">Báo chí nói gì về timona academy</h2>
      
<div class="hidden lg:block">
  <swiper
  [config]="config"
  class="mySwiper "
>
<ng-template swiperSlide><div class="new-img">
<img
  src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
  alt=""
  class="w-full h-full object-contain"
/>
</div>
</ng-template
><ng-template swiperSlide><div class="new-img">
<img
  src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/tuoitre.png"
  alt=""
  class="w-full h-full object-contain"
/>
</div>
</ng-template
><ng-template swiperSlide><div class="new-img">
<img
  src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/Yeah1.png"
  alt=""
  class="w-full h-full object-contain"
/>
</div></ng-template
><ng-template swiperSlide><div class="new-img" >
<img
  src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/eva.vn.png"
  alt=""
  class="w-full h-full object-contain"
/>
</div></ng-template
><ng-template swiperSlide><div class="new-img">
<img
  src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/ngoisao.png"
  alt=""
  class="w-full h-full object-contain"
/>
</div></ng-template
><ng-template swiperSlide><div class="new-img" >
<img
  src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/dulichtoday.png"
  alt=""
  class="w-full h-full object-contain"
/>
</div>
</ng-template
>

</swiper>
</div>
    
       <div class="lg:hidden">
        <div class=" grid grid-cols-2 items-center justify-center">
          <div class="new-img">
            <img
              src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
              alt=""
              class="w-28 h-full object-contain"
            />
          </div>
          <div class="new-img">
            <img
              src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/tuoitre.png"
              alt=""
              class="w-28 h-full object-contain"
            />
          </div>
          <div class="new-img">
            <img
              src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/Yeah1.png"
              alt=""
              class="w-28 h-full object-contain"
            />
          </div>
          <div class="new-img" >
            <img
              src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/eva.vn.png"
              alt=""
              class="w-28 h-full object-contain"
            />
          </div>
          <div class="new-img">
            <img
              src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/ngoisao.png"
              alt=""
              class="w-28 h-full object-contain"
            />
            </div>
          <div class="new-img" >
            <img
              src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/dulichtoday.png"
              alt=""
              class="w-28 h-full object-contain"
            />
          </div>
          
        </div>
       </div>

  
    
    
  </div>
  <app-form></app-form>
  <div class="fixed right-2 bottom-5"></div>
</div>
