.intro-left__top{
    text-align: center;
}
.new-des{
overflow: hidden;
display: -webkit-box; 
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
max-height: 2.6rem;
}
.banner-img{
    width: 170px;
    
}


.banner-image img{
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 960px){
    .banner-image{
        height: 100%;
    }
}
@media only screen and (max-width: 639px){
    
    .new-wrapper{
        height: auto;
       
    }
    
}
@media screen  and (max-width:480px){
   .banner-image{
       width: 100% !important;
   }
   .banner-image img {
       width: 100% !important;
       height: 100% !important;
   }
   
}