<section class="lg:max-w-7xl mx-auto lg:pt-10  lg:px-8">
  <div class="  w-full  flex flex-col md:flex-row lg:flex-row new-wrapper" >
    <div class="  md:mr-4 lg:mr-4 lg:w-3/5">
      <div class="banner-image  ">
       
       <img src="../../../assets/images/homepages/homepage/Banner/COVER-WEB.png" class="w-full h-full lg:block hidden"/>
       <img src="../../../assets/images/homepages/homepage/Banner/COVER-WEB-MOBILE.png" class="w-full h-full lg:hidden"/>

       <!-- <img src="../../../assets/images/banner-mobile.png" class="w-full h-full lg:hidden"/> -->
       <!-- <img src="../../../assets/images/homepages/homepage/Banner/banner-Timona-02.jpg" class="w-full h-full object-contain  lg:hidden"/> -->
       
       <!-- <img src="../../../assets/images/banner-tablet.png" class="hidden sm:block lg:hidden"> -->
      </div>
     
    </div>

    <div class="right new hidden md:block lg:flex justify-between flex-col w-2/5">
      <h2 class="uppercase lg:pl-2 mb-2 relative text-indigo-900 lg:text-left   pt:10 text-xl font-black">Tin tức - sự
        kiện
        <div class="absolute h-full w-0.5 bg-indigo-900 top-0 left-0"> </div>
      </h2>
      <div class="pt-2 flex justify-start new-item cursor-pointer" *ngFor="let item of news" routerLink="/tin-tuc-su-kien/tintuc">
        <div class="lg:w-1/2 w-full  mr-4">
          <div style="width: 130px; height: auto;">
            <div style="width: 130px; height: auto;"><img src="{{item.thumbimage}}" class="w-full h-full" alt=""></div></div>
        </div>
        <div class="flex flex-col justify-between new-info">
          <p class=" text-indigo-900 font-black new-title mb-0">{{item.title}}</p>
          <span class="pb-2  text-indigo-900 new-des"><div [innerHtml]="item.des"></div>
          </span>
          <a routerLink="/tin-tuc-su-kien/tintuc" class="text-indigo-900    top-3  font-black new-link">Tìm hiểu thêm >></a>

        </div>
      </div>

      <!-- <div class="hidden md:block lg:block">
        <div class="pt-2 flex justify-start new-item">
          <div class="lg:w-1/2 w-full  mr-4">
            <div style="width: 130px; height: auto;"><img src="../../../assets/images/homepages/homepage/Thumb tin tức & sự kiện/khai-trương.png" class="w-full h-full" alt=""></div>
          </div>
          <div class="flex flex-col justify-between new-info">
            <p class=" text-indigo-900 font-black new-title mb-0">Timona Academy khai trương trụ sở đào tạo thẩm mỹ quốc tế</p>
            <span class="pb-2 text-sm text-indigo-900 new-des">Ngày 20/11, Timona Academy khai trương trụ sở tại Bình Thạnh, Tp. HCM. Đánh dấu bước chuyển mình quan trọng trong việc khẳng định thương hiệu – Học viện đào tạo thẩm mỹ chuẩn quốc tế tại Việt Nam.
            </span>
            <a href="#" class="text-indigo-900    top-3  font-black new-link">Tìm hiểu thêm >></a>
  
          </div>
        </div>
      </div>

      <div class="hidden lg:block">
        <div class="pt-2 flex justify-start new-item">
          <div class="lg:w-1/2 w-full  mr-4">
            <div style="width: 130px; height: auto;">
              <div style="width: 130px; height: auto;"><img src="../../../assets/images/homepages/homepage/Thumb tin tức & sự kiện/sân-chơi-cho-học-viên.png" class="w-full h-full" alt=""></div></div>
          </div>
          <div class="flex flex-col justify-between new-info">
            <p class=" text-indigo-900 font-black new-title mb-0">Timona Academy tổ chức sân chơi cho những học viên phun xăm thẩm mỹ chuyên nghiệp</p>
            <span class="pb-2 text-sm text-indigo-900 new-des">Sáng 29/12, đã diễn ra chương trình Asia International Beauty Award 2020 do Học viện Thẩm mỹ Quốc tế Timona Academy tổ chức, quy tụ hơn 30 thí sinh thực lực, cùng hệ thống giải thưởng, quà tặng lên đến 100 triệu đồng.
            </span>
            <a href="#" class="text-indigo-900    top-3  font-black new-link">Tìm hiểu thêm >></a>
  
          </div>
        </div>
      </div> -->


    </div>
  </div>
</section>