<section class="lg:max-w-7xl mx-auto lg:px-2 px-3 lg:px-6 lg:px-8 lg:pb-5 overflow-hidden">
    <div class="pt-10">
        <div class="pb-10 hidden md:block">
            <ul class="flex">
                <li class=" mr-5"><a class="py-1 px-5  font-bold text-xl rounded-xl  new-text" routerLink="tintuc" routerLinkActive="new-active">Tin tức</a></li>
                <li class=" mr-5"><a class="py-1 px-5  font-bold text-xl rounded-xl  new-text" routerLink="sukien" routerLinkActive="new-active">Sự kiện</a></li>
                <li class=" mr-5"><a class="py-1 px-5  font-bold text-xl rounded-xl  new-text" routerLink="lamdep" routerLinkActive="new-active">Làm đẹp</a></li>
                <li class=" mr-5"><a class="py-1 px-5  font-bold text-xl rounded-xl  new-text" routerLink="hoc-nghe-cung-chuyen-gia" routerLinkActive="new-active">Học nghề cùng chuyên gia</a></li>

            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>