.contact-center{
    transform: translate(-25%, -50%);
}
.form-check{
    width: 280px;
}
.form-check-label{
    width: 100%;
    color: white;
}


@media only screen and (max-width: 762px){
    .form-check-input{
        width: 20px;
        height: 20px;
    }
    .textarea-form{
        min-height: calc(2.5em + 6.75rem + 2px) !important;
    }
    
    .contact-img {
        width: 200px; 
        height: auto;
      }
      .font-text{
          font-size: 1.125rem !important;
      }
      .form-check{
          width: 160px;
      }
      .form-check-label{
        font-size: 12px;
    }
   
  }


  @media only screen and (min-width: 960px){
    .contact-img {
        width: 350px; 
        height: auto;
      }
      
  }