<div class="flex w-full">
    <mat-drawer-container class="example-container w-full" autosize>
        <mat-drawer
            #drawer
            opened
            class="example-sidenav lg:w-1/4 w-full"
            mode="side"
        >
            <button type="button" (click)="drawer.toggle()" class="p-5">
                <span class="material-icons"> close </span>
            </button>
            <div class="p-5">
                <p class="text-2xl text-center py-5">Danh sách các bài viết</p>
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <mat-tree-node
                        *matTreeNodeDef="let node"
                        matTreeNodePadding
                    >
                        <button mat-icon-button disabled></button>
                        <span (click)="onSelectDanhmucEdit(node.item)">{{
                            node.name
                        }}</span>
                    </mat-tree-node>
                    <mat-tree-node
                        *matTreeNodeDef="let node; when: hasChild"
                        matTreeNodePadding
                    >
                        <button
                            mat-icon-button
                            matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + node.name"
                        >
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{
                                    treeControl.isExpanded(node)
                                        ? "expand_more"
                                        : "chevron_right"
                                }}
                            </mat-icon>
                        </button>
                        {{ node.name }}
                    </mat-tree-node>
                </mat-tree>
            </div>
        </mat-drawer>

        <div class="example-sidenav-content w-full flex h-full">
            <div class="w-full bg-card shadow p-5">
                <button
                    type="button"
                    (click)="drawer.toggle()"
                    class="px-0 pb-5"
                >
                    <div class="space-y-2">
                        <span class="material-icons"> menu </span>
                    </div>
                </button>
                <form class="w-full pt-10" [formGroup]="DanhmucList">
                    <div class="flex flex-wrap">
                        <div
                            class="flex md:mx-3 md:flex-row flex-col mb-6 justify-between w-full"
                        >
                            <mat-form-field
                                class="fuse-mat-emphasized-affix md:w-80 w-76 md:mb-0 mb-6"
                                appearance="fill"
                                style="height: 50px"
                            >
                                <span matPrefix>Danh mục cha</span>
                                <mat-select [formControlName]="'tenDMcha'">
                                    <mat-option></mat-option>
                                    <mat-option
                                        [value]="item.Tieude"
                                        *ngFor="let item of danhmuc"
                                        (click)="onSelectDanhmucCha(item)"
                                        >{{ item.Tieude }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                class="fuse-mat-emphasized-affix md:w-80 w-76"
                                appearance="fill"
                                style="height: 50px"
                            >
                                <span matPrefix>Type</span>
                                <mat-select
                                    placeholder=""
                                    [formControlName]="'Type'"
                                >
                                    <mat-option value=""></mat-option>

                                    <mat-option value="chuyennganh"
                                        >Chuyên ngành</mat-option
                                    >
                                    <mat-option value="gochocvien"
                                        >Góc học viên</mat-option
                                    >
                                    <mat-option value="tintucsukien"
                                        >Tin tức sự kiện</mat-option
                                    >
                                    <mat-option value="sukien"
                                        >Sự kiện</mat-option
                                    >
                                    <mat-option value="letotnghiep"
                                        >Lễ tốt nghiệp</mat-option
                                    >
                                    <mat-option value="cuocthiphunxam"
                                        >Cuộc thi phun xăm</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field
                                class="fuse-mat-emphasized-affix md:w-80 w-76 md:mt-0 mt-6"
                                appearance="fill"
                                style="height: 50px"
                            >
                                <span matPrefix>Edit Danh mục</span>
                                <mat-select
                                    (selectionChange)="
                                        onSelectDanhmucEdit($event.value)
                                    "
                                >
                                    <mat-option value=""></mat-option>
                                    <mat-option
                                        [value]="item"
                                        *ngFor="let item of danhmuc"
                                        >{{ item.Tieude }}</mat-option
                                    >
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="w-full md:px-3 mb-6 md:mb-0">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name"
                            >
                                Tiêu đề
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name"
                                type="text"
                                placeholder="Giới thiệu"
                                formControlName="Tieude"
                                name="title"
                            />
                            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                        </div>
                        <div class="w-full md:px-3 mb-6 md:mb-0">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name"
                            >
                                Link
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name"
                                type="text"
                                placeholder="gioi-thieu"
                                formControlName="Slug"
                                name="title"
                            />
                            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                        </div>
                        <div class="w-full md:px-3 mb-6 md:mb-0">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="grid-first-name"
                            >
                                Ordering
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                                id="grid-first-name"
                                type="number"
                                placeholder="1"
                                formControlName="Ordering"
                                name="title"
                            />
                            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
                        </div>

                        <div class="flex flex-wrap my-4 md:px-3 w-full">
                            <div class="w-full">
                                <label
                                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                    for="grid-password"
                                >
                                    Mô tả
                                </label>
                                <ckeditor
                                    [editor]="Editor"
                                    #editer
                                    [config]="config"
                                    [formControlName]="'Mota'"
                                ></ckeditor>
                            </div>
                        </div>
                        <div class="flex flex-wrap md:mb-6">
                            <div class="w-full md:px-3 mb-6 md:mb-0">
                                <label>
                                    <input
                                        type="file"
                                        class="text-nowrap text-truncate"
                                        (change)="selectFile($event)"
                                    />
                                </label>
                                <button
                                    class="btn btn-success btn-sm mt-3 md:mt-0"
                                    [disabled]="!selectedFiles"
                                    (click)="upload()"
                                >
                                    Upload
                                </button>
                                <div
                                    *ngIf="currentFileUpload"
                                    class="progress mt-2"
                                >
                                    <div
                                        class="progress-bar progress-bar-info"
                                        role="progressbar"
                                        attr.aria-valuenow="{{ percentage }}"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                        [ngStyle]="{ width: percentage + '%' }"
                                    >
                                        {{ percentage }}%
                                    </div>
                                </div>
                            </div>

                            <div class="card w-full mt-5" *ngIf="thumb">
                                <div class="card-header">Image Upload</div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <img
                                            src="{{ thumb }}"
                                            class="w-20 h-20"
                                            alt=""
                                        />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group md:mx-3 mb-6">
                        <button
                            type="submit"
                            (click)="onSubmit()"
                            [disabled]="!DanhmucList.valid"
                            class="btn btn-success bg-indigo-900"
                            *ngIf="!idSelect"
                        >
                            Tạo mới
                        </button>
                        <button
                            type="update"
                            class="btn btn-primary mr-10"
                            (click)="updateDanhmuc()"
                            *ngIf="idSelect"
                        >
                            Cập nhật
                        </button>
                        <button
                            type="update"
                            class="btn btn-danger"
                            (click)="deleteDanhmuc()"
                            *ngIf="idSelect"
                        >
                            Xóa
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </mat-drawer-container>
</div>
