<div class="lg:max-w-7xl lg:mx-auto sm:px-6 lg:px-8">

    <div class="text-center mt-10 lg:mx-96 pb-5 lg:pb-0">
        <div class="dropdown">
            <button
                class="btn btn-secondary bg-indigo-900 rounded-3xl  dropdown-toggle relative  text-2xl text-yellow-500 uppercase"
                type="button" id="dropdownMenuButton1" style="width: 350px;" data-bs-toggle="dropdown" aria-expanded="false">
                
                xem nhanh nội dung
                <div class="absolute h-full bg-yellow-500 top-0 " style="width: 2px; right: 45px;"></div>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                
                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong">Hoạt Động</a></li>
                <li><a class="dropdown-item" routerLink="/goc-hoc-vien/cam-nghi-hoc-vien">Cảm Nghĩ Học Viên</a></li>
            </ul>
        </div>

    </div>

    <div class="lg:pt-10 w-full h-1/2 flex flex-col  hidden lg:block">
        <div class="pb-5">
            <div class="text-base text-indigo-900">Home >> Góc Học Viên</div>
        </div>
    </div>

    <div class="bg-indigo-900  lg:pb-10">
      <p class="text-white uppercase text-center text-2xl lg:text-4xl pt-3">
        Giới thiệu
      </p>
      <p class="lg:text-base text-sm text-white intro-description text-justify">
        Học viện thẩm mỹ quốc tế Timona Academy tự hào là địa chỉ đào tạo chuyên
        nghiệp nguồn nhân lực chất lượng cao cho ngành làm đẹp với cam kết 100%
        việc làm cho học viên sau tốt nghiệp. Đồng thời, đây cũng là đơn vị uy tín
        cấp phép bởi Sở LĐTBXH và được giới chuyên môn đánh giá cao trong công tác
        đào tạo, ứng dụng công nghệ mới của ngành Thẩm mỹ
      </p>
    </div>
    
  </div>
  