<div class="lg:max-w-7xl lg:mx-auto sm:px-6 lg:px-8">
  <div class="text-center mt-10 lg:mx-96 pb-5 lg:pb-0">
    <div class="dropdown">
      <button
        class="btn btn-secondary bg-indigo-900 rounded-3xl dropdown-toggle relative text-2xl text-yellow-500 uppercase"
        type="button"
        id="dropdownMenuButton1"
        style="width: 350px"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        xem nhanh nội dung
        <div
          class="absolute h-full bg-yellow-500 top-0"
          style="width: 2px; right: 45px"
        ></div>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong"
            >Hoạt Động</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="/goc-hoc-vien/cam-nghi-hoc-vien"
            >Cảm Nghĩ Học Viên</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="w-full h-1/2 flex flex-col hidden lg:block">
    <div class="pb-5">
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a
              routerLink=""
              class="inline-flex items-center text-sm font-medium text-indigo-900 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
            >
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center">
              <svg
                class="w-6 h-6 text-indigo-900"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <a
                routerLink=""
                class="ml-1 text-sm font-medium text-indigo-900 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
                >Khóa Học</a
              >
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center">
              <svg
                class="w-6 h-6 text-indigo-900"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span
                class="ml-1 text-sm font-medium text-text-indigo-900 md:ml-2 dark:text-indigo-900"
                >Phun xăm Thẩm Mỹ</span
              >
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="bg-indigo-900 lg:px-10  lg:pb-10 wrapper padding-bottom">
    <p class="text-white uppercase text-center text-2xl lg:text-4xl pt-3">
      Phun Xăm thẩm Mỹ
    </p>
    <p class="lg:text-base text-sm text-white intro-description text-justify">
      Học viện thẩm mỹ quốc tế Timona Academy tự hào là địa chỉ đào tạo chuyên
      nghiệp nguồn nhân lực chất lượng cao cho ngành làm đẹp với cam kết 100%
      việc làm cho học viên sau tốt nghiệp. Đồng thời, đây cũng là đơn vị uy tín
      cấp phép bởi Sở LĐTBXH và được giới chuyên môn đánh giá cao trong công tác
      đào tạo, ứng dụng công nghệ mới của ngành Thẩm mỹ
    </p>
  </div>

  <div class="wrapper">
   
  
    <div class="pt-4">
      <h2 class="text-indigo-900 uppercase text-xl ">
        Giới thiệu chung về khóa đào tạo phun xăm chuyên nghiệp
      </h2>
      <div class="flex justify-center items-center">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/pjgElO5jKOs"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="text-indigo-900 text-sm text-justify pt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iure porro
        laudantium eaque repellendus, minima voluptas nostrum error architecto
        laboriosam et a fugit temporibus ut ratione sequi magnam dignissimos sint!
      </div>
    </div>
  
    <div class="pt-4">
      <h2 class="text-indigo-900 uppercase text-xl mb-0">Cơ Hội nghề nghiệp</h2>
      <div class="text-indigo-900 text-sm text-justify lg:pt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iure porro
        laudantium eaque repellendus, minima voluptas nostrum error architecto
        laboriosam et a fugit temporibus ut ratione sequi magnam dignissimos sint!
      </div>

      <div class=" w-full pt-3 lg:hidden" style="height: 200px;">
       <img src="../../../assets/images/course-phunxammb.png" class="" alt="">
      </div>

      <div class="lg:hidden">
        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase text-xl mb-0">Cơ Hội nghề nghiệp</h2>
          <div class="text-indigo-900 text-sm text-justify lg:pt-3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iure porro
            laudantium eaque repellendus, minima voluptas nostrum error architecto
            laboriosam et a fugit temporibus ut ratione sequi magnam dignissimos sint!
          </div>

        </div>

        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase text-xl mb-0">Cơ Hội nghề nghiệp</h2>
          <div class="text-indigo-900 text-sm text-justify lg:pt-3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iure porro
            laudantium eaque repellendus, minima voluptas nostrum error architecto
            laboriosam et a fugit temporibus ut ratione sequi magnam dignissimos sint!
          </div>

        </div>

        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase text-xl mb-0">Cơ Hội nghề nghiệp</h2>
          <div class="text-indigo-900 text-sm text-justify lg:pt-3">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iure porro
            laudantium eaque repellendus, minima voluptas nostrum error architecto
            laboriosam et a fugit temporibus ut ratione sequi magnam dignissimos sint!
          </div>

        </div>
      </div>

        <div class="hidden lg:block">
          <div class="grid grid-cols-3 gap-4 pt-3 ">
            <div class="relative bg-gray-100" style="height: 550px">
              <div
                class="bg-red-100 w-full absolute top-0"
                style="height: 300px"
              ></div>
              <div class="w-full absolute bottom-0 bg">
                <div class="px-3 flex justify-center flex-col items-center pt-32">
                  <h2 class="uppercase text-xl text-yellow-500 mb-0">
                    Cơ hội việc làm
                  </h2>
                  <p class="text-white text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum hic
                    magni porro officiis blanditiis quos similique soluta, illo
                    accusamus rerum officia praesentium iusto nobis quasi autem alias
                    unde architecto repellendus? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Odio amet facere, itaque labore,
                    dolores ut temporibus magnam dolorum in suscipit ea aliquam.
                    Laudantium porro ut error eaque, nisi nobis eligendi. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Sed delectus non quo
                    aliquam? Rem, earum vitae animi error sit eum laborum ipsum
                    adipisci quod at hic! Doloremque consectetur tempora quaerat?
                  </p>
                </div>
              </div>
            </div>
      
            <div class="relative bg-gray-100" style="height: 550px">
              <div
                class="bg-red-100 w-full absolute top-0"
                style="height: 300px"
              ></div>
              <div class="w-full absolute bottom-0 bg">
                <div class="px-3 flex justify-center flex-col items-center pt-32">
                  <h2 class="uppercase text-xl text-yellow-500 mb-0">
                    Cơ hội việc làm
                  </h2>
                  <p class="text-white text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum hic
                    magni porro officiis blanditiis quos similique soluta, illo
                    accusamus rerum officia praesentium iusto nobis quasi autem alias
                    unde architecto repellendus? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Odio amet facere, itaque labore,
                    dolores ut temporibus magnam dolorum in suscipit ea aliquam.
                    Laudantium porro ut error eaque, nisi nobis eligendi. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Sed delectus non quo
                    aliquam? Rem, earum vitae animi error sit eum laborum ipsum
                    adipisci quod at hic! Doloremque consectetur tempora quaerat?
                  </p>
                </div>
              </div>
            </div>
      
            <div class="relative bg-gray-100" style="height: 550px">
              <div
                class="bg-red-100 w-full absolute top-0"
                style="height: 300px"
              ></div>
              <div class="w-full absolute bottom-0 bg">
                <div class="px-3 flex justify-center flex-col items-center pt-32">
                  <h2 class="uppercase text-xl text-yellow-500 mb-0">
                    Cơ hội việc làm
                  </h2>
                  <p class="text-white text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum hic
                    magni porro officiis blanditiis quos similique soluta, illo
                    accusamus rerum officia praesentium iusto nobis quasi autem alias
                    unde architecto repellendus? Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Odio amet facere, itaque labore,
                    dolores ut temporibus magnam dolorum in suscipit ea aliquam.
                    Laudantium porro ut error eaque, nisi nobis eligendi. Lorem ipsum
                    dolor sit amet consectetur adipisicing elit. Sed delectus non quo
                    aliquam? Rem, earum vitae animi error sit eum laborum ipsum
                    adipisci quod at hic! Doloremque consectetur tempora quaerat?
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    </div>
  
    <div class="pt-4">
      <h2 class="text-indigo-900 uppercase text-xl mb-0">
       chi tiết khóa học phun xăm chuyên nghiệp
      </h2>
  
      <div class="text-indigo-900 text-sm text-justify pt-3">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iure porro
        laudantium eaque repellendus, minima voluptas nostrum error architecto
        laboriosam et a fugit temporibus ut ratione sequi magnam dignissimos sint!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt
        consequatur in repudiandae, ratione asperiores voluptate vel provident,
        accusantium voluptatum quisquam ullam pariatur veritatis, magnam
        reprehenderit maxime quas rerum illo ipsum?
      </div>
      <div class="pt-4 w-full ">
        <div class="flex justify-between lg:flex-row flex-col ">
          <div class="lg:w-1/2 bg-indigo-900 h-auto rounded-2xl lg:mr-5 ">
            <div class="p-6">
                <h2 class="text-2xl uppercase text-white text-center mb-0">khóa phun xăm thẩm mỹ <br> nâng cao</h2>
                <div>
                  <div class="relative">
                    <p class="text-base text-white mb-0 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    <div class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"></div>
    
                  </div>
                  <ul class="text-white">
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                  </ul>
                </div>
               
                <div class="pt-3">
                  <div class="relative">
                    <p class="text-base text-white mb-0 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    <div class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"></div>
    
                  </div>
                  <ul class="text-white ">
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                  </ul>
                </div>
                
                <div class="pt-3 ">
                  <div class="relative">
                    <p class="text-base text-white mb-0 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    <div class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"></div>
    
                  </div>
                
                  <ul class="text-white ">
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                  </ul>
                 
                </div>
               
            </div>
          </div>
          <div class="lg:w-1/2 bg-indigo-900 h-auto rounded-2xl lg:ml-5 top-margin">
            <div class="p-6">
                <h2 class="text-2xl uppercase text-yellow-500 text-center mb-0">khóa phun xăm thẩm mỹ <br> Chuyên sâu</h2>
                <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor aspernatur at nisi iure aliquid voluptatibus quam recusandae,</p>
                <div>
                  <div class="relative">
                    <p class="text-base text-white mb-0 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    <div class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"></div>
    
                  </div>
                  <ul class="text-white">
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                  
                  </ul>
                </div>
               
                <div class="pt-3">
                  <div class="relative">
                    <p class="text-base text-white mb-0 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    <div class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"></div>
    
                  </div>
                  <ul class="text-white ">
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    
                  </ul>
                </div>
                
                <div class="pt-3 ">
                  <div class="relative">
                    <p class="text-base text-white mb-0 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    <div class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"></div>
                  </div>
                  <ul class="text-white ">
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                  </ul>
                </div>
  
                <div class="pt-3 ">
                  <div class="relative">
                    <p class="text-base text-white mb-0 ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    <div class="absolute w-1 h-1 rounded-full top-1/2 left-0 bg-white circle"></div>
                  </div>
                  <ul class="text-white ">
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                    <li>cấu trúc da chuyên sâu trong phun xăm</li>
                  </ul>
                </div>
               
            </div>
          </div>
          
    
        </div>
        <p class="text-indigo-900 py-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor aspernatur at nisi iure aliquid voluptatibus quam recusandae,</p>
     
        <div class="flex justify-center items-center relative pb-3">
            <div class="bg-indigo-900 rounded-3xl">
                <a class="text-xl  text-yellow-500 p-3">Đăng ký tư vấn ngay</a>
            </div>
            <div class="absolute w-full bottom-0 bg-indigo-900" style="height: 1px;"></div>
        </div>
  
        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase tex mb-2 lg:block hidden">học ngành này cần những gì?</h2>
          <div class="w-full" style="height: 300px;">
              <img src="../../../assets/images/lienhe.png " alt="">
          </div>
          <h2 class="text-indigo-900 uppercase tex mb-2 lg:hidden">học ngành này cần những gì?</h2>
          <p class="text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque atque, dignissimos excepturi quisquam ex praesentium? Repudiandae aperiam veniam ratione laboriosam temporibus illo doloribus ipsum animi saepe pariatur, molestiae, eligendi laudantium.</p>
  
        </div>
  
        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase tex mb-2">học ngành này cần những gì?</h2>
          <div class="w-full hidden lg:block" style="height: 300px;">
              <img src="../../../assets/images/lienhe.png " alt="">
          </div>
          <p class="text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque atque, dignissimos excepturi quisquam ex praesentium? Repudiandae aperiam veniam ratione laboriosam temporibus illo doloribus ipsum animi saepe pariatur, molestiae, eligendi laudantium.</p>
  
        </div>
  
        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase tex mb-2">học ngành này cần những gì?</h2>
          <div class="w-full hidden lg:block" style="height: 300px;">
              <img src="../../../assets/images/lienhe.png " alt="">
          </div>
          <p class="text-indigo-900">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque atque, dignissimos excepturi quisquam ex praesentium? Repudiandae aperiam veniam ratione laboriosam temporibus illo doloribus ipsum animi saepe pariatur, molestiae, eligendi laudantium.</p>
  
        </div>
        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase tex mb-2">học ngành này cần những gì?</h2>
          <div class="w-full hidden lg:block" style="height: 300px;">
              <img src="../../../assets/images/lienhe.png " alt="">
          </div>
          
  
          <div class="relative pl-4">
            <p class="text-indigo-900  lg:ml-2">Nắm được tiềm năng và định hướng nghề phun xăm thẩm mỹ</p>
            <div class="lg:absolute hidden lg:block rounded-full radius h-1 w-1 top-1/2 left-0 bg-indigo-900"></div>
          </div>
          <div class="relative pl-4">
            <p class="text-indigo-900  lg:ml-2">Nắm được tiềm năng và định hướng nghề phun xăm thẩm mỹ</p>
            <div class="absolute hidden lg:block rounded-full radius h-1 w-1 top-1/2 left-0 bg-indigo-900"></div>
          </div>
          <div class="relative pl-4">
            <p class="text-indigo-900  lg:ml-2">Nắm được tiềm năng và định hướng nghề phun xăm thẩm mỹ</p>
            <div class="absolute hidden lg:block rounded-full radius h-1 w-1 top-1/2 left-0 bg-indigo-900"></div>
          </div>
          <div class="relative pl-4">
            <p class="text-indigo-900  lg:ml-2">Nắm được tiềm năng và định hướng nghề phun xăm thẩm mỹ</p>
            <div class="absolute hidden lg:block rounded-full radius h-1 w-1 top-1/2 left-0 bg-indigo-900"></div>
          </div>
          <div class="relative pl-4">
            <p class="text-indigo-900  lg:ml-2">Nắm được tiềm năng và định hướng nghề phun xăm thẩm mỹ</p>
            <div class="absolute hidden lg:block rounded-full radius h-1 w-1 top-1/2 left-0 bg-indigo-900"></div>
          </div>
          <div class="relative pl-4">
            <p class="text-indigo-900  lg:ml-2">Nắm được tiềm năng và định hướng nghề phun xăm thẩm mỹ</p>
            <div class="absolute hidden lg:block rounded-full radius h-1 w-1 top-1/2 left-0 bg-indigo-900"></div>
          </div>
          
          <div class="flex justify-center items-center relative py-3">
            <div class="bg-indigo-900 rounded-3xl">
                <a class="text-xl  text-yellow-500 p-3">Liên hệ nhận lịch khai giảng ngay</a>
            </div>
            <div class="absolute hidden lg:block w-full bottom-0 bg-indigo-900" style="height: 1px;"></div>
        </div>
        </div>
  
        <div class="pt-4 hidden lg:block">
          <h2 class="text-indigo-900 uppercase tex mb-2">học ngành này cần những gì?</h2>
          <p class="text-indigo-900 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quidem quae reiciendis veritatis? Tenetur, adipisci accusantium! Aliquid et, rem provident architecto molestias eos voluptate omnis, facere, possimus debitis quos cum?
            <br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat corrupti ab odio quis quae neque? Sapiente optio ab repellendus impedit fugit consequatur et! Hic maxime veritatis quasi nostrum eos sapiente!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae vel veniam expedita iste sequi quas atque quisquam sint consequuntur quam aliquid, in doloribus voluptatibus architecto recusandae harum quidem officia ipsam.
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique eligendi fugit dolores. Qui dolores dignissimos molestiae adipisci ad illo porro neque. Veritatis, illo soluta. Earum aliquam laudantium ullam ipsum reprehenderit?
          </p>
  
        </div>
        
        <div class="mt-4 bg-yellow-500 rounded-2xl mx-4 hidden lg:block">
          <div class="mx-4 py-2  grid grid-cols-3 gap-4">
              <div class="text-xl font-black text-text-indigo-900 uppercase text-center">
                thạo nghề <br> chỉ sau 2-3 tháng
              </div>
  
              <div class="text-xl font-black text-text-indigo-900 uppercase  text-center">
                cam kết 100% <br> Hỗ trợ việc làm
              </div>
  
              <div class="text-xl font-black text-text-indigo-900 uppercase  text-center">
                thu nhập <br> 10 - 20 triệu/ tháng
              </div>
  
          </div>
        </div>
  
        <div class="pt-4">
          <h2 class="text-indigo-900 uppercase mb-0 hidden lg:block">5. đánh giá từ học viên</h2>
          <div class="flex justify-between lg:flex-row flex-col-reverse ">
            <div class="lg:w-3/5 mt-2">
              <h2 class="text-indigo-900 uppercase mb-0  lg:hidden">5. đánh giá từ học viên</h2>
              <p class="text-indigo-900">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore ullam, fugit quae quisquam nostrum, animi obcaecati iure expedita facere beatae, id explicabo non corrupti perferendis cum voluptas doloribus distinctio aliquid?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam excepturi ipsum cumque inventore totam, vel natus ex qui asperiores incidunt doloremque atque perspiciatis porro ullam debitis repellat molestiae! Ab, itaque?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident voluptatibus amet facere magni excepturi iste laborum similique distinctio enim libero, quo eius reiciendis aperiam minus voluptas eos minima temporibus autem.
              </p>
            </div>
            <div class="lg:w-2/5">
                <div>
                  <iframe width="450" height="315" src="https://www.youtube.com/embed/pjgElO5jKOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
          </div>
        </div>
  
        <div class="pt-4">
          <div class="form-sale  hidden lg:block">
            <div class="form-wrapper">
                <div class="form-left">
    
                    <div class="form-left-total">
                        <div class="text-5xl text-yellow-500 uppercase title">tư vấn miễn phí</div>
                    </div>
                </div>
                <div class="form-right">
                    <form class="flex flex-col relative pb-5">
                        <div class="flex">
                            <input type="text" id="username-success"
                                class="bg-green-50 w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mr-3  mt-1 focus:border-black-500 block  p-1.5 dark:bg-black-100 dark:border-black-400"
                                placeholder="HỌ TÊN">
                            <input type="text" id="username-success"
                                class="bg-green-50 w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 ml-3 mt-1 focus:border-black-500 block  p-1.5 dark:bg-black-100 dark:border-black-400"
                                placeholder="SỐ ĐIỆN THOẠI">
    
                        </div>
    
                        <div class="form-group w-full pt-4">
    
                            <textarea
                                class="form-control textarea-form font-black text-gray-100 rounded-xl lg:text-sm text-xs "
                                id="exampleFormControlTextarea1" placeholder="NHẬP NỘI DUNG CẦN TƯ VẤN" rows="3"></textarea>
                        </div>
    
                        <button class="bg-yellow-500 text-indigo-900 uppercase px-3 rounded-lg font-black py-2 absolute bottom-0">gửi đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
  
        
     
      </div>
     
    </div>
  </div>
 
</div>
