<div class="lg:max-w-7xl lg:mx-auto sm:px-6 lg:px-8">
  <div class="text-center mt-10 lg:mx-96 pb-4 lg:pb-0">
    <div class="dropdown">
      <button
        class="btn btn-secondary bg-indigo-900 rounded-3xl dropdown-toggle relative text-2xl text-yellow-500 uppercase"
        type="button"
        id="dropdownMenuButton1"
        style="width: 350px"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        xem nhanh nội dung
        <div
          class="absolute h-full bg-yellow-500 top-0"
          style="width: 2px; right: 45px"
        ></div>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong"
            >Hoạt Động</a
          >
        </li>
        <li>
          <a class="dropdown-item" routerLink="/goc-hoc-vien/cam-nghi-hoc-vien"
            >Cảm Nghĩ Học Viên</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="w-full h-1/2 flex flex-col hidden lg:block">
    <div class="pb-4">
      <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-3">
          <li class="inline-flex items-center">
            <a
              routerLink=""
              class="inline-flex items-center text-sm  text-indigo-900 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
            >
              Home
            </a>
          </li>
          <li>
            <div class="flex items-center text-indigo-900">
              >>
              <a
                routerLink=""
                class="ml-1 text-sm  text-indigo-900 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
                >Khóa Học</a
              >
            </div>
          </li>
          <li aria-current="page">
            <div class="flex items-center text-indigo-900">
              >>
              <span
                class="ml-1 text-sm  text-text-indigo-900 md:ml-2 dark:text-indigo-900"
                >Khóa Master Thẩm Mỹ</span
              >
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="bg-indigo-900 lg:px-10 lg:pb-10 wrapper padding-bottom">
    <p class="text-white uppercase text-center text-xl lg:text-4xl pt-3">
      Khóa Master thẩm mỹ
    </p>
    <p
      class="lg:text-base text-sm text-white intro-description lg:italic  italictext-justify"
    >
      Chỉ với MỘT khóa học Spa chuyên nghiệp duy nhất, bạn sẽ nắm được TẤT CẢ
      các kiến thức, kỹ thuật thẩm mỹ da. Mục tiêu khóa học là đào tạo ra những
      chuyên viên spa có trình độ và tác phong làm việc chuẩn quốc tế.
    </p>
  </div>

  <div class="wrapper">
    <div class="pt-4">
      <h2 class="text-indigo-900 uppercase text-xl">
        VÌ SAO NÊN THAM GIA LỚP HỌC SPA CHĂM SÓC DA CHUYÊN NGHIỆP
      </h2>
      <div class="flex justify-center items-center w-full youtube-video">
        <iframe
          width="515"
          height="300"
          src="https://www.youtube.com/embed/Y-KmAE7HOy4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
      <div class="text-indigo-900 text-sm text-justify lg:pt-3 font-black">
        Nếu như trước đây, con đường đại học luôn là lựa chọn hàng đầu của mỗi
        bạn trẻ, thì giờ đây nghề làm đẹp đã mở ra một con đường tương lai khác
        giúp các bạn trẻ có thể tiết kiệm thời gian nhưng vẫn có một nghề ổn
        định mang lại thu nhập hấp dẫn. Hơn nữa, nếu bạn muốn trở thành một kỹ
        thuật viên spa chuyên nghiệp mà chỉ biết massage mặt thôi là chưa đủ và
        không bao đủ để “chen chân” vào những spa, thẩm mỹ viện lớn. Cơ hội thay
        đổi môi trường làm việc, “nâng cấp” bản thân và sở hữu một mức thu nhập
        mơ ước khi bạn theo học các lớp spa chuyên nghiệp hay lớp spa chuyên
        sâu. Khóa học Spa chăm sóc da chuyên nghiệp không chỉ giúp các bạn trẻ
        đón đầu xu hướng, mà còn là ngành nghề hấp dẫn với nhiều bạn yêu thích
        cái đẹp. Học nghề chăm sóc da không chỉ mở ra một con đường tương lai mà
        giúp mỗi người trang bị thêm kinh nghiệm chăm sóc chính mình và người
        thân, bạn bè… Sau khi kết thúc khóa học, bạn sẽ được trang bị toàn bộ kỹ
        thuật và kỹ năng nghề cơ bản đến chuyên sâu, sẵn sàng – tự tin để làm
        việc ở các cơ sở làm đẹp mình mong muốn. Những bạn trẻ khi lựa chọn học
        chăm sóc da trên 80% sau khi tốt nghiệp đã tìm được việc làm ổn định,
        20% còn lại đã tự mở cơ sở chăm sóc sắc đẹp cho riêng mình. Tuy nhiên,
        việc lựa chọn một trường dạy chăm sóc da chuyên nghiệp uy tín luôn là
        vấn đề được quan tâm hàng đầu của nhiều bạn khi trên thị trường có rất
        nhiều cơ sở đào tạo chăm sóc da nhưng chất lượng lại không như ý muốn.
      </div>
    </div>

    <div class="pt-4 padding-bottom">
      <h2 class="text-indigo-900 uppercase text-xl mb-0">
        2. HỌC SPA CHUYÊN NGHIỆP Ở ĐÂu TỐT?
      </h2>
      <div class="text-indigo-900 text-sm text-justify lg:pt-3 font-black">
        Timona Academy ra đời với mục tiêu trở thành một trong những đơn vị cung
        cấp khóa học điều trị da chuyên sâu hàng đầu tại Việt Nam, nơi các bạn
        trẻ có thể trao trọn niềm tin của mình. Khi tham gia các khóa học chăm
        sóc da tại đây, học viên sẽ được hưởng những quyền lợi sau:
      </div>

      <div class="pt-4 ">
        <div class="grid lg:grid-cols-3 grid-cols-2 gap-4">
          <div class="flex flex-col items-center item-wrapper">
            <div class="bg-gray-100 w-[70px] h-[70px]" >
              <img
                src="../../../assets/images/theme2-icon.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="pt-2">
              <p class="text-indigo-900 text-center des font-black">
                Cấp bằng học viện & chứng chỉ nghề của sở LĐTBXH
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center item-wrapper">
            <div class="bg-gray-100 w-[70px] h-[70px] h-1/2" >
              <img
                src="../../../assets/images/theme2-icon.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="pt-2 h-1/2">
              <p class="text-indigo-900 text-center des font-black">
                Đội ngũ Giảng viên giỏi, chuyên nghiệp với nhiều năm kinh nghiệm
                trong nghề
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center item-wrapper">
            <div class="bg-gray-100 w-[70px] h-[70px]" >
              <img
                src="../../../assets/images/theme2-icon.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="pt-2">
              <p class="text-indigo-900 text-center des font-black">
                Giáo trình đào tạo chăm sóc da chuyên nghiệp luôn được cập nhật
                mới nhất
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center item-wrapper">
            <div class="bg-gray-100 w-[70px] h-[70px]" >
              <img
                src="../../../assets/images/theme2-icon.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="pt-2">
              <p class="text-indigo-900 text-center des font-black">
                20% Lý thuyết – 80% Thực hành trên người mẫu thật/mặt thật xuyên
                suốt chương trình học giúp học viên tự tin với tay nghề hơn.
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center item-wrapper">
            <div class="bg-gray-100 w-[70px] h-[70px]" >
              <img
                src="../../../assets/images/theme2-icon.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="pt-2">
              <p class="text-indigo-900 text-center des font-black">
                Môi trường dạy nghề hiện đại, lớp học giới hạn số lượng học viên
                để đảm bảo chất lượng giảng dạy
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center item-wrapper">
            <div class="bg-gray-100 w-[70px] h-[70px]" >
              <img
                src="../../../assets/images/theme2-icon.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="pt-2">
              <p class="text-indigo-900 text-center des font-black">
                Hỗ trợ dụng cụ, thiết bị Spa trong suốt quá trình học, dược mỹ
                phẩm chính hãng từ Hàn Quốc, không phát sinh phí trong suốt quá
                trình học
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center item-wrapper">
            <div class="bg-gray-100 w-[70px] h-[70px]" >
              <img
                src="../../../assets/images/theme2-icon.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="pt-2">
              <p class="text-indigo-900 text-center des font-black">
                Học viên có việc làm ngay sau khi tốt nghiệp, được tư vấn quy
                trình mở Spa chuyên nghiệp
              </p>
            </div>
          </div>

          <div class="flex flex-col items-center item-wrapper">
            <div class="bg-gray-100 w-[70px] h-[70px]" >
              <img
                src="../../../assets/images/theme2-icon.png"
                class="w-full h-full"
                alt=""
              />
            </div>
            <div class="pt-2">
              <p class="text-indigo-900 text-center des font-black">
                Có ký túc xá hỗ trợ cho các bạn học viên ở xa
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="lg:pt-4">
      <h2 class="text-indigo-900 uppercase text-xl mb-0">
        3. CHI TIẾT KHÓA HỌC KỸ THUẬT VIÊN SPA
      </h2>

      <div class="text-indigo-900 text-sm text-justify pt-3 italic  font-black">
        Với nhu cầu làm đẹp của xã hội ngày càng cao, dịch vụ chăm sóc - trị
        liệu da đòi hỏi nhiều kiến thức, kỹ năng thực hiện và cần liên tục cập
        nhật những công nghệ mới. Hiện nay, dịch vụ này đang khan hiếm nguồn
        nhân lực chuyên nghiệp. Nhằm đáp ứng nhu cầu trên, Timona Academy đã
        tổng hợp kiến thức chuẩn cho Khóa học master thẩm mỹ. Chương trình đào
        tạo giúp học viên cập nhật, thuần thục thao tác thực hiện chăm sóc da và
        áp dụng chuyên nghiệp công nghệ cao trong thẩm mỹ. Nội dung các khóa đào
        tạo Master thẩm mỹ tại Timona được thiết kế cụ thể như sau:
      </div>
      <div class="top-padding w-full">
        <div class="bg-indigo-900 lg:bg-[#fafafa] rounded-lg padding">
          <div class="py-4">
            <div class="relative pl-4 ">
              <p
                class="lg:text-indigo-900 text-yellow-500 ml-2 text-sm font-black uppercase font-black"
              >
                Toàn bộ kiến thức từ khóa học chăm sóc da mặt cơ bản - Nâng cao -
                Chuyên sâu
              </p>
              <div
                class="absolute rounded-full radius h-1 w-1 left-1 lg:bg-indigo-900 bg-yellow-500"
              ></div>
            </div>
            <div class="relative pl-4">
              <p
                class="lg:text-indigo-900 text-yellow-500 ml-2 text-sm font-black uppercase font-black"
              >
                Kiến thức chuyên sâu về phương pháp điều trị da PRP
              </p>
              <div
                class="absolute rounded-full radius h-1 w-1 left-1 lg:bg-indigo-900 bg-yellow-500"
              ></div>
            </div>
            <div class="relative pl-4">
              <p
                class="lg:text-indigo-900 text-yellow-500 ml-2 text-sm font-black uppercase font-black"
              >
                Kỹ thuật trích xuất máu, ly tâm chiết tách tiểu cầu an toàn, hiệu
                quả
              </p>
              <div
                class="absolute rounded-full radius h-1 w-1 left-1 lg:bg-indigo-900 bg-yellow-500"
              ></div>
            </div>
            <div class="relative pl-4">
              <p
                class="lg:text-indigo-900 text-yellow-500 ml-2 text-sm font-black uppercase font-black"
              >
                Quy trình thực hiện cấy PRP 4.0 chuẩn y khoa
              </p>
              <div
                class="absolute rounded-full radius h-1 w-1 left-1 lg:bg-indigo-900 bg-yellow-500"
              ></div>
            </div>
            <div class="relative pl-4">
              <p
                class="lg:text-indigo-900 text-yellow-500 ml-2 text-sm font-black uppercase font-black"
              >
                Kỹ thuật bóc tách đáy sẹo và chăm sóc, cải thiện làn da
              </p>
              <div
                class="absolute rounded-full radius h-1 w-1 left-1 lg:bg-indigo-900 bg-yellow-500"
              ></div>
            </div>
            <div class="relative pl-4 ">
              <p
                class="lg:text-indigo-900 text-yellow-500 ml-2 text-sm font-black uppercase font-black"
              >
                Phương pháp chăm sóc da sau khi thực hiện PRP
              </p>
              <div
                class="absolute rounded-full radius h-1 w-1 left-1 lg:bg-indigo-900 bg-yellow-500"
              ></div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="flex justify-center items-center relative pb-3 pt-4">
        <div class="bg-indigo-900 rounded-3xl p-2">
          <a class="text-xl text-yellow-500 p-3">Đăng ký tư vấn ngay</a>
        </div>
        <div
          class="absolute w-full bottom-0 bg-indigo-900 h-[1px]"
          
        ></div>
      </div>

      <div class="pt-4">
        <h2 class="text-indigo-900 uppercase tex mb-2 lg:block hidden">
          HỌC NGHỀ THẨM MỸ CHĂM SÓC DA CÓ KHÓ KHÔNG? CẦN NHỮNG GÌ?
        </h2>
        <div class="items-center flex justify-center h-[300px]">
          <img
            src="../../../assets/images/banner-theme.png"
            alt=""
            class=" h-full  object-cover"
          />
         
        </div>
        <h2 class="text-indigo-900 uppercase tex mb-2 lg:hidden">
          học ngành này cần những gì?
        </h2>
        <p class="text-indigo-900 text-justify lg:pt-2 font-black">
          Thực tế, chăm sóc da spa không khó như mọi người vẫn nghĩ. Để học nghề
          Spa thẩm mỹ nói chung và học nghề chăm sóc da nói riêng, bạn không yêu
          cầu phải có bằng cấp 3. Trong khi đó, các kiến thức dạy chăm sóc da
          chuyên nghiệp có thể ghi nhớ thông qua thực hành. Sự phát triển của
          công nghệ hiện đại giúp rút ngắn quy trình làm việc. Tuy nhiên, bạn
          phải thực sự cầu thị, chăm chỉ học tập và rèn luyện tay nghề. Bên cạnh
          đó, một cơ sở đào tạo chăm sóc da chuyên nghiệp, uy tín và người thầy
          tận tâm sẽ giúp bạn nhanh chóng tiến bộ và bắt kịp tốc độ phát triển
          nhanh chóng của ngành này.
          <br />
          Tuy nhiên trong quá trình học spa chăm sóc da, khó khăn lớn nhất mà
          nhiều người gặp phải là ở khối lượng kiến thức. Người học phải nắm
          vững kiến thức cơ bản và tổng quan về da và cơ thể. Đồng thời, phải
          thành thạo các quy trình chăm sóc, điều trị các vấn đề về da, các kỹ
          thuật massage chăm sóc da mặt, cổ vai gáy, chân tay, massage toàn
          thân,… Chính vì vậy, nếu không tập trung và chăm chỉ thực hành thường
          xuyên, học viên sẽ rất nhanh “quên bài” và chậm tiến bộ.
          <br />
          Hiểu được thực tế đó, Timona Academy đã mở khóa học chăm sóc da chuyên
          nghiệp:
          <br />
          Học viện có lộ trình học bài bản từ cơ bản đến nâng cao, 10% lý thuyết
          – 90% thực hành để học viên dễ dàng tiếp thu và thành thạo từ kỹ năng
          đến tay nghề. Ngoài ra, học viên Timona còn được tài trợ mẫu thực hành
          miễn phí xuyên suốt khóa học.
          <br />
          Nội dung đào tạo không tràn lan mà chắt lọc những kỹ thuật được ưa
          chuộng nhất.
          <br />
          Đội ngũ giảng viên đào tạo đều có nhiều năm du học Hàn Quốc ngành chăm
          sóc da trực tiếp giảng dạy, kèm cặp 1:1 trong suốt quá trình học, giúp
          học viên dễ dàng tiếp thu kiến thức và trau dồi kinh nghiệm ngay khi
          còn ngồi trên ghế nhà trường. Khi tốt nghiệp, học viên được cam kết
          việc làm không phải cực khổ đi xin việc, tự tin mở tiệm kinh doanh với
          kỹ năng và chứng chỉ của Sở LĐTBXH.
          <br />
          Cơ sở vật chất và trang thiết bị máy móc hiện đại luôn được trang bị
          đầy đủ. Đảm bảo học viên có thể đáp ứng được yêu cầu ở bất cứ môi
          trường làm việc cao cấp nào.
        </p>
      </div>

      <div class="lg:pt-4">
        <h2 class="text-indigo-900 uppercase tex mb-2">
          HỌC MASTER SPA TRONG BAO LÂU THÌ CÓ THỂ THÀNH THẠO?
        </h2>
        <div class=" hidden lg:block">
          <div class="w-full items-center flex justify-center h-[300px]" >
            <img src="../../../assets/images/banner-theme.png" alt="" />
          </div>
        </div>
        <p class="text-indigo-900 text-justify lg:pt-2 font-black">
          Thông thường các cơ sở đào tạo nghề Spa chăm sóc da khoảng 6 tháng đến
          1 năm, thậm chí là lâu hơn tùy khóa học về chăm sóc da. Đây cũng là lý
          do khiến nhiều người phân vân khi lựa chọn học nghề. Thời gian học khá
          dài nên phát sinh nhiều chi phí. Ngoài ra lịch học kéo dài nên học
          viên chỉ học được 2-3 buổi/ tuần. Lịch học không liên tục khiến học
          viên không nắm vững kiến thức và thực hành không thường xuyên nên kỹ
          năng tay nghề không thành thạo.
          <br />
          Hiểu được thực tế đó, Timona Academy đã đã mở khóa học Master thẩm mỹ
          với thời gian ra nghề cực nhanh, chỉ từ 1,5 - 3 tháng nếu học đều đặn.
          Đặc biệt, thời gian học ngắn nên lịch học xuyên suốt trong tuần, có kể
          lớp buổi tối và cuối tuần giúp học viên nắm vững kiến thức và thực
          hành liên tục trên mẫu thật nên tay nghề thành thạo hơn sau khi ra
          trường.
          <br />
          Ngoài ra, thời gian học ngắn nên chương trình đào tạo được thiết kế
          sát thực tế, đúng nhu cầu tuyển dụng bằng cách rút ngắn những bài học
          cơ bản. Thay vào đó, những bài học nâng cao giúp học viên tiếp cận với
          nền tảng kiến thức mới và chuyên sâu, đảm bảo vững tay nghề khi hoàn
          thành khóa học.
          <br />
          Khóa học Master thẩm mỹ tại Timona Academy tự tin khẳng định có thể
          trong thời gian ngắn nhất, đào tạo từ người chưa biết gì về Spa trở
          thành kỹ thuật viên chuyên nghiệp, nhanh chóng ra nghề đi làm để ổn
          định nguồn thu nhập, nâng cao đời sống bản thân.
        </p>
      </div>

      <div class="lg:pt-4">
        <h2 class="text-indigo-900 uppercase tex mb-2">
          ĐỐI TƯỢNG HỌC
        </h2>
        <div class=" hidden lg:block">
          <div class="w-full items-center flex justify-center h-[300px]" >
            <img src="../../../assets/images/banner-theme.png" alt="" />
          </div>
        </div>
        
        <p class="text-indigo-900 text-justify lg:pt-2 font-black">
          Bạn là người đã có kiến thức nền tảng về chăm sóc da, đang học hoặc
          làm việc tại các Spa/ thẩm mỹ viện và muốn nâng cao tay nghề.
          <br />
          Bạn là người mong muốn mở Spa/ thẩm mỹ viện, tự kinh doanh riêng.
          <br />
          Bạn muốn cập nhật kiến thức, công nghệ mới để “nâng cấp” trình độ, tay
          nghề, danh tiếng… với thu nhập tốt hơn
        </p>
      </div>
      <div class="pt-4">
        <div class="flex justify-center items-center relative py-3">
          <div class="bg-indigo-900 rounded-3xl p-2">
            <a class="text-xl text-yellow-500 p-3"
              >Liên hệ nhận lịch khai giảng ngay</a
            >
          </div>
          <div
            class="absolute hidden lg:block w-full bottom-0 bg-indigo-900 h-[1px]"
            
          ></div>
        </div>
      </div>

      <div class="pt-4">
        <h2 class="text-indigo-900 uppercase mb-0 hidden lg:block">
          5. đánh giá từ học viên
        </h2>
        <div class="flex justify-between lg:flex-row flex-col-reverse">
          <div class="lg:w-3/5 mt-2">
            <h2 class="text-indigo-900 uppercase mb-0 lg:hidden">
              5. đánh giá từ học viên
            </h2>
            <p class="text-indigo-900 text-justify font-black">
              Theo Trung tâm dự báo nhu cầu nhân lực TP. HCM, nhu cầu làm đẹp tăng cao, ước tính mỗi năm có hơn 2.000 Spa – Thẩm mỹ viện được khai trương. Tuy nhiên, ngành còn thiếu hụt nghiêm trọng nhân lực đã qua đào tạo. Đây là cơ hội cho những người mới, gia nhập thị trường làm đẹp khi đã có trong tay kiến thức nghề spa và kỹ năng vững vàng nếu muốn phát triển hơn trong con đường kinh doanh spa.
            </p>
          </div>
          <div class="lg:w-2/5 flex justify-end">
            <div class=" flex justify-center items-center w-full">
              <iframe
                width="450"
                height="315"
                src="https://www.youtube.com/embed/pjgElO5jKOs"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </div>

      <div class="pt-4">
        <div class="form-sale hidden lg:block">
          <div class="form-wrapper">
            <div class="form-left">
              <div class="form-left-total">
                <div class="text-5xl text-yellow-500 uppercase title">
                  tư vấn miễn phí
                </div>
              </div>
            </div>
            <div class="form-right">
              <form class="flex flex-col relative pb-5">
                <div class="flex">
                  <input
                    type="text"
                    id="username-success"
                    class="w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mr-3 mt-1 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                    placeholder="HỌ TÊN"
                  />
                  <input
                    type="text"
                    id="username-success"
                    class="w-1/2 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 ml-3 mt-1 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                    placeholder="SỐ ĐIỆN THOẠI"
                  />
                </div>

                <div class="form-group w-full pt-4">
                  <textarea
                    class="form-control textarea-form font-black text-gray-100 rounded-xl lg:text-sm text-xs"
                    id="exampleFormControlTextarea1"
                    placeholder="NHẬP NỘI DUNG CẦN TƯ VẤN"
                    rows="3"
                  ></textarea>
                </div>

                <button
                  class="bg-yellow-500 text-indigo-900 uppercase px-3 rounded-lg font-black py-2 absolute bottom-0"
                >
                  gửi đăng ký
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
