
<section class="lg:max-w-7xl mx-auto lg:px-2  lg:px-6 lg:px-8 lg:pb-5 overflow-hidden ">
    <div class="pt-10">
        <div class="pb-10 ">
            <ul class="flex justify-between md:justify-start md:px-0 px-3">
                <li class=" md:mr-5"><a class="py-1 md:px-5  font-bold md:text-xl text-sm rounded-xl  new-text" routerLink="giai-dap" routerLinkActive="new-active">Hỏi Đáp</a></li>
                <li class=" md:mr-5"><a class="py-1 md:px-5  font-bold md:text-xl text-sm rounded-xl  new-text" routerLink="hoat-dong" routerLinkActive="new-active">Hoạt Động Ngoại Khóa</a></li>
                <li class=" md:mr-5"><a class="py-1 md:px-5  font-bold md:text-xl text-sm rounded-xl  new-text" routerLink="cam-nghi" routerLinkActive="new-active">Cảm Nghĩ Học Viên</a></li>
                <li class=" md:mr-5"><a class="py-1 md:px-5  font-bold md:text-xl text-sm rounded-xl  new-text" routerLink="le-tot-nghiep" routerLinkActive="new-active">Lễ Tốt Nghiệp</a></li>

            </ul>
        </div>
        <router-outlet></router-outlet>
    </div>
</section>