.form-sale{
    height: 290px;
    background: transparent !important;
    border-radius: 20px;
   
}
.box-shadow{

}

.form-sale img{
    box-shadow: 2px 4px 24px 9px rgba(1,7,18,0.75);
    -webkit-box-shadow: 2px 4px 24px 9px rgba(1,7,18,0.75);
    -moz-box-shadow: 2px 4px 24px 9px rgba(1,7,18,0.75);
    border-radius: 35px;
}
.form-left{
    display: flex;
    flex: 1;
    
}
.form-left-info{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.form-title{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    text-align: end;
    position: relative;
    
}
.form-title::after{
    position: absolute;
    content: "";
    width: 200px;
    height: 1px;
    
    background-color: #fff;
    bottom: -10px;
    right: 0;
}
.gif{
    width: 100%;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bold;
    text-align: end;
    text-transform: uppercase;
    color: #fff;
}
.form-left-total{
    background-color: #ddd;
    width: 100px;
    height: auto;
    margin-left: 15px;
}

.form-submit{
    height: 290px;
}
.form-submit input{
    width: 250px;
}
.form-submit select{
    width: 250px;
}


::placeholder{
    
    font-size: 12px;
    margin-left: 10px;
}
.form-submit button{
    border: none;
    background-color: #f7d900;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
option{
    font-size: 15px;
    width: 200px;
}
input::placeholder{
    color: #000 !important;
    font-size: 1rem !important;
}
@media only screen and (max-width: 762px){
    .banner-img{
        width: 100%;
        height: 400px;
    }
   .formsale-mobile{
       height: 550px;
   }
   .form-submit{
       top: 30%;
       left: 50%;
       transform: translateX(-50%);
       height: 360px;
       margin: 0 12px;
   }
   
  }