<div class="homepage overflow-hidden">
  <div>
    <app-new-event></app-new-event>
    <app-intro></app-intro>
  </div>

  <div class="lg:max-w-7xl lg:mx-auto lg:px-8">
    <section class="w-full h-full bg-indigo-900 border-top lg:px-20">
      <app-specialzed></app-specialzed>
    </section>

    <div class="statistical hidden lg:block pb-12 lg:px-20">
      <div class="statistical-wrapper">
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/6-cơ-sở.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">06</h2>
            <span class="statistical_des">CƠ SỞ</span>
          </div>
        </div>

        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/20.000-học-viên.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">20.000+</h2>
            <span class="statistical_des">Học viên mỗi năm</span>
          </div>
        </div>
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/100-có-việc-làm.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title">100%</h2>
            <span class="statistical_des">Có việc làm</span>
          </div>
        </div>
        <div class="statistical-item">
          <div class="statistical-item_img">
            <img
              src="../../../assets/images/homepages/homepage/icon thành tựu/10tr-lương-khỏi-điểm.png"
              class="w-full bg-yellow-500 h-full"
              alt=""
            />
          </div>
          <div class="statistical-item_info">
            <h2 class="statistical-item_title flex items-center">
              10 <strong class="text-sm">TRIỆU</strong>
            </h2>
            <span class="statistical_des">Lương khởi điểm</span>
          </div>
        </div>
      </div>
    </div>

    <section
      class="w-full h-full bg-indigo-900 border-bottom pb-12 pb-12 lg:px-20"
    >
      <div class="stories hidden lg:block">
        <div class="specializ-top">
          <h2 class="specializ-title text-white">Câu chuyện học viên</h2>
        </div>
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="stories-wrapper">
                <div class="story-left">
                  <iframe
                    width="100%"
                    height="315"
                    class="yotube-video"
                    src="https://www.youtube.com/embed/pjgElO5jKOs"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                  ></iframe>
                </div>
                <div class="item-lecturer story-right">
                  <div class="lecturer-info story-info">
                    <span class="lecturer-title">Học viên</span>
                    <h2 class="lecturer-name">Chị Nga</h2>
                    <span class="lecturer-specializ"
                      >học viên ngoại khóa K47</span
                    >
                    <span class="story-des"
                      >“Mình từng kinh doanh online nhưng thu nhập thấp, bấp
                      bênh nên quyết định thay đổi hướng đi. Mình chọn Tinona để
                      học nghề và giờ đã có thể tự mở được Spa cho mình.”</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="carousel-item">
            <div class="stories-wrapper">
              <div class="story-left">
                <iframe
                  width="100%"
                  height="315"
                  class="yotube-video"
                  src="https://www.youtube.com/embed/pjgElO5jKOs"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
              <div class="item-lecturer story-right">
               
                <div class="lecturer-info story-info">
                  <span class="lecturer-title">Học viên</span>
                  <h2 class="lecturer-name">Bạn Thịnh</h2>
                  <span class="lecturer-specializ"
                    >học viên ngoại khóa K54</span
                  >
                  <span class="story-des"
                    >“Cảm ơn Timona, ngoài được học chuyên môn tôi còn được trau
                    dồi kỹ năng, tư duy và thái độ để trở thành một chuyên viên
                    thẩm mỹ chuyên nghiệp”.</span
                  >
                </div>
              </div>
            </div>
            
          </div>  -->
            <!-- <div class="carousel-item">
          <div class="stories-wrapper">
            <div class="story-left"><iframe
              class="yotube-video h-full w-full"
              src="https://www.youtube.com/embed/pjgElO5jKOs"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe></div>
            <div class="item-lecturer story-right">
              
              <div class="lecturer-info story-info">
                <span class="lecturer-title">Học viên</span>
                <h2 class="lecturer-name">Bạn Ngọc</h2>
                <span class="lecturer-specializ"
                  >học viên ngoại khóa K55</span
                >
                <span class="story-des"
                  >“Sau nhiều năm theo đuổi ngành Dược, Ngọc nhận ra rằng bản
                  thân không phù hợp nên đã tìm hiểu và lựa chọn thay đổi.
                  Ngọc thấy quyết định chọn Timona để học nghề Spa là rất sáng
                  suốt, giờ thì công việc ổn định, mức thu nhập cũng cao hơn
                  nhiều so với trước đây.”
                </span>
              </div>
            </div>
          </div>
        </div> -->
          </div>
          <button
            class="carousel-control-prev"
            style="left: -100px !important"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            style="right: -100px !important"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="stories-mobile stories bg-indigo-900 pt-4 lg:hidden">
        <div class="specializ-top">
          <h2 class="specializ-title text-white">Câu chuyện học viên</h2>
          <p class="text-center text-white text-xs !mx-6">
            Hơn 10.000 học viên hài lòng và thành công khi chọn Timona Academy
          </p>
        </div>

        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="0"
              class="active !w-2 !h-2"
              style="border-radius: 50% !important"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="1"
              class="!w-2 !h-2"
              style="border-radius: 50% !important"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide-to="2"
              class="!w-2 !h-2"
              style="border-radius: 50% !important"
              aria-label="Slide 3"
            ></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div
                class="bg-cyan-900 mb-10 rounded-lg mx-4 flex justify-center items-center h-44 relative"
                style="height: 350px"
              >
                <div class="absolute left-0 bottom-0">
                  <div class="storie-img">
                    <img src="../../../assets/images/storymb.png" alt="" />
                  </div>
                </div>
                <div class="flex flex-col absolute left-1/2">
                  <span class="lecturer-title">Học viên</span>
                  <p class="lecturer-name !border-r-0 !m-0">chị nga</p>
                  <span class="lecturer-specializ"
                    >học viên ngoại khóa K47</span
                  >
                  <span class="story-des"
                    >“Mình từng kinh doanh online nhưng thu nhập thấp, bấp bênh
                    nên quyết định thay đổi hướng đi. Mình chọn Tinona để học
                    nghề và giờ đã có thể tự mở được Spa cho mình.”</span
                  >
                </div>
              </div>
            </div>
            <!-- <div class="carousel-item">
          <div
            class="bg-cyan-900 mb-10 rounded-lg mx-4 flex justify-center items-center h-44 relative"
            style="height: 350px"
          >
            <div class="absolute left-0 bottom-0">
              <div class="bg-gray-100 storie-img"></div>
            </div>
            <div class="flex flex-col absolute left-1/2">
              <span class="lecturer-title">Học viên</span>
              <p class="lecturer-name !border-r-0 !m-0">Bạn Thịnh</p>
              <span class="lecturer-specializ">học viên ngoại khóa K54</span>
              <span class="story-des"
                >“Cảm ơn Timona, ngoài được học chuyên môn tôi còn được trau
                dồi kỹ năng, tư duy và thái độ để trở thành một chuyên viên
                thẩm mỹ chuyên nghiệp”.</span
              >
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div
            class="bg-cyan-900 mb-10 rounded-lg mx-4 flex justify-center items-center h-44 relative"
            style="height: 350px"
          >
            <div class="absolute left-0 bottom-0">
              <div class="bg-gray-100 storie-img"></div>
            </div>
            <div class="flex flex-col absolute left-1/2">
              <span class="lecturer-title">Học viên</span>
              <p class="lecturer-name !border-r-0 !m-0">Bạn Ngọc</p>
              <span class="lecturer-specializ">học viên ngoại khóa K55</span>
              <span class="story-des"
                >“Sau nhiều năm theo đuổi ngành Dược, Ngọc nhận ra rằng bản
                thân không phù hợp nên đã tìm hiểu và lựa chọn thay đổi. Ngọc
                thấy quyết định chọn Timona để học nghề Spa là rất sáng suốt,
                giờ thì công việc ổn định, mức thu nhập cũng cao hơn nhiều so
                với trước đây.”</span
              >
            </div>
          </div>
        </div> -->
          </div>
        </div>
      </div>

      <div class="experts pt-4 lg:pt-0">
        <div class="specializ-top">
          <h2
            class="specializ-title !pt-0 text-center expert-title text-yellow-500"
          >
            học nghề cùng chuyên gia
          </h2>
        </div>

        <div class="lg:block hidden">
          <div
            id="carouselExampleControl-expert"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="expert-wrapper">
                  <div class="">
                    <div class="expert-video">
                      <div class="relative"  (click)="showVideo()">
                        <div class="expert-boder {{hidden}} ">
                          <div class="expert-boder-left">
                            <div class="expert-boder-img">
                              <img
                                src="../../../assets/images/homepages/homepage/logo/timona-logo.png"
                                class="h-full w-ful bg-indigo-900 object-contain"
                                alt=""
                              />
                            </div>
                            <div class="expert-boder-question text-yellow-500">
                              master thẩm mỹ khó hay dễ
                            </div>
                          </div>
                          <div class="expert-boder-right">
                            <img
                              src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/master-thẩm-mỹ.png"
                              class="h-full w-ful bg-indigo-900"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="video-yotube {{active}} absolute top-0 left-0 w-full h-full">
                          
                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/HjNODEFghK0?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <i class="button-play cursor-pointer {{hidden}}" ><img class="w-full h-full" src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/play-button.jpg" alt=""></i>


                      </div>

                      <span class="expert-question text-yellow-500"
                        >master thẩm mỹ - khó hay dễ?</span
                      >
                    </div>
                  </div>
                  <div class="">
                    <div class="expert-video">
                      <div class="relative " (click)="showVideo1()">
                        <div class="expert-boder border-reverse {{hidden1}}" >
                          <div class="expert-boder-left left-reverse">
                            <div class="expert-boder-img img-reverse">
                              <img
                                src="../../../assets/images/homepages/homepage/logo/timona-logo.png"
                                class="h-full w-ful bg-indigo-900 object-contain"
                                alt=""
                              />
                            </div>
                            <div class="expert-boder-question text-yellow-500">
                              <div class="mb-2">cách thức</div>
  
                              <strong class="text-strong text-yellow-500">
                                tạo niềm tin</strong
                              >
                              <div class="mt-2">nơi khách hàng</div>
                            </div>
                          </div>
                          <div class="expert-boder-right right-reverse">
                            <img
                              src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/niềm-tin-khách-hàng.png"
                              class="h-full w-ful bg-indigo-900"
                              alt=""
                            />
                          </div>
                        </div>
                        <div class="{{active1}} absolute top-0 left-0 w-full h-full ">
                          <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RmVt5J4b1Ag?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <i class="button-play cursor-pointer {{hidden1}}" 
                          ><img
                            class="w-full h-full"
                            src="../../../assets/images/homepages/homepage/học nghề cùng chuyên gia/play-button.jpg"
                            alt=""
                        /></i>
                      </div>
                      <span
                        class="expert-question text-yellow-500 text-yellow-500"
                        >cách thức tạo niềm tin nơi khách hàng</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="carousel-item">
            <div class="expert-wrapper">
              <div class="expert-video">
                <div class="expert-boder">
                  <div class="expert-boder-left">
                    <div class="expert-boder-img">logo</div>
                    <div class="expert-boder-question">
                      master thẩm mỹ khó hay dễ
                    </div>
                  </div>
                  <div class="expert-boder-right">img2</div>
                  <i class="button-play">icon</i>
                </div>
                <span class="expert-question text-yellow-500"
                  >master thẩm mỹ - khó hay dễ?</span
                >
              </div>
              <div class="expert-video">
                <div class="expert-boder border-reverse">
                  <div class="expert-boder-left left-reverse">
                    <div class="expert-boder-img img-reverse">logo</div>
                    <div class="expert-boder-question">
                      cách thức <br />
                      <strong class="text-strong"> tạo niềm tin</strong
                      ><br />nơi khách hàng
                    </div>
                  </div>
                  <div class="expert-boder-right right-reverse">img</div>
                  <i class="button-play"></i>
                </div>
                <span class="expert-question"
                  >cách thức tạo niềm tin nơi khách hàng</span
                >
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="expert-wrapper">
              <div class="expert-video">
                <div class="expert-boder">
                  <div class="expert-boder-left">
                    <div class="expert-boder-img">logo</div>
                    <div class="expert-boder-question">
                      master thẩm mỹ khó hay dễ
                    </div>
                  </div>
                  <div class="expert-boder-right">img3</div>
                  <i class="button-play">icon</i>
                </div>
                <span class="expert-question"
                  >master thẩm mỹ - khó hay dễ?</span
                >
              </div>
              <div class="expert-video">
                <div class="expert-boder border-reverse">
                  <div class="expert-boder-left left-reverse">
                    <div class="expert-boder-img img-reverse">logo</div>
                    <div class="expert-boder-question">
                      cách thức <br />
                      <strong class="text-strong"> tạo niềm tin</strong
                      ><br />nơi khách hàng
                    </div>
                  </div>
                  <div class="expert-boder-right right-reverse">img</div>
                  <i class="button-play"></i>
                </div>
                <span class="expert-question"
                  >cách thức tạo niềm tin nơi khách hàng</span
                >
              </div>
            </div>
          </div> -->
            </div>
            <button
              class="carousel-control-prev"
              style="left: -100px !important"
              type="button"
              data-bs-target="#carouselExampleControl-expert"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              style="right: -100px !important"
              data-bs-target="#carouselExampleControl-expert"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="lg:hidden mx-3">
          <div
            id="carouselExampleIndicators-expertMb"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators !bottom-7">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators-expertMb"
                data-bs-slide-to="0"
                class="active !w-2 !h-2"
                style="border-radius: 50% !important"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators-expertMb"
                data-bs-slide-to="1"
                class="!w-2 !h-2"
                style="border-radius: 50% !important"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators-expertMb"
                data-bs-slide-to="2"
                class="!w-2 !h-2"
                style="border-radius: 50% !important"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators-expertMb"
                data-bs-slide-to="3"
                class="!w-2 !h-2"
                style="border-radius: 50% !important"
                aria-label="Slide 4"
              ></button>
            </div>
            <div class="carousel-inner pb-3">
              <div class="carousel-item active pb-5">
                <div
                  class="expert-mobiles pb-5 w-full lg:hidden"
                  style="height: 250px"
                >
                  <div class="relative h-full">
                    <div class="mb-5">
                      <iframe
                        width="100%"
                        height="290"
                        src="https://www.youtube.com/embed/HjNODEFghK0"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
                <div
                  class="expert-boder-question !w-full text-center mt-5 font-black text-yellow-500"
                >
                  master thẩm mỹ khó hay dễ
                </div>
              </div>
              <div class="carousel-item pb-5">
                <div
                  class="expert-mobiles pb-5 w-full lg:hidden"
                  style="height: 250px"
                >
                  <div class="relative h-full">
                    <div class="mb-5">
                      <iframe
                        width="100%"
                        height="290"
                        src="https://www.youtube.com/embed/RmVt5J4b1Ag"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
                <div
                  class="expert-boder-question !w-full text-center mt-5 font-black text-yellow-500"
                >
                  master thẩm mỹ khó hay dễ
                </div>
              </div>

              <div class="carousel-item pb-5">
                <div
                  class="expert-mobiles pb-5 w-full lg:hidden"
                  style="height: 250px"
                >
                  <div class="relative h-full">
                    <div class="mb-5">
                      <iframe
                        width="100%"
                        height="290"
                        src="https://www.youtube.com/embed/D7nrbiprVOQ"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
                <div
                  class="expert-boder-question !w-full text-center mt-5 font-black text-yellow-500"
                >
                  master thẩm mỹ khó hay dễ
                </div>
              </div>
              <div class="carousel-item pb-5">
                <div
                  class="expert-mobiles pb-5 w-full lg:hidden"
                  style="height: 250px"
                >
                  <div class="relative h-full">
                    <div class="mb-5">
                      <iframe
                        width="100%"
                        height="290"
                        src="https://www.youtube.com/embed/Nj2RxBPvRaI"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                      ></iframe>
                    </div>
                  </div>
                </div>
                <div
                  class="expert-boder-question !w-full text-center mt-5 font-black text-yellow-500"
                >
                  master thẩm mỹ khó hay dễ
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <section class="lg:max-w-7xl mx-auto lg:px-2 lg:px-6 lg:px-8 pt-10 lg:hidden">
    <div class="lg:pt-10 w-full h-1/2 flex flex-col lg:flex-row">
      <div class="flex-1 bg-gray-200 lg:mr-4 hidden">
        <div style="width: 200px; height: 400px"></div>
      </div>
      <div class="flex-1 right new lg:hidden">
        <h2
          class="uppercase lg:pl-2 mb-2 relative text-indigo-900 text-center lg:text-left pt:10 text-xl"
        >
          Tin tức - sự kiện
        </h2>
        <div class="pt-4 flex justify-start new-item">
          <div class="lg:w-1/2 bg-gray-200 mx-3">
            <div class="" style="height: 370px">
              <img
                src="../../../assets/images/new-imgmb.png"
                class="h-full"
                alt=""
              />
            </div>
          </div>
          <div class="flex flex-col new-info mt-4 mx-4">
            <p class="text-base text-indigo-900 font-black new-title">
              Tinoma Academy được vinh danh thương hiệu tiêu biểu Châu Á thái
              bình dương
            </p>
            <span class="pb-2 text-sm text-indigo-900 new-des"
              >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
              temporibus unde tempora voluptatem nisi reprehenderit deleniti
              delectus aliquid beatae corrupti</span
            >

            <div
              class="text-indigo-900 text-xs top-3 font-black new-link hidden lg:block"
            >
              <a href="#" class="text-base hidden lg:block">Tìm hiểu thêm >></a>
            </div>
            <div
              class="text-indigo-900 text-xs top-3 text-center font-black new-link pt-2   lg:hidden"
            >
              <a href="#" class="text-base text-white bg-indigo-900  rounded-lg p-2"
                >Xem thêm các thông tin khác >></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="lg:px-28">
    <div class="newspaper">
      <h2 class="newpaper-title">Báo chí nói gì về timona academy</h2>
      <div class="new-social">
        <div class="new-img">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/VN.png"
            alt=""
            class="w-full h-full bg-[#fafafa] object-contain"
          />
        </div>
        <div class="new-img">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/tuoitre.png"
            alt=""
            class="w-full h-full bg-[#fafafa] object-contain"
          />
        </div>
        <div class="new-img">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/Yeah1.png"
            alt=""
            class="w-full h-full bg-[#fafafa] object-contain"
          />
        </div>
        <div class="new-img" style="height: 50px">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/eva.vn.png"
            alt=""
            class="w-full h-full bg-[#fafafa] object-contain"
          />
        </div>
        <div class="new-img">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/ngoisao.png"
            alt=""
            class="w-full h-full bg-[#fafafa] object-contain"
          />
        </div>
        <div class="new-img" style="height: 50px">
          <img
            src="../../../assets/images/homepages/homepage/LOGO BÁO CHÍ/dulichtoday.png"
            alt=""
            class="w-full h-full bg-[#fafafa] object-contain"
          />
        </div>
      </div>
    </div>

    <div
      class="form-sale relative hidden lg:block lg:max-w-7xl lg:mx-auto lg:px-8"
    >
      <div class="text-5xl text-white absolute left-0 w-full">
        <img
          src="../../../assets/images/homepages/homepage/Đăng ký kháo học/Dangkykhoahoc.png"
          class="w-full h-full top-0 left"
          alt=""
        />
      </div>
      <div class="form-wrapper rounded-2xl">
        <div class="form-right ml-10 w-3/5">
          <form class="form-submit relative pb-5">
            <div class="flex justify-between pb-3">
              <input
                type="text"
                id="username-success"
                class="border border-none text-black-900 placeholder-black-700 text-sm mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="HỌ TÊN"
              />
              <input
                type="text"
                id="username-success"
                class="border border-none text-black-900 placeholder-black-700 text-sm ml-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="SỐ ĐIỆN THOẠI"
              />
            </div>

            <div class="flex justify-between mt-3 pb-2">
              <input
                type="text"
                id="username-success"
                class="border border-none text-black-900 placeholder-black-700 text-sm mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                placeholder="MÃ GIỚI THIỆU"
              />

              <select
                id="countries"
                class="g-green-50 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 focus:border-black-500 ml-3 block p-1.5 dark:bg-black-100 dark:border-black-400"
              >
                <option>KHÓA HỌC</option>
              </select>
            </div>

            <button class="absolute bottom-0">đăng kí ngay</button>
          </form>
        </div>
      </div>
    </div>

    <div class="formsale-mobile bg-indigo-900 rounded-lg lg:hidden">
      <div class="flex justify-center items-center pt-5 text-white text-5xl">
        480*500
      </div>
      <form class="form-submit pb-8 justify-center items-center">
        <input
          type="text"
          id="username-success"
          class="bg-green-50 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="HỌ TÊN"
        />
        <input
          type="text"
          id="username-success"
          class="bg-green-50 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="SỐ ĐIỆN THOẠI"
        />
        <input
          type="text"
          id="username-success"
          class="bg-green-50 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
          placeholder="MÃ GIỚI HIỆU"
        />

        <select
          id="countries"
          class="g-green-50 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 focus:border-black-500 mx-2 mt-4 block p-1.5 dark:bg-black-100 dark:border-black-400"
        >
          <option class="text-black-700">KHÓA HỌC</option>
        </select>

        <button class="text-center !w-full mx-32 rounded-lg">
          đăng kí ngay
        </button>
      </form>
    </div>
  </div>
</div>
