<div class="flex justify-center items-center py-10">
    <div aria-label="Page navigation" class="navigation">
        <ul class="pagination text-3xl lg:text-xl">
            <li class="mx-1">
                <a
                    class="page-link py-2 px-3 rounded-full border border-indigo-900 text-indigo-900 font-black"
                    href="#"
                    aria-label="Previous"
                >
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li class="mx-1">
                <a
                    class="page-link py-2 px-3 rounded-full border border-indigo-900 rounded-full text-white bg-indigo-900 font-black"
                    href="#"
                    >1</a
                >
            </li>
            <li class="mx-1">
                <a
                    class="page-link py-2 px-3 rounded-full border border-indigo-900 text-indigo-900 font-black"
                    href="#"
                    >2</a
                >
            </li>
            <li class="mx-1">
                <a
                    class="page-link py-2 px-3 rounded-full border border-indigo-900 text-indigo-900 font-black"
                    href="#"
                    >3</a
                >
            </li>
            <li class="mx-1">
                <a
                    class="page-link py-2 px-3 rounded-full border border-indigo-900 text-indigo-900 font-black"
                    href="#"
                    >4</a
                >
            </li>
            <li class="mx-1">
                <a
                    class="page-link py-2 px-3 rounded-full border border-indigo-900 text-indigo-900 font-black"
                    href="#"
                    aria-label="Next"
                >
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
        </ul>
    </div>
</div>