<div class="lecturer-wrapper">
    <div class="specializ-top lg:pt-10 lg:pb-0 pt-4 pb-4">
        <p class="specializ-title">Đội Ngũ giảng viên</p>
    </div>

    <swiper
        [config]="config"
        [navigation]="true"
        [pagination]="{
            dynamicBullets: true,
            clickable: true
        }"
        class="mySwiper"
    >
        <ng-template swiperSlide *ngFor="let item of giangviens">
            <div class="py-10 grid md:grid-cols-2 grid-cols-1 gap-10">
                <div
                    class="h-80 flex {{ index == 0 ? '' : 'hidden md:flex' }}"
                    *ngFor="let i of item; let index = index"
                >
                    <div class="w-40 h-72 relative">
                        <div class="h-full absolute z-10" style="width: 150px">
                            <img
                                src="{{ i.Image }}"
                                class="w-full z-10 h-full image"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>
                    <div class="lecturer-info" [innerHTML]="i?.Mota"></div>
                </div>
            </div>
        </ng-template>
    </swiper>

    <div class="lg:hidden flex justify-center items-center">
        <a
            routerLink="gioi-thieu/giang-vien"
            class="text-indigo-900 button bg-white p-1 font-medium rounded-lg"
            >Xem thêm các giảng viên khác >></a
        >
    </div>
</div>
