<div class="lecturer-wrapper">
    <div class="specializ-top lg:pt-10 lg:pb-0 pt-4 pb-4">
        <p class="specializ-title">Đội Ngũ giảng viên</p>
    </div>

    <swiper
        [config]="config"
        [navigation]="true"
        [pagination]="{
            dynamicBullets: true,
            clickable: true
        }"
        class="mySwiper hidden lg:block"
    >
        <ng-template swiperSlide
            >
            <div class=" py-10 grid grid-cols-2 gap-10">
                <div class="h-80 flex">
                    <div class="w-40 h-72 relative">
                        <div
                            class="h-full absolute z-10"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/GĐ--KIỀU-OANH.png"
                                class="w-full z-10 h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>
                    <div class="lecturer-info">
                        <span class="text-white uppercase font-black"
                            >Giám đốc học viện Timona Academy</span
                        >
                        <div
                            class="flex lg:block lg:pt-0 pt-2 justify-center items-center"
                        >
                            <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">
                                Nguyễn Thị Kiều Oanh
                            </p>
                            <span
                                class="text-white font-black uppercase text-lg flex-1 lg:flex-none"
                                >Trưởng bộ môn chăm sóc điều trị da</span
                            >
                        </div>

                        <ul>
                            <li class="mt-1" class="lg:text-end mt-1">
                                15 năm kinh nghiệm làm việc, giảng dạy trong
                                ngành thẩm mỹ
                            </li>
                            <li class="mt-1" class="lg:text-end mt-1">
                                Chứng nhận nhiều khóa điều trị da liễu cho
                                bác sĩ/ chuyên gia nước ngoài đứng lớp
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="h-80 flex">
                    <div class="w-40 h-72 relative">
                        <div
                            class="h-full absolute z-10"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Hoàng-Anh.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="text-white uppercase font-black">Giảng viên</span>
                        <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">Tiền Ngọc Hoàng Anh</p>
                        <span class="lecturer-specializ leading-5   "
                            >Trưởng bộ môn chăm sóc điều trị da</span
                        >
                        <ul>
                            <li class="mt-1">
                                10 năm kinh nghiệm trong ngành chăm sóc điều
                                trị da
                            </li>
                            <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                            <li class="mt-1">
                                Cố vấn chuyên môn tại hệ thống viện thẩm mỹ
                                Quốc tế
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="h-80 flex">
                    <div class="w-40 h-72 relative">
                        <div
                            class="h-full absolute z-10"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thúy-Hằng.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="text-white uppercase font-black">Giảng viên</span>
                        <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">NGUYỄN THỊ THÚY HẰNG</p>
                        <span class="lecturer-specializ leading-5   "
                            >Phó bộ môn chăm sóc và điều trị da</span
                        >
                        <ul>
                            <li class="mt-1">
                                12 năm kinh nghiệm làm việc và giảng dạy bộ
                                môn chăm sóc, điều trị da
                            </li>
                            <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                            <li class="mt-1">
                                Từng đảm nhiệm vị trí trưởng bộ phận tại các
                                thẩm mỹ viện uy tín Tp. HCM
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="hidden lg:block">
                    <div class="h-80 flex">
                        <div class="w-40 h-72 relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Kiều-Oanh.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="text-white uppercase font-black">Giảng Viên</span>
                            <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">
                                Nguyễn Thị Kiều Oanh
                            </p>
                            <span class="lecturer-specializ leading-5   "
                                >Bộ môn chăm sóc điều trị da</span
                            >
                            <ul>
                                <li class="mt-1">
                                    09 năm kinh nghiệm làm việc và giảng dạy
                                    bộ môn chăm sóc, điều trị da
                                </li>
                                <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                                <li class="mt-1">
                                    Từng đảm nhiệm vị trí trưởng phòng/ bộ
                                    phận tại các thẩm mỹ viện uy tín hàng
                                    đầu
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div></ng-template
        ><ng-template swiperSlide>
            <div class="lecturer-gallery pb-10">
                <div>
                    <div class="h-80 flex">
                        <div class="w-40 h-72 relative">
                            <div
                                class="h-full absolute z-10"
                                style="width: 150px"
                            >
                                <img
                                    src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Anh-Thư.png"
                                    class="w-full h-full"
                                />
                            </div>
                            <div class="border-shadow"></div>
                            <div class="shadow-bottom"></div>
                        </div>

                        <div class="lecturer-info">
                            <span class="text-white uppercase font-black">Giảng Viên</span>
                            <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">TRẦN THỊ ANH THƯ</p>
                            <span class="lecturer-specializ leading-5   "
                                >Giảng viên bộ môn điều trị da & Nối mi
                            </span>
                            <ul>
                                <li class="mt-1">
                                    06 năm kinh nghiệm làm việc và giảng dạy bộ
                                    môn nail, nối mi
                                </li>
                                <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="h-80 flex">
                    <div class="w-40 h-72 relative">
                        <div
                            class="h-full absolute z-10"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Tú-Loan.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="text-white uppercase font-black">Giảng viên</span>
                        <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">NGUYỄN THỊ TÚ LOAN</p>
                        <span class="lecturer-specializ leading-5   "
                            >Phó bộ môn phun xăm thẩm mỹ</span
                        >
                        <ul>
                            <li class="mt-1">
                                10 năm kinh nghiệm giảng dạy trong ngành
                                phun xăm thẩm mỹ
                            </li>
                            <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                            <li class="mt-1">
                                Giải nhất cuộc thi Master Global PMU 2019
                                hạng mục Skill Líp PEN
                            </li>
                            <li class="mt-1">
                                Chứng chỉ Vietnam PMU Championship 2020 &
                                New Face PMU 2020
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="h-80 flex">
                    <div class="w-40 h-72 relative">
                        <div
                            class="h-full absolute z-10"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Maria-Nguyễn.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="text-white uppercase font-black">Giảng viên</span>
                        <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">MARIA NGUYỄN</p>
                        <span class="lecturer-specializ leading-5   "
                            >Giảng viên bộ môn phun xăm thẩm mỹ
                        </span>
                        <ul>
                            <li class="mt-1">
                                12 năm kinh nghiệm làm việc và giảng dạy bộ
                                môn chăm sóc, điều trị da
                            </li>
                            <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                            <li class="mt-1">
                                Từng đảm nhiệm vị trí trưởng bộ phận tại các
                                thẩm mỹ viện uy tín Tp. HCM
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="h-80 flex">
                    <div class="w-40 h-72 relative">
                        <div
                            class="h-full absolute z-10"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thu-Thủy.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="text-white uppercase font-black">Giảng viên</span>
                        <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">NGUYỄN THỊ THUY THỦY</p>
                        <span class="lecturer-specializ leading-5   "
                            >Giảng viên bộ môn điều trị da & Massage Body
                        </span>
                        <ul>
                            <li class="mt-1">08 năm kinh nghiệm trong ngành thẩm mỹ</li>
                            <li class="mt-1">
                                Tốt nghiệp ngành massage body tại Thai
                                Massage School of Chiang Mai (Thái Lan)
                            </li>
                            <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="lecturer-gallery pb-10">

                <div class="h-80 flex">
                    <div class="w-40 h-72 relative">
                        <div
                            class="h-full absolute z-10"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Nguyễn-thị-Hằng.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="text-white uppercase font-black">Giảng viên</span>
                        <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">NGUYỄN THỊ HẰNG</p>
                        <span class="lecturer-specializ leading-5   "
                            >Giảng viên bộ môn chăm sóc và điều trị da
                        </span>
                        <ul>
                            <li class="mt-1">
                                6 năm kinh nghiệm làm việc và giảng dạy bộ
                                môn chăm sóc, điều trị da
                            </li>
                            <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                            <li class="mt-1">
                                Đảm nhận nhiều vị trí quan trọng như trưởng
                                bộ phận các chuỗi thẩm mỹ viện uy tín, quản
                                lý nhiều cơ sở thẩm mỹ tại TP.HCM.
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="h-80 flex">
                    <div class="w-40 h-72 relative">
                        <div
                            class="h-full absolute z-10"
                            style="width: 150px"
                        >
                            <img
                                src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thị-Tuyết.png"
                                class="w-full h-full"
                            />
                        </div>
                        <div class="border-shadow"></div>
                        <div class="shadow-bottom"></div>
                    </div>

                    <div class="lecturer-info">
                        <span class="text-white uppercase font-black">Giảng viên</span>
                        <p class="text-2xl font-black text-yellow-500 uppercase py-3 flex-1 lg:flex-none">NGÔ THỊ TUYẾT</p>
                        <span class="lecturer-specializ leading-5   "
                            >Giảng viên bộ môn phun xăm
                        </span>
                        <ul>
                            <li class="mt-1">
                                7 năm làm việc và giảng dạy chuyên ngành
                                Phun xăm thẩm mỹ
                            </li>
                            <li class="mt-1">Chứng chỉ nghiệp vụ sư phạm</li>
                            <li class="mt-1">
                                Đạt nhiều thành tích trong các cuộc thi tay
                                nghề quốc tế
                            </li>
                            <li class="mt-1">
                                Xem việc giáo dục ngành thẩm mỹ như cách thể
                                hiện đam mê của mình, cô luôn mong muốn gửi
                                gắm đến học viên những kiến thức, kỹ thuật
                                phun xăm hoàn hảo nhất
                            </li>
                        </ul>
                    </div>
                </div>

                
            </div></ng-template
        >
    </swiper>

    <swiper
        [config]="config"
        [pagination]="{
            dynamicBullets: true,
            clickable: true
        }"
        class="mySwiper  lg:hidden"
    >
        <ng-template swiperSlide
            >
            <div class="item-lecturer  justify-between">
                <div class="lecturer-img lecturer-img_mobile relative">
                    <div
                        class="h-full absolute z-10 bottom-0"
                        style="width: 150px"
                    >
                        <img
                            src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/GĐ--KIỀU-OANH.png"
                            class="w-full h-full"
                        />
                    </div>
                    <div class="border-shadow"></div>
                    <div class="shadow-bottom"></div>
                </div>

                <div class="lecturer-info">
                    <span class="lecturer-title leading-5"
                        >Giám đốc học viện Timona Acdemy</span
                    >
                    <div class="flex py-2 flex-col">
                        <p class="lecturer-name mb-0 flex-1 lg:flex-none">
                            Nguyễn Thị <br class="hidden lg:block" />
                            Kiều Oanh
                        </p>
                        <span class="lecturer-specializ leading-5    flex-1 lg:flex-none"
                            >Trưởng bộ môn chăm sóc điều trị da</span
                        >
                    </div>

                    <ul>
                        <li class="mt-2 leading-5" class="lg:text-end">
                            15 năm kinh nghiệm làm việc, giảng dạy trong
                            ngành thẩm mỹ
                        </li>
                        <li class="mt-2 leading-5" class="lg:text-end">
                            Chứng nhận nhiều khóa điều trị da liễu cho bác
                            sĩ/ chuyên gia nước ngoài đứng lớp
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>

        <ng-template swiperSlide
            ><div class="item-lecturer  justify-between">
                <div class="lecturer-img lecturer-img_mobile relative">
                    <div class="h-full absolute z-10" style="width: 150px">
                        <img
                            src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Hoàng-Anh.png"
                            class="w-full h-full"
                        />
                    </div>
                    <div class="border-shadow"></div>
                    <div class="shadow-bottom"></div>
                </div>

                <div class="lecturer-info">
                    <span class="lecturer-title leading-5">Giảng viên</span>
                    <div class="flex flex-col py-2">
                        <p class="lecturer-name mb-0">
                            Tiền Ngọc Hoàng Anh
                        </p>
                        <span class="lecturer-specializ leading-5   "
                            >Trưởng bộ môn chăm sóc điều trị da</span
                        >
                    </div>

                    <ul>
                        <li class="mt-2 leading-5">
                            10 năm kinh nghiệm trong ngành chăm sóc điều trị
                            da
                        </li>
                        <li class="mt-2 leading-5">Chứng chỉ nghiệp vụ sư phạm</li>
                        <li class="mt-2 leading-5">
                            Cố vấn chuyên môn tại hệ thống viện thẩm mỹ Quốc
                            tế
                        </li>
                    </ul>
                </div>
            </div></ng-template
        >
        <ng-template swiperSlide>
            <div class="item-lecturer  justify-between">
                <div class="lecturer-img lecturer-img_mobile relative">
                    <div class="h-full absolute z-10" style="width: 150px">
                        <img
                            src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Thúy-Hằng.png"
                            class="w-full h-full"
                        />
                    </div>
                    <div class="border-shadow"></div>
                    <div class="shadow-bottom"></div>
                </div>

                <div class="lecturer-info">
                    <span class="lecturer-title leading-5">Giảng viên</span>
                    <div class="flex flex-col py-2">
                        <p class="lecturer-name mb-0">
                            NGUYỄN THỊ THÚY HẰNG
                        </p>
                        <span class="lecturer-specializ leading-5   "
                            >Phó bộ môn chăm sóc và điều trị da</span
                        >
                    </div>

                    <ul>
                        <li class="mt-2 leading-5">
                            12 năm kinh nghiệm làm việc và giảng dạy bộ môn
                            chăm sóc, điều trị da
                        </li>
                        <li class="mt-2 leading-5">Chứng chỉ nghiệp vụ sư phạm</li>
                        <li class="mt-2 leading-5">
                            Từng đảm nhiệm vị trí trưởng bộ phận tại các
                            thẩm mỹ viện uy tín Tp. HCM
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="item-lecturer">
                <div class="lecturer-img relative">
                    <div
                        class="h-full absolute z-10"
                        style="width: 150px"
                    >
                        <img
                            src="../../../assets/images/homepages/homepage/GIẢNG VIÊN (PNG/Maria-Nguyễn.png"
                            class="w-full h-full"
                        />
                    </div>
                    <div class="border-shadow"></div>
                    <div class="shadow-bottom"></div>
                </div>

                <div class="lecturer-info">
                    <span class="lecturer-title leading-5">Giảng viên</span>
                    <p class="lecturer-name mb-0">
                        MARIA NGUYỄN
                    </p>
                    <span class="lecturer-specializ leading-5   "
                        >Giảng viên bộ môn phun xăm thẩm mỹ
                    </span>
                    <ul>
                        <li class="mt-2 leading-5">
                            12 năm kinh nghiệm làm việc và giảng dạy bộ
                            môn chăm sóc, điều trị da
                        </li>
                        <li class="mt-2 leading-5">Chứng chỉ nghiệp vụ sư phạm</li>
                        <li class="mt-2 leading-5">
                            Từng đảm nhiệm vị trí trưởng bộ phận tại các
                            thẩm mỹ viện uy tín Tp. HCM
                        </li>
                    </ul>
                </div>
            </div>

        </ng-template>
        
        
        
    </swiper>
    <div class="lg:hidden flex justify-center items-center">
        <a
            routerLink="gioi-thieu/giang-vien"
            class="text-indigo-900 button bg-white p-1 font-medium rounded-lg "
            >Xem thêm các giảng viên khác >></a
        >
    </div>
</div>