<div class="pb-5 relative md:px-0 px-3 md:pt-10">
    <div
        [innerHTML]="danhmuc?.Mota"
        class="text-2xl text-indigo-900 font-bold md:text-left text-center"
    ></div>

    <div
        class="absolute left-1/2 bottom-3 centerX h-px w-16 bg-indigo-900 md:hidden"
    ></div>
</div>
<div class="flex w-full md:px-0 px-3">
    <div class="md:w-3/4 w-full flex flex-col md:pr-5">
        <div class="cursor-poniter" routerLink="../baiviet/{{ baiviet1?.slug }}">
            <div class="">
                <img
                    src="{{ baiviet1?.thumbimage }}"
                    class="w-full "
                    alt=""
                />
            </div>

            <div class="flex flex-col justify-around lg:mx-0">
                <p
                    class="uppercase lg:text-3xl mb-2 relative font-black text-indigo-900 lg:text-left pt-5 text-2xl leading-7"
                >
                    {{ baiviet1.title }}
                </p>
                <div
                    [innerHTML]="baiviet1.des"
                    class="text-indigo-900 font-medium new-des text-justify"
                ></div>

                <a class="text-indigo-900 !mb-0 pt-3 font-medium"
                routerLink="../baiviet/{{ baiviet1?.slug }}"
                >
                    Xem thêm >></a
                >
            </div>
        </div>
        <app-carousel-course></app-carousel-course>
        <div class="lg:pt-10 pt-5 relative">
            <div
                class="grid grid-cols-2 md:gap-10 gap-5"
                *ngIf="baiviet2?.length > 0"
            >
                <div
                    class="cursor-pointer flex flex-col justify-between"
                    routerLink="../baiviet/{{ item?.slug }}"
                    *ngFor="let item of baiviet2"
                >
                    <div class="w-full mr-4">
                        <div class="banner-img">
                            <img
                                src="{{ item?.thumbimage }}"
                                class=" w-full md:h-56 object-contain"
                                alt=""
                            />
                            <!-- <img
                                src="../../../assets/images/new-itemmb.png"
                                class="h-full lg:hidden"
                                alt=""
                            /> -->
                        </div>
                    </div>
                    <div
                        class="w-full flex flex-col new-info justify-between pt-3 md:h-28"
                    >
                        <p
                            class="text-indigo-900 font-black uppercase md:leading-5 leading-4"
                        >
                            {{ item?.title }}
                        </p>
                        <div
                            [innerHTML]="baiviet1.des"
                            class="pb-2 text-indigo-900 item-des hidden md:block text-justify leading-5"
                        ></div>
                    </div>
                    <a class="text-indigo-900 pt-2 md:pt-5 new-link"
                    routerLink="../baiviet/{{ item?.slug }}"

                        >Xem Thêm >></a
                    >
                </div>
            </div>
            <div
                class="absolute h-px w-full bg-gray-300 top-0 left-0 md:hidden"
            ></div>
            <div class="md:pt-10 pt-5">
                <div class="grid grid-cols-2 md:gap-10 gap-5">
                    <div
                        class="flex md:flex-row flex-col justify-start new-item cursor-pointer"
                        routerLink="../baiviet/{{ item?.slug }}"
                        *ngFor="let item of baiviet3"
                    >
                        <div class="md:w-1/2 w-full bg-gray-200 mr-4">
                            <div class="banner-img h-full">
                                <img
                                    src="{{ item?.thumbimage }}"
                                    class="h-full w-full"
                                    alt=""
                                />
                            </div>
                        </div>
                        <div
                            class="md:w-1/2 w-full flex flex-col new-info justify-center pt-3"
                        >
                            <p
                                class="md:text-lg text-md text-indigo-900 font-black uppercase text-justify md:leading-5 leading-4"
                            >
                                {{ item?.title }}
                            </p>
                            <a
                                routerLink="../baiviet/{{ item?.slug }}"
                                class="text-indigo-900 pt-2 md:pt-0 new-link md:hidden"
                                >Xem Thêm >></a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-pagination  [paginate]="arr?.length"></app-pagination> -->
        <div
            class="flex justify-center items-center py-10"
            *ngIf="arr.length > 0"
        >
            <div aria-label="Page navigation" class="navigation">
                <ul class="pagination text-3xl lg:text-xl">
                    <li class="mx-1">
                        <div
                            class="page-link py-2 px-3 rounded-full border border-indigo-900 text-indigo-900 font-black"
                            aria-label="Previous"
                        >
                            <span aria-hidden="true">&lt;</span>
                        </div>
                    </li>

                    <li
                        class="mx-1"
                        *ngFor="let item of arr; let i = index"
                        (click)="paginateNumber(i)"
                    >
                        <div
                            class="page-link py-2 px-3 rounded-full border border-indigo-900 rounded-full  font-black 
                            {{
                                indexPaginate == i
                                    ? 'bg-indigo-900 text-white'
                                    : 'text-indigo-900'
                            }}
                            "
                        >
                            {{ i + 1 }}
                        </div>
                    </li>

                    <li class="mx-1">
                        <div
                            class="page-link py-2 px-3 rounded-full border border-indigo-900 text-indigo-900 font-black"
                            aria-label="Next"
                        >
                            <span aria-hidden="true">&gt;</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="md:hidden pb-3">
            <div class="flex justify-center items-center relative py-3">
                <div class="bg-indigo-900 rounded-3xl p-2">
                    <a class="text-xl text-yellow-500 p-3 uppercase font-bold"
                        >lịch khai giảng</a
                    >
                </div>
                <div class="absolute w-full top-0 bg-gray-300 h-px"></div>
            </div>
            <app-form-new></app-form-new>
        </div>
    </div>
    <div class="w-1/4 rounded-xl hidden md:block">
        <div
            class="text-white bg-indigo-900 text-xl font-bold py-5 px-2 uppercase text-center rounded-t-xl"
        >
            danh sách khóa học
        </div>
        <app-courses></app-courses>
    </div>
</div>
