<div class="lg:max-w-7xl lg:mx-auto sm:px-6 lg:px-8">
    <div class="text-center mt-10 lg:mx-96 pb-4 lg:pb-0">
      <div class="dropdown">
        <button
          class="btn btn-secondary bg-indigo-900 rounded-3xl dropdown-toggle relative text-2xl text-yellow-500 uppercase"
          type="button"
          id="dropdownMenuButton1"
          style="width: 350px"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          xem nhanh nội dung
          <div
            class="absolute h-full bg-yellow-500 top-0"
            style="width: 2px; right: 45px"
          ></div>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a class="dropdown-item" routerLink="/goc-hoc-vien/hoat-dong"
              >Hoạt Động</a
            >
          </li>
          <li>
            <a class="dropdown-item" routerLink="/goc-hoc-vien/cam-nghi-hoc-vien"
              >Cảm Nghĩ Học Viên</a
            >
          </li>
        </ul>
      </div>
    </div>
  
    <div class="w-full h-1/2 flex flex-col hidden lg:block">
      <div class="pb-4">
        <nav class="flex" aria-label="Breadcrumb">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a
                routerLink=""
                class="inline-flex items-center  font-medium text-indigo-900 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
              >
                Home
              </a>
            </li>
            <li>
              <div class="flex items-center text-indigo-900">
                >>
                <a
                  routerLink=""
                  class="ml-1  font-medium text-indigo-900 hover:text-gray-900 md:ml-2 dark:text-gray-400 dark:hover:text-white"
                  >Khóa Học</a
                >
              </div>
            </li>
            <li aria-current="page">
              <div class="flex items-center text-indigo-900">
                >>
                <span
                  class="ml-1  font-medium text-text-indigo-900 md:ml-2 dark:text-indigo-900"
                  >Phun xăm Thẩm Mỹ</span
                >
              </div>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  
    <div class="bg-indigo-900 lg:px-10  lg:pb-10 wrapper padding-bottom">
      <p class="text-white uppercase text-center text-xl text-4xl pt-3">
       khóa chuyển giao công nghệ
      </p>
      <p class="lg:text-base  text-white intro-description text-justify lg:italic  font-medium">
        Bạn đang là chủ Spa nhưng thiếu kiến thức về thẩm mỹ và muốn nâng cấp trình độ chuyên môn để có thể phát triển sự nghiệp. Bạn đang bắt đầu tìm hiểu và có mong muốn thành lập Spa nhưng vẫn còn nhiều băn khoăn về kiến thức, cũng như chưa biết bắt đầu từ đâu. Khóa chuyển giao công nghệ sẽ là chìa khóa giúp bạn mở cửa thành công và có cơ hội nâng cao thu nhập, cũng như tạo thêm độ uy tín cho cơ sở của mình.
      </p>
    </div>
  

    <div class="wrapper">
     
    
      <div class="pt-4">
          <div class="">
            <h2 class="text-indigo-900 uppercase text-xl font-black">
              VÌ SAO PHẢI CHUYỂN GIAO CÔNG NGHỆ?
              </h2>
              <div class=" w-full flex lg:items-center justify-center" >
                <img src="../../../assets/images/banner-theme.png" class="w-500 h-300  object-cover" alt="">

              </div>
              <div class="text-indigo-900  text-center italic font-black pt-2 hidden lg:block">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. In iure porro
                laudantium eaque repellendus, 
              </div>
          </div>

          <div class="pb-1">
            <p class="uppercase text-indigo-900 uppercase  font-black mb-0">
                1.1 thực trạng
            </p>
            <p class="text-justify text-indigo-900 font-medium">
              Trong xu thế thị trường làm đẹp tại Việt Nam đang ngày phát triển, việc trau dồi kiến thức và các công nghệ làm đẹp hiện đại, sản phẩm chất lượng ngày càng được chú trọng. Bên cạnh những Spa lớn với thiết bị máy móc hiện đại còn có rất nhiều Spa có quy mô vừa và nhỏ chưa kịp cập nhật các xu hướng, công nghệ làm đẹp tân tiến. Đó là một thiệt thòi rất lớn.
              <br/>
              Nhằm chia sẻ các kiến thức và kỹ thuật điều trị trong lĩnh vực làm đẹp, Timona Academy đã tổng hợp kiến thức chuẩn y khoa và tổ chức khóa đào tạo CHUYỂN GIAO CÔNG NGHỆ SPA. Đây là cơ hội cho để các chủ Spa, học viên muốn mở spa, nhà đầu tư có nhu cầu tìm hiểu thêm về công nghệ mới, xu hướng làm đẹp “ăn khách” nhất cũng như thực hành các loại thiết bị hiện đại, chất lượng. Đồng thời trải nghiệm những dòng mỹ phẩm, dược mỹ phẩm cao cấp, chất lượng, an toàn hiện nay, từ đó mang đến cho khách hàng những dịch vụ làm đẹp đẳng cấp quốc tế  ngay tại Việt Nam.

            </p>
          </div>

          <div class="pb-1">
            <p class="uppercase text-indigo-900 uppercase  font-black mb-0">
                1.2 Công nghệ là đẹp hiện đại
            </p>
            <p class="text-justify text-indigo-900 font-medium">Đây là những công nghệ đang rất hot tại những nước có thế mạnh về ngành thẩm mỹ như Hàn Quốc, Hoa Kỳ, Thái Lan, Nhật Bản, Thụy Sĩ… và được ứng dụng thành công tại nhiều nước trên thế giới. Tại Việt Nam, những công nghệ này cũng đang rất được các chuyên gia làm đẹp, các Spa lớn và khách hàng quan tâm đặc biệt.
              <br/>

              Các phương pháp làm đẹp này không phẫu thuật, không xâm lấn, không gây chảy máu, đạt chuẩn quốc tế. Mang lại hiệu quả lâu dài và an toàn cao, chi phí thấp, không ảnh hưởng công việc hàng ngày, phù hợp với nhiều người. Ưu thế của các công nghệ này là giúp khách hàng trẻ đẹp hơn, tự tin hơn nhưng vẫn giữ được những nét tự nhiên vốn có.  Đem đến sự an toàn và hiệu quả cho người sử dụng.
              <br/>

              Chuyển giao công nghệ đánh dấu sự hội nhập của công nghệ làm đẹp quốc tế với thị trường thẩm mỹ Việt Nam nói riêng.

            </p>
          </div>

          <div class="pb-1">
            <p class="uppercase text-indigo-900 uppercase  font-black mb-0">
                1.2 Lợi ích của việc chuyển giao công nghệ
            </p>
            <p class="text-justify text-indigo-900 font-medium">
              Chăm sóc da giờ đây dường như trở thành dịch vụ chính yếu tại các cơ sở spa trên toàn quốc với nhu cầu làm đẹp đang tăng mạnh mỗi ngày. Khách hàng, đặc biệt là phụ nữ, luôn có nhiều lý do để đến spa thường xuyên như: chăm sóc trẻ hóa da, massage – giảm mỡ body; điều trị các vấn đề liên quan đến da như bệnh lý mụn, nám, rỗ, tàn nhang…
              <br/>
              Vì thế, chuyển giao công nghệ mang đến kiến thức về công nghệ, phương pháp giải quyết vấn đề về da và những lĩnh vực làm đẹp khác.
            </p>
          </div>
        
      </div>
    
      <div class="pt-4">
        <h2 class="text-indigo-900 uppercase text-xl mb-0 font-black">
        2. NỘI DUNG KHÓA HỌC CHUYỂN GIAO CÔNG NGHỆ SPA TẠI TIMONA ACADEMY
        </h2>
     
        <div class="text-indigo-900  text-justify pt-3 italic font-medium">
          Khóa học chuyển giao công nghệ được thiết kế với thời gian ngắn nhất từ 1,5 – 3 tháng, chú trọng 90% thời lượng thực hành – 10% lý thuyết. Học viên có cơ hội thực hành với các loại máy móc cao cấp trong ngành thẩm mỹ, được hướng dẫn các loại mỹ phẩm để chăm sóc da... Cụ thể khi đăng ký, học viên sẽ được các giảng viên của Timona Academy tận tâm hướng dẫn kèm cặp 1:1, truyền đạt toàn bộ hệ thống kiến thức rõ ràng, dễ hiểu, bám sát nhu cầu thực tế với những nội dung chính sau:

        </div>
        <div class="top-padding w-full pt-2">
            <div class="bg-indigo-900  grid  grid-cols-1 lg:gap-4  rounded-lg padding p-4 flex flex-wrap justify-between ">
               
                  <div class="relative pl-4 ">
                      <p class=" text-yellow-500 ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium uppercase">Tìm hiểu, phân tích kiến thức chuyên môn từng bệnh lý mụn, nám, rỗ, tàn nhang, da nhiễm corticoid, da nhạy cảm…
                      </p>
                      <div class="absolute rounded-full radius h-1 w-1  left-0  bg-yellow-500"></div>
                    </div>
                    <div class="relative pl-4 ">
                      <p class=" text-yellow-500  ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium uppercase">Xác định đúng cấp độ bệnh – Lên phác đồ điều trị chuẩn y khoa
                      </p>
                      <div class="absolute rounded-full radius h-1 w-1  left-0  bg-yellow-500"></div>
                    </div>

                    <div class="relative pl-4 ">
                      <p class=" text-yellow-500  ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium uppercase">Vấn đáp cùng chuyên gia đầu ngành, CEO chuỗi viện thẩm mỹ viện 5 sao tại Việt Nam
                      </p>
                      <div class="absolute rounded-full radius h-1 w-1  left-0  bg-yellow-500"></div>
                    </div>

                    <div class="relative pl-4 ">
                      <p class=" text-yellow-500  ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium uppercase">Thực hành chuyển giao công nghệ điều trị tiên tiến nhất hiện nay

                      </p>
                      <div class="absolute rounded-full radius h-1 w-1  left-0  bg-yellow-500"></div>
                    </div>
                    <div class="relative pl-4 ">
                      <p class=" text-yellow-500  ml-2 lg:text-lg  lg:mb-0 mb-2 font-medium uppercase">Vận hành nhuần nhuyễn các công nghệ tân tiến nhất trên thị trường

                      </p>
                      <div class="absolute rounded-full radius h-1 w-1  left-0  bg-yellow-500"></div>
                    </div>
                   
                   
               
            </div>
          
          </div>
        </div>

        <div class="pt-4 w-full ">
          
       
          <div class="flex justify-center items-center relative pb-3">
              <div class="bg-indigo-900 rounded-3xl p-2">
                  <a class="text-xl  text-yellow-500 p-3">Đăng ký tư vấn ngay</a>
              </div>
              <div class="absolute w-full bottom-0 bg-indigo-900 h-1 rounded-lg" ></div>
          </div>
        </div>

          
    
         
    
          
          <div class="pt-4">
            <h2 class="text-indigo-900 uppercase text-xl mb-2 font-black">3. KỸ NĂNG ĐẠT ĐƯỢC SAU KHÓA HỌC</h2>
            <div class="flex justify-center items-center">
              <div class="w-[500px] hidden lg:block h-[300px]" >
                <img src="../../../assets/images/banner-theme.png " class="w-full h-full" alt="">
            </div>
            </div>
           
            
    
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0 lg:ml-2">Được trang bị tất cả kiến thức chuyên sâu về da và các bệnh lý liên quan như nám, tàn nhang, mụn, lão hoá,…
              </p>
              <div class="lg:absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Hiểu về cách vận hành và các thông số trên các loại máy móc, thiết bị làm đẹp hiện đại</p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Hiểu được đặc tính riêng của từng làn da, phương pháp chăm sóc phù hợp sau khi xử lý các vấn đề của da</p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Có tay nghề chăm sóc da giỏi, có kiến thức về làm đẹp và chăm sóc sức khỏe y tế cơ bản, tăng tính cạnh tranh với những spa, viện thẩm mỹ cao cấp</p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Có thêm các công nghệ làm đẹp</p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            
            
           
          </div>
          <div class="pt-4">
            <h2 class="text-indigo-900 uppercase text-xl font-black mb-2">4. LÝ DO BẠN NÊN HỌC KHÓA CHUYỂN GIAO CÔNG NGHỆ KỸ THUẬT CAO TẠI TIMONA ACADEMY
            </h2>
            <div class="flex justify-center items-center">
              <div class="w-[500px] hidden lg:block h-[300px]" >
                <img src="../../../assets/images/banner-theme.png " class="w-full h-full"  alt="">
            </div>
            </div>
            
            <p class="text-indigo-900">
              Timona Academy luôn chú trọng đào tạo nguồn nhân lực kỹ thuật cao nhằm cung cấp cho các trung tâm làm đẹp, chuyển giao công nghệ, nhượng quyền thương hiệu để hình thành chuỗi Spa trong nước và quốc tế:

            </p>
    
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0 lg:ml-2">Đào tạo theo giáo trình chuẩn Quốc Tế với đội ngũ giảng viên giàu kinh nghiệm, luôn cập nhật đầy đủ những kỹ thuật, công nghệ, xu hướng làm đẹp mới nhất hiện nay
              <div class="lg:absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Nắm bắt các xu hướng và kỹ thuật mới để giảng dạy cho học viên, tài trợ dụng cụ, hỗ trợ máy móc để học tập và thực hành trong suốt quá trình học
              </p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Cam kết đặt tiêu chuẩn 100% học viên tốt nghiệp phải hài lòng về kết quả học tập
              </p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Học viên được chủ động chọn khung giờ học, giúp học viên có thể vừa học vừa làm</p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Hỗ trợ chỗ ở nội trú đầy đủ tiện nghi, máy lạnh điều hòa… cho học viên ở xa
              </p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Cam kết có việc làm sau khóa học
              </p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Cấp chứng chỉ đào tạo nghề chuẩn Quốc tế

              </p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Môi trường học tập chuyên nghiệp, trang thiết bị, cơ sở vật chất hiện đại
              </p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            <div class="relative lg:pl-4">
              <p class="text-indigo-900 mb-0  lg:ml-2">Hỗ trợ tư vấn học viên mở tiệm kinh doanh, làm chủ trong lĩnh vực chăm sóc sắc đẹp sau khi tốt nghiệp
              </p>
              <div class="absolute hidden lg:block rounded-full radius h-1 w-1  left-0 bg-indigo-900"></div>
            </div>
            
            
            <div class="flex justify-center items-center relative py-3">
              <div class="bg-indigo-900 rounded-3xl p-2">
                  <a class="text-xl  text-yellow-500 p-3">Liên hệ nhận lịch khai giảng ngay</a>
              </div>
              <div class="absolute hidden lg:block w-full bottom-0 bg-indigo-900 h-1 rounded-lg"></div>
          </div>
          </div>
    
       
          
          
    
          <div class="pt-4">
            <h2 class="text-indigo-900 uppercase mb-0 hidden text-xl font-black lg:block">5. đánh giá từ học viên</h2>
            <div class="flex justify-between lg:flex-row flex-col-reverse ">
              <div class="lg:w-3/5 mt-2">
                <h2 class="text-indigo-900 uppercase mb-0   lg:hidden">5. đánh giá từ học viên</h2>
                <p class="text-indigo-900 text-justify">
                  Với kinh nghiệm nhiều năm trong lĩnh vực đào tạo làm đẹp, Timona Academy cung cấp các khóa học chuyển giao công nghệ từ cơ bản đến nâng cao. Điều đặc biệt của khóa học chính là những kinh nghiệm thực tế được chính những chuyên gia thẩm mỹ chia sẻ. Học viên được trải nghiệm và tiếp thu những bài học hữu ích, nhanh chóng bắt kịp các công nghệ làm đẹp đỉnh cao trên thế giới, được hướng dẫn các loại mỹ phẩm để chăm sóc da giúp học viên có thể hành nghề thành thạo trong thời gian ngắn nhất.
                </p>
              </div>
              <div class="lg:w-2/5 flex justify-end">
                  <div class="flex justify-center items-center w-full">
                    <iframe width="450" height="315" src="https://www.youtube.com/embed/pjgElO5jKOs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
              </div>
            </div>
          </div>
    
          <div class="pt-10">
            <div
            class="form-sale relative hidden lg:block lg:max-w-7xl lg:mx-auto lg:px-8"
        >
            <div class="text-5xl text-white absolute left-0 w-full">
                <img
                    src="../../../assets/images/homepages/homepage/Đăng ký kháo học/Dangkykhoahoc.png"
                    class="w-full h-full top-0 left"
                    alt=""
                />
            </div>
            <div class="form-wrapper rounded-2xl">
                <div class="form-right ml-5">
                    <form class="form-submit relative">
                        <div class="flex justify-between pb-3">
                            <input
                                type="text"
                                id="username-success"
                                class="border border-none bg-white text-black-900 placeholder-black-700 text-sm mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                                placeholder="HỌ TÊN"
                            />
                            <input
                                type="text"
                                id="username-success"
                                class="border border-none bg-white text-black-900 placeholder-black-700 text-sm ml-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                                placeholder="SỐ ĐIỆN THOẠI"
                            />
                        </div>

                        <div class="flex justify-between mt-3 pb-2">
                            <input
                                type="text"
                                id="username-success"
                                class="border border-none bg-white text-black-900 placeholder-black-700 text-sm mr-3 rounded-lg focus:ring-black-500 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                                placeholder="MÃ GIỚI THIỆU"
                            />

                            <select
                                id="countries"
                                class="g-green-50 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 focus:border-black-500 ml-3 block p-1.5 dark:bg-black-100 dark:border-black-400"
                            >
                                <option>KHÓA HỌC</option>
                            </select>
                        </div>

                        <button class="absolute bottom-0">
                            đăng kí ngay
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="formsale-mobile bg-indigo-900 rounded-lg lg:hidden">
            <div
                class="flex justify-center items-center pt-5 text-white text-5xl"
            >
                480*500
            </div>
            <form class="form-submit pb-8 justify-center items-center">
                <input
                    type="text"
                    id="username-success"
                    class="bg-white border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                    placeholder="HỌ TÊN"
                />
                <input
                    type="text"
                    id="username-success"
                    class="bg-white border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                    placeholder="SỐ ĐIỆN THOẠI"
                />
                <input
                    type="text"
                    id="username-success"
                    class="bg-white border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 mx-2 mt-4 focus:border-black-500 block p-1.5 dark:bg-black-100 dark:border-black-400"
                    placeholder="MÃ GIỚI HIỆU"
                />

                <select
                    id="countries"
                    class="g-green-50 border border-none text-black-900 placeholder-black-700 text-sm rounded-lg focus:ring-black-500 focus:border-black-500 mx-2 mt-4 block p-1.5 dark:bg-black-100 dark:border-black-400"
                >
                    <option class="text-black-700">KHÓA HỌC</option>
                </select>

                <button class="text-center !w-full mx-32 rounded-lg">
                    đăng kí ngay
                </button>
            </form>
        </div>
          </div>
    
          
       
        </div>
       
     
    </div>
   

  